<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title - Cornerkick</title>
  @Styles.Render("~/Content/css")
  @Scripts.Render("~/bundles/modernizr")
  @Scripts.Render("~/bundles/jquery")
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        @{
          if (Request.IsAuthenticated) {
            @Html.ActionLink("Cornerkick", "Desk", "Member", new { area = "" }, new { @class = "navbar-brand" })
          } else {
            @Html.ActionLink("Cornerkick", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
          }
        }
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          @{
            if (Request.IsAuthenticated) {
              int iMails = CornerkickWebMvc.Controllers.MemberController.countNewMails();
              string sMails = "";
              if (iMails > 0) {
                sMails = " (" + iMails.ToString() + ")";
              }
              //@Html.ActionLink("Schreibtisch", "Desk", "Member", new { area = "" }, new { @class = "dropdown-toggle" })
              <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Saison</a>
                <ul class="dropdown-menu">
                  <li>@Html.ActionLink("Kalender", "Calendar", "Member")</li>
                  <li>@Html.ActionLink("Liga", "League", "Member")</li>
                  <li>@Html.ActionLink("Pokal", "Cup", "Member")</li>
                </ul>
              </li>
              <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mannschaft</a>
                <ul class="dropdown-menu">
                  <li>@Html.ActionLink("Aufstellung", "Team", "Member")</li>
                  <li>@Html.ActionLink("Taktik", "Taktik", "Member")</li>
                  <li>@Html.ActionLink("Mannschaftstraining", "Training", "Member")</li>
                  <li>@Html.ActionLink("Jugendspieler", "Jouth", "Member")</li>
                </ul>
              </li>
              <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Verein</a>
                <ul class="dropdown-menu">
                  <li>@Html.ActionLink("Finanzen", "Finance", "Member")</li>
                  <li>@Html.ActionLink("Sponsoren", "Sponsor", "Member")</li>
                  <li>@Html.ActionLink("Personal", "Personal", "Member")</li>
                  <li>@Html.ActionLink("Stadion", "Stadion", "Member")</li>
                  <li>@Html.ActionLink("Vereinsgelände", "StadiumSurroundings", "Member")</li>
                </ul>
              </li>
              <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Büro @sMails</a>
                <ul class="dropdown-menu">
                  <li>@Html.ActionLink("Postfach" + @sMails, "Mail", "Member")</li>
                  <li>@Html.ActionLink("Transferliste", "Transfer", "Member")</li>
                  <li>@Html.ActionLink("Livespiel", "ViewGame", "ViewGame")</li>
                  <li>@Html.ActionLink("Konsole", "Console", "Member")</li>
                </ul>
              </li>
            }
          }
        </ul>
        @Html.Partial("_LoginPartial")
      </div>

      @{
        if (Request.IsAuthenticated) {
          CornerkickCore.Core.User usr = CornerkickWebMvc.Controllers.AccountController.ckUser();
          var sEmblem = "/Content/Uploads/0.png";
          <div class="" style="position: relative; width: 100%; margin-top: 2px; height: 0px">
            <div style="position: relative; width: 100%; height: 20px; background-color: white; border: 1px solid black">
              <div style="position: absolute; height: 0px; margin-left: 1%; width: 49%; left:  0%; text-align: left">
                @Html.ActionLink(MvcApplication.ckcore.sWochentag[(int)MvcApplication.ckcore.dtDatum.DayOfWeek] + ", " + MvcApplication.ckcore.dtDatum.ToString("d", CornerkickWebMvc.Controllers.AccountController.ciUser) + ", " + MvcApplication.ckcore.dtDatum.ToString("t", CornerkickWebMvc.Controllers.AccountController.ciUser), "Calendar", "Member")
              </div>
              <div style="position: absolute; height: 0px; width: 49%; left: 50%; text-align: right">
                @{
                  CornerkickCore.Core.Club clb = CornerkickWebMvc.Controllers.AccountController.ckClub();
                  int iCash = clb.iBalance;
                  string sCash = "0";
                  if (iCash != 0) { sCash = iCash.ToString("#,#", CornerkickWebMvc.Controllers.AccountController.ciUser); }
                }
                @Html.ActionLink(sCash + " €", "Finance", "Member")
              </div>
            </div>

            @{
              if (usr.game != null) {
                if (!usr.game.data.bFinished) {
                  <div class="" style="position: relative; width: 100%; margin-top: 2px; height: 0px">
                    <div style="position: absolute; width: 100%; height: 20px; background-color: white">
                      <div style="position: absolute; height: 0px; margin-left: 1%; width: 98%; left:  0%; text-align: center">
                        @Html.ActionLink("Livespiel: " + MvcApplication.ckcore.game.tl.sSpielmin(usr.game.tsSpielminute, false) + usr.game.data.team[0].sTeam + " vs. " + usr.game.data.team[1].sTeam + " - " + usr.game.data.team[0].iGoals.ToString() + ":" + usr.game.data.team[1].iGoals.ToString(), "ViewGame", "ViewGame", null, new { @style = "font-weight:bold; color:red" })
                      </div>
                    </div>
                  </div>
                }
              }
            }
            <div style="position: relative; width: 15%; height: 160px; top: 20px; left: 85%; text-align: right; z-index: 0">
              <img id="imgEmblem" style="position: absolute; right: 10%; height: 100%" src=@sEmblem alt="" />
            </div>
          </div>
        }
      }
    </div>
  </div>

  <div id="box_top" style="position: relative; width: 100%; height: 50px; background-color: white"></div>

  <div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
      <p>&copy; @DateTime.Now.Year - Cornerkick</p>
    </footer>
  </div>

  @Scripts.Render("~/bundles/bootstrap")
  @RenderSection("scripts", required: false)
</body>
</html>
