@using Microsoft.AspNet.Identity

<!DOCTYPE html>
@{
  CornerkickManager.User usr = null;
  CornerkickManager.Club clb = null;
  string sEmblem = "";
  System.Globalization.CultureInfo ci = System.Globalization.CultureInfo.CurrentCulture;

  if (MvcApplication.ckcore != null) {
    string sUserId = User.Identity.GetUserId();
    foreach (CornerkickManager.User usrTmp in MvcApplication.ckcore.ltUser) {
      if (usrTmp.id.Equals(sUserId)) {
        usr = usrTmp;
        break;
      }
    }

    clb = CornerkickWebMvc.Controllers.MemberController.ckClubStatic(User);

    if (Request.IsAuthenticated) {
      sEmblem = @"/Content/Uploads/emblems/";

      if (clb != null) {
        if (clb.bNation) {
          sEmblem = @"/Content/Icons/flags/" + CornerkickManager.Main.sLandShort[clb.iLand] + ".png";
        } else {
          sEmblem += clb.iId.ToString() + ".png";
        }

        int iLandUser = clb.iLand;
        if (iLandUser >= 0 && iLandUser < CornerkickWebMvc.Controllers.MemberController.sCultureInfo.Length) {
          ci = new System.Globalization.CultureInfo(CornerkickWebMvc.Controllers.MemberController.sCultureInfo[iLandUser]);
        }
      } else {
        sEmblem += "0.png";
      }
    }
  }
}
<div id="divDataEmblem" data-name="@sEmblem"></div>

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title - Cornerkick</title>
  @Styles.Render("~/Content/css")
  @Scripts.Render("~/bundles/modernizr")
  @Scripts.Render("~/bundles/jquery")
  <style>
    body {
      background-repeat: no-repeat;
      background-position: right 10% top 100px;
      background-size: 10%;
      background-color: white;
    }

    divSidebarLeft {
      float: left;
      margin: 10px;
      padding: 10px;
      width: 120px;
      height: 600px;
    }
  </style>

  <script type="text/javascript">
    $(document).ready(function () {
      var sEmblemImg = $('#divDataEmblem').data('name');
      document.getElementById("divEmblem").style.backgroundImage = 'url("' + sEmblemImg + '")';
      document.getElementById("divEmblem").style.backgroundRepeat = 'no-repeat';
      document.getElementById("divEmblem").style.backgroundSize = '100%';
    });

    function switchClubNation() {
      $.ajax({
        type: 'post',
        url: '/Member/SwitchClubNation',
        dataType: "json",
        success: function (bShowNation) {
          location.reload(true);
        }
      });
    }
  </script>
</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        @{
          if (Request.IsAuthenticated) {
            @Html.ActionLink("Cornerkick", "Desk", "Member", new { area = "" }, new { @class = "navbar-brand" })
          } else {
            @Html.ActionLink("Cornerkick", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
          }
        }
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Saison</a>
            <ul class="dropdown-menu">
              @{
                if (Request.IsAuthenticated && usr != null) {
                  <li>@Html.ActionLink("Kalender", "Calendar", "Member")</li>
                }
              }
              <li>@Html.ActionLink("Liga", "League", "Member")</li>
              <li>@Html.ActionLink("Pokal", "Cup", "Member")</li>
              @{
                CornerkickManager.Cup cupGold = MvcApplication.ckcore.tl.getCup(3);
                if (cupGold != null) {
                  <li>@Html.ActionLink("Gold Cup", "CupGold", "Member")</li>
                }
                CornerkickManager.Cup cupSilver = MvcApplication.ckcore.tl.getCup(4);
                if (cupSilver != null) {
                  <li>@Html.ActionLink("Silver Cup", "CupSilver", "Member")</li>
                }
              }
              <li>@Html.ActionLink("WM", "CupWc", "Member")</li>
            </ul>
          </li>

          @{
            if (Request.IsAuthenticated && usr != null) {
              int iMails = CornerkickWebMvc.Controllers.MemberController.MailCountNewMails(usr);
              string sMails = "";
              if (iMails > 0) {
                sMails = " (" + iMails.ToString() + ")";
              }
              <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mannschaft</a>
                <ul class="dropdown-menu">
                  <li>@Html.ActionLink("Aufstellung", "Team", "Member")</li>
                  <li>@Html.ActionLink("Taktik", "Taktik", "Member")</li>
                  <li>@Html.ActionLink("Mannschaftstraining", "Training", "Member")</li>
                  @{
                    if (clb != null && !clb.bNation) {
                      <li>@Html.ActionLink("Jugendspieler", "Jouth", "Member")</li>
                      <li>@Html.ActionLink("Verträge", "Contracts", "Member")</li>
                    }
                  }
                </ul>
              </li>
              if (clb != null && !clb.bNation) {
                <li>
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Verein</a>
                  <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Übersicht", "ClubDetails", "Member", new { iClub = clb.iId }, null)</li>
                    <li>@Html.ActionLink("Personal", "Personal", "Member")</li>
                    <li>@Html.ActionLink("Finanzen", "Finance", "Member")</li>
                    <li>@Html.ActionLink("Sponsoren", "Sponsor", "Member")</li>
                    <li>@Html.ActionLink("Merchandising", "Merchandising", "Member")</li>
                    <li>@Html.ActionLink("Stadion", "Stadion", "Member")</li>
                    <li>@Html.ActionLink("Vereinsgelände", "StadiumSurroundings", "Member")</li>
                  </ul>
                </li>
              }
              <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Büro @sMails</a>
                <ul class="dropdown-menu">
                  <li>@Html.ActionLink("Postfach" + @sMails, "Mail", "Member")</li>
                  @if (clb != null) {
                    if (clb.bNation) {
                      <li>@Html.ActionLink("Spielernominierungen", "Transfer", "Member")</li>
                    } else {
                      <li>@Html.ActionLink("Transfermarkt", "Transfer", "Member")</li>
                    }
                  }
                  <li>@Html.ActionLink("Statistik", "Statistic", "Member")</li>
                  <li>@Html.ActionLink("Persönliches", "UserView", "Member")</li>
                  <li>@Html.ActionLink("Livespiel", "ViewGame", "ViewGame")</li>
                  @*<li>@Html.ActionLink("Konsole", "Console", "Member")</li>*@
                </ul>
              </li>
            }
          }
        </ul>
        @Html.Partial("_LoginPartial")
      </div>

      <div style="position: absolute; width: 100%; top: 44px; margin-left: -9px; border: 2px solid white"></div>

      @{
        if (Request.IsAuthenticated && MvcApplication.ckcore != null) {
          <div class="" style="position: relative; width: 100%; margin-top: 2px; height: 0px">
            <div id="divSidebarLeft" style="position: absolute; width: 120px; height: 600px; top: 100px; left: -200px">
              <iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=3&p=29&l=ez&f=ifr&linkID=c4a136973d3f4339112f667dda767f3b&t=cornerkick03-21&tracking_id=cornerkick03-21" width="120" height="600" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
            </div>

            <div style="position: relative; width: 100%; height: 22px; background-color: white; border: 2px solid rgb(31, 158, 69)">
              <div style="position: absolute; height: 0px; width: 210px; left: 4px; text-align: left">
                @{
                  string sCkTime = MvcApplication.ckcore.dtDatum.ToString("ddd", ci) + ", " + MvcApplication.ckcore.dtDatum.ToString("d", ci) + ", " + MvcApplication.ckcore.dtDatum.ToString("t", ci);
                  if (!MvcApplication.timerCkCalender.Enabled) {
                    sCkTime += " (Pause)";
                  }
                  @Html.ActionLink(sCkTime, "Calendar", "Member");
                }
              </div>
              @{
                if (clb != null && !clb.bNation) {
                  <div style="position: absolute; height: 0px; width: 50%; right: 4px; text-align: right">
                    @{
                      string sCash = "0";
                      if (clb != null) {
                        if (clb.iBalance       != 0) { sCash = clb.iBalance.ToString("#,#", ci); }
                        if (clb.iBalanceSecret != 0) { sCash += " (" + clb.iBalanceSecret.ToString("#,#", ci) + ")"; }
                      }
                    }
                    @Html.ActionLink(sCash + " €", "Finance", "Member")
                  </div>
                }
              }
            </div>

            @{
              if (usr != null && usr.game != null) {
                if (!usr.game.data.bFinished) {
                  <div class="" style="position: relative; width: 100%; margin-top: 2px; height: 0px">
                    <div style="position: absolute; width: 100%; height: 20px; background-color: white">
                      <div style="position: absolute; height: 0px; margin-left: 1%; width: 98%; left:  0%; text-align: center">
                        @Html.ActionLink("Livespiel: " + MvcApplication.ckcore.ui.getMinuteString(usr.game.tsMinute, false) + " Min.: " + usr.game.data.team[0].sTeam + " vs. " + usr.game.data.team[1].sTeam + " - " + usr.game.data.team[0].iGoals.ToString() + ":" + usr.game.data.team[1].iGoals.ToString(), "ViewGame", "ViewGame", null, new { @style = "font-weight:bold; color:red" })
                      </div>
                    </div>
                  </div>
                }
              }
            }

            @{
              if (!MvcApplication.settings.bLoginPossible) {
                <div class="" style="position: relative; width: 100%; margin-top: 6px; margin-bottom: 6px; height: auto; text-align: center; background-color: yellow; border: 2px solid red">
                  <strong style="font-size: 24px; color: red">ACHTUNG! DEMNÄCHST FINDET EIN UPDATE STATT. BITTE LOGGEN SIE SICH AUS!</strong>
                </div>
              }
            }
            @*
              <div style="position: relative; width: 15%; height: 160px; top: 20px; left: 85%; text-align: right; z-index: 0">
                <img id="imgEmblem" style="position: absolute; right: 10%; height: 100%" src=@sEmblem alt="" />
              </div>
            *@
          </div>
        }
      }
    </div>
  </div>

  <div id="box_top" style="position: relative; width: 100%; height: 30px; background-color: white"></div>

  <div id="divEmblem" style="position: absolute; width: 10%; height: 100%; top: 100px; right: 10%; text-align: right; cursor: pointer" onclick="switchClubNation()"></div>

  <div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
      <p>&copy; @DateTime.Now.Year - Cornerkick</p>
    </footer>
  </div>

  @Scripts.Render("~/bundles/bootstrap")
  @RenderSection("scripts", required: false)
</body>
</html>
