<!DOCTYPE html>
@model CornerkickWebMvc.Models.ClubModel

@{
  ViewBag.Title = Model.club.sName;
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
  <script type="text/javascript" src="~/Scripts/jquery-2.0.0.min.js"></script>
  <script type="text/javascript" src="~/Scripts/canvasjs.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      var divEmblem = document.getElementById("divEmblemClub");
      var sEmblemImg = @Html.Raw(Json.Encode(Model.sEmblem));
      divEmblem.innerHTML += sEmblemImg;

      plotPlaceHistory();
      plotAttrFactor();
    });

    function plotPlaceHistory() {
      $.ajax({
        type: 'post',
        url: '/Member/ClubDetailsGetPlaceHistory',
        dataType: "json",
        data: { iClubId: @Model.club.iId },
        success: function (dataPlace) {
          var chartDev = new CanvasJS.Chart("divChartPlaceHistory", {
            animationEnabled: true,
            theme: "theme2",//theme1
            axisX: {
              title: "Saison",
              interval: 1,
              gridThickness: 1
            },
            axisY: {
              title: "Platzierung",
              interval: 1,
              minimum: 0.5,
              maximum: 16.0,
              includeZero: false,
              reversed: true
            },
            legend: {
              horizontalAlign: "center", // left, center ,right
              verticalAlign: "bottom",  // top, center, bottom
              dockInsidePlotArea: true
            },
            data: [
              {
                // Change type to "bar", "splineArea", "area", "spline", "pie",etc.
                type: "line",
                dataPoints: dataPlace
              }
            ]
          });

          chartDev.render();
        }
      });
    }

    function plotAttrFactor() {
      $.ajax({
        type: 'post',
        url: '/Member/ClubGetAttrFtr',
        dataType: "json",
        data: { iClubId: @Model.club.iId },
        success: function (dataAttrFtr) {
          var chartAttrFtr = new CanvasJS.Chart("divChartAttrFtr", {
            animationEnabled: true,
            theme: "theme2",//theme1
            title: {
              text: "Erfolgsfaktor",
              fontSize: 16
            },
            toolTip: {
              shared: true,
              contentFormatter: function (e) {
                var content = "";
                var fAttrFtrSeasonTotal = 0.0;

                // For each cup
                for (var i = 0; i < e.entries.length; i++) {
                  fAttrFtrSeasonTotal += e.entries[i].dataPoint.y;
                  content += "<strong>" + e.entries[i].dataSeries.name + ":</strong> " + e.entries[i].dataPoint.y.toFixed(1) + e.entries[i].dataPoint.z;
                  content += "<br/>";
                }

                // Total for season
                content += "<hr style='margin: 2px'><strong>Total:</strong> " + fAttrFtrSeasonTotal.toFixed(1);
                content += "<br/>";

                return content;
              }
            },
            axisX: {
              title: "Saison",
              gridThickness: 1,
              interval: 1
            },
            axisY: {
              valueFormatString: "0.0"
            },
            legend: {
              horizontalAlign: "center", // left, center, right
              verticalAlign: "bottom",  // top, center, bottom
              dockInsidePlotArea: true
            },
            data: [
              {
                // Change type to "bar", "column", "splineArea", "area", "spline", "pie",etc.
                type: "stackedColumn",
                color: "green",
                name: "Liga",
                indexLabel: "{y}",
                indexLabelFontColor: "#EEEEEE",
                indexLabelPlacement: "inside",
                yValueFormatString: "0.0",
                dataPoints: dataAttrFtr[0]
              },
              {
                // Change type to "bar", "column", "splineArea", "area", "spline", "pie",etc.
                type: "stackedColumn",
                color: "blue",
                name: "Pokal",
                indexLabel: "{y}",
                indexLabelFontColor: "#EEEEEE",
                indexLabelPlacement: "inside",
                yValueFormatString: "0.0",
                dataPoints: dataAttrFtr[1]
              },
              {
                // Change type to "bar", "column", "splineArea", "area", "spline", "pie",etc.
                type: "stackedColumn",
                color: "rgb(255, 200, 14)",
                name: "Gold-Cup",
                indexLabel: "{y}",
                indexLabelFontColor: "#EEEEEE",
                indexLabelPlacement: "inside",
                yValueFormatString: "0.0",
                dataPoints: dataAttrFtr[2]
              },
              {
                // Change type to "bar", "column", "splineArea", "area", "spline", "pie",etc.
                type: "stackedColumn",
                color: "rgb(91, 146, 229)",
                name: "Silver-Cup",
                indexLabel: "{y}",
                indexLabelFontColor: "#EEEEEE",
                indexLabelPlacement: "inside",
                yValueFormatString: "0.0",
                dataPoints: dataAttrFtr[3]
              },
              {
                // Change type to "bar", "column", "splineArea", "area", "spline", "pie",etc.
                type: "stackedColumn",
                indexLabel: "{y}",
                name: "Testspiele",
                indexLabelFontColor: "#EEEEEE",
                indexLabelPlacement: "inside",
                yValueFormatString: "0.0",
                dataPoints: dataAttrFtr[4]
              }
            ]
          });

          chartAttrFtr.render();
        }
      });
    }
  </script>
</head>

<body>
  @{
    string sUser = "Computer";
    if (Model.club.user != null) {
      sUser = Model.club.user.sFirstname + " " + Model.club.user.sSurname;
    }

    string sDivision = "-";
    if (!Model.club.bNation) {
      sDivision = (Model.club.iDivision + 1).ToString() + ". Liga";
    }

    string sPlace = "-";
    if (!Model.club.bNation) {
      CornerkickManager.Cup league = MvcApplication.ckcore.tl.getCup(1, Model.club.iLand, Model.club.iDivision);
      sPlace = CornerkickManager.Tool.getLeaguePlace(league, Model.club, MvcApplication.ckcore.dtDatum).ToString();
    }

    float[] fAve = MvcApplication.ckcore.tl.getTeamAve(Model.club);
    string sAveStrength = fAve[3].ToString("0.0");
    string sAveAge = fAve[4].ToString("0.0");

    string sStadium = "-";
    string sStadiumSeats = "";
    if (!Model.club.bNation) {
      sStadium = Model.club.stadium.sName;
      sStadiumSeats = "(" + Model.club.stadium.getSeats().ToString("#,#", CornerkickWebMvc.Controllers.MemberController.getCiStatic(User)) + ")";
    }
  }


  <div style="position: relative; width: 100%; float: left; margin-bottom: 20px">
    <h2>@Model.club.sName</h2>

    @if (Model.bEmblemEditable) {
      using (Html.BeginForm("ClubDetails",
                            "Member",
                            new { iClub = Model.club.iId },
                            FormMethod.Post,
                            new { enctype = "multipart/form-data" })) {

        <div id="divEmblemClub" style="position: absolute; width: 10%; top: 0px; right: 0px; text-align: center; border-style: outset; border-width: 3px; border-color: lightgray; z-index: 99; cursor: pointer" onclick="document.getElementById('fileInput').click();"></div>
        <input id="fileInput" name="file" type="file" accept="image/*" style="display: none" onchange="this.form.submit();">
      }
    } else {
      <div id="divEmblemClub" style="position: absolute; width: 10%; top: 0px; right: 0px; text-align: center; border-style: outset; border-width: 3px; border-color: lightgray; z-index: 99"></div>
    }
  </div>

  <div style="position: relative; width: 100%; float: left; margin-bottom: 20px">
    <div style="position: relative; width: 40%; min-width: 320px; float: left">
      <h4>Allgemeines</h4>
      <table cellpadding="3" style="width: auto">
        <tbody>
          <tr>
            <td align="right">Manager:</td>
            <td align="left">@Html.ActionLink(sUser, "Mail", "Member")</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
          </tr>
          @if (!Model.club.bNation) {
            <tr>
              <td align="right">Land:</td>
              <td align="left">@CornerkickManager.Main.sLand[@Model.club.iLand]</td>
            </tr>
            <tr>
              <td align="right">Liga:</td>
              <td align="left">@sDivision</td>
            </tr>
            <tr>
              <td align="right">akt. Tabellenplatz:</td>
              <td align="left">@sPlace</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
          }
          <tr>
            <td align="right">Anzahl Spieler:</td>
            <td align="left">@Model.club.ltPlayer.Count</td>
          </tr>
          <tr>
            <td align="right">Durchschnittstärke:</td>
            <td align="left">@sAveStrength</td>
          </tr>
          <tr>
            <td align="right">Durchschnittsalter:</td>
            <td align="left">@sAveAge</td>
          </tr>
          @if (!Model.club.bNation) {
            <tr>
              <td align="right">Anzahl Jugendspieler:</td>
              <td align="left">@Model.club.ltPlayerJouth.Count</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td align="right">Stadion:</td>
              <td align="left">@sStadium<br />@sStadiumSeats</td>
            </tr>
            <tr>
              <td align="right">Erfolgsfaktor:</td>
              <td align="left">@Model.sAttrFc</td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <div style="position: relative; height: 440px; width: 60%; min-width: 320px; margin-bottom: 10px; float: left">
      <h4>Tabellenplatzentwicklung</h4>
      <div id="divChartPlaceHistory" style="position: relative; height: 400px; width: 100%"></div>
    </div>

    <h4>Erfolge</h4>
    <div style="position: relative; width: 40%; min-width: 320px; float: left">
      @if (Model.club.ltSuccess.Count == 0) {
        <p>keine</p>
      } else {
        foreach (CornerkickManager.Main.Success success in Model.club.ltSuccess) {
          if (success.cup == null) { continue; }

          string sWDD = "S/U/N: " + success.iWin.ToString() + "/" + success.iDraw.ToString() + "/" + success.iDefeat.ToString();
          string sCupWin = "Gewonnen: " + success.getCupWin().ToString();

          string sAttcFcCup = "";
          for (int iS = 0; iS < success.ltCupPlace.Count; iS++) {
            if (iS > 0) {
              sAttcFcCup += " / ";
            }
            sAttcFcCup += CornerkickManager.Club.getAttractionFactor(success.ltCupPlace[iS][0], success.cup.settings.fAttraction, MvcApplication.ckcore.iSeason - success.ltCupPlace[iS][1]).ToString("0.0") + " (" + success.ltCupPlace[iS][1].ToString() + "/" + success.ltCupPlace[iS][0].ToString() + ")";
          }

          <b>@success.cup.sName:</b>
          <p>@sWDD<br />@sCupWin</p>

          <p style="margin: 0">Höchster Sieg    (H): @CornerkickWebMvc.Controllers.MemberController.getStringRecordGame(User, success.cup.iId, +1, 0)</p>
          <p style="margin: 0">Höchster Sieg    (A): @CornerkickWebMvc.Controllers.MemberController.getStringRecordGame(User, success.cup.iId, +1, 1)</p>
          <p style="margin: 0">Höchste Niederl. (H): @CornerkickWebMvc.Controllers.MemberController.getStringRecordGame(User, success.cup.iId, -1, 0)</p>
          <p>Höchste Niederl. (A): @CornerkickWebMvc.Controllers.MemberController.getStringRecordGame(User, success.cup.iId, -1, 1)</p>

          if (success.ltCupPlace.Count > 0) {
            <p>Anteil Erfolgsfaktor (Saison/Pl.):<br />@sAttcFcCup</p>
          }
        }
      }
    </div>

    <div id="divChartAttrFtr" style="height: 400px; width: 60%; min-width: 320px; margin-top: 10px; float: left"></div>

    @if (Model.club.bNation) {
      <h4>Aktueller Kader</h4>
      <div style="position: relative; width: 50%; min-width: 320px; height: auto; float: left">
        <table cellpadding="3" style="width: auto">
          <tbody>
            @foreach (CornerkickGame.Player pl in Model.club.ltPlayer) {
              <tr>
                <td align="right">@pl.sName</td>
                <td align="left">@MvcApplication.ckcore.ltClubs[pl.iClubId].sName</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    }
  </div>
</body>
</html>
