<!DOCTYPE html>
@model CornerkickWebMvc.Models.ClubModel

@{
  ViewBag.Title = Model.club.sName;
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
  <script type="text/javascript" src="~/Scripts/jquery-2.0.0.min.js"></script>
  <script type="text/javascript" src="~/Scripts/canvasjs.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      var divEmblem = document.getElementById("divEmblemClub");
      var sEmblemImg = @Html.Raw(Json.Encode(Model.sEmblem));
      divEmblem.innerHTML += sEmblemImg;

      plotPlaceHistory();
    });

    function plotPlaceHistory() {
      $.ajax({
        type: 'post',
        url: '/Member/ClubDetailsGetPlaceHistory',
        dataType: "json",
        data: { iClubId: @Model.club.iId },
        success: function (dataPlace) {
          var chartDev = new CanvasJS.Chart("divChartPlaceHistory", {
            animationEnabled: true,
            theme: "theme2",//theme1
            axisX: {
              title: "Saison",
              interval: 1,
              gridThickness: 1,
              labelAngle: -20
            },
            axisY: {
              title: "Platzierung",
              interval: 1,
              minimum: 0.9,
              includeZero: false,
              reversed: true
            },
            legend: {
              horizontalAlign: "center", // left, center ,right
              verticalAlign: "bottom",  // top, center, bottom
              dockInsidePlotArea: true
            },
            data: [
              {
                // Change type to "bar", "splineArea", "area", "spline", "pie",etc.
                type: "line",
                dataPoints: dataPlace
              }
            ]
          });

          chartDev.render();
        }
      });
    }
  </script>
</head>
<body>
  <h2>@Model.club.sName</h2>

  @{
    string sUser = "Computer";
    if (Model.club.user != null) {
      sUser = Model.club.user.sFirstname + " " + Model.club.user.sSurname;
    }

    string sDivision = "-";
    if (!Model.club.bNation) {
      sDivision = (Model.club.iDivision + 1).ToString() + ". Liga";
    }

    string sPlace = "-";
    if (!Model.club.bNation) {
      CornerkickManager.Cup league = MvcApplication.ckcore.tl.getCup(1, Model.club.iLand, Model.club.iDivision);
      sPlace = CornerkickManager.Tool.getLeaguePlace(league, Model.club, MvcApplication.ckcore.dtDatum).ToString();
    }

    float[] fAve = MvcApplication.ckcore.tl.getTeamAve(Model.club);
    string sAveStrength = fAve[3].ToString("0.0");
    string sAveAge = fAve[4].ToString("0.0");

    string sStadium = "-";
    if (!Model.club.bNation) {
      sStadium = Model.club.stadium.sName + " (" + Model.club.stadium.getSeats().ToString("#,#", CornerkickWebMvc.Controllers.MemberController.getCiStatic(User)) + ")";
    }
  }

  <div style="position: relative; width: 100%; float: left; margin-bottom: 20px">
    <div id="divEmblemClub" style="position: absolute; width: 10%; right: 0px; text-align: center; border: 1px solid black; z-index: 99">
      @if (Model.bEmblemEditable) {
        using (Html.BeginForm("ClubDetails",
                              "Member",
                              new { iClub = Model.club.iId },
                              FormMethod.Post,
                              new { enctype = "multipart/form-data" })) {
          <div style="position: absolute; padding-top: 10px; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.9)">
            <label>
              Wappen auswählen
              <input name="file" type="file" size="10" accept="image/png" style="position: absolute; left: -40px;">
            </label>
            <input type="submit" class="btn btn-default" style="position: absolute; left: 0px; top: 77px; width: 100%" value="hochladen" />
          </div>
        }
      }
    </div>

    <div style="position: relative; width: 50%; min-width: 320px; height: auto; float: left">
      <table cellpadding="3" style="width: auto">
        <tbody>
          <tr>
            <td align="right">Manager:</td>
            <td align="left">@Html.ActionLink(sUser, "Mail", "Member")</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
          </tr>
          @if (!Model.club.bNation) {
            <tr>
              <td align="right">Land:</td>
              <td align="left">@MvcApplication.ckcore.sLand[@Model.club.iLand]</td>
            </tr>
            <tr>
              <td align="right">Liga:</td>
              <td align="left">@sDivision</td>
            </tr>
            <tr>
              <td align="right">akt. Tabellenplatz:</td>
              <td align="left">@sPlace</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
          }
          <tr>
            <td align="right">Anzahl Spieler:</td>
            <td align="left">@Model.club.ltPlayer.Count</td>
          </tr>
          <tr>
            <td align="right">Durchschnittstärke:</td>
            <td align="left">@sAveStrength</td>
          </tr>
          <tr>
            <td align="right">Durchschnittsalter:</td>
            <td align="left">@sAveAge</td>
          </tr>
          @if (!Model.club.bNation) {
            <tr>
              <td align="right">Anzahl Jugendspieler:</td>
              <td align="left">@Model.club.ltPlayerJouth.Count</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td align="right">Stadion:</td>
              <td align="left">@sStadium</td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <div style="position: relative; width: 50%; min-width: 320px; height: auto; float: left">
      <h4>Rekorde</h4>
      <table cellpadding="1" style="width: auto">
        <tbody>
          @if (Model.club.bNation) {
            <tr>
              <td align="right">Höchster Heimsieg:</td>
              <td align="left">@Model.sRecordLWinH</td>
            </tr>
            <tr>
              <td align="right">Höchster Auswärtssieg:</td>
              <td align="left">@Model.sRecordLWinA</td>
            </tr>
            <tr>
              <td align="right">Höchste Heimniederlage:</td>
              <td align="left">@Model.sRecordLDefH</td>
            </tr>
            <tr>
              <td align="right">Höchste Auswärtsniederlage:</td>
              <td align="left">@Model.sRecordLDefA</td>
            </tr>
          } else {
            <tr>
              <td align="right">Höchster Heimsieg Liga:</td>
              <td align="left">@Model.sRecordLWinH</td>
            </tr>
            <tr>
              <td align="right">Höchster Auswärtssieg Liga:</td>
              <td align="left">@Model.sRecordLWinA</td>
            </tr>
            <tr>
              <td align="right">Höchste Heimniederlage Liga:</td>
              <td align="left">@Model.sRecordLDefH</td>
            </tr>
            <tr>
              <td align="right">Höchste Auswärtsniederlage Liga:</td>
              <td align="left">@Model.sRecordLDefA</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td align="right">Höchster Heimsieg Pokal:</td>
              <td align="left">@Model.sRecordCWinH</td>
            </tr>
            <tr>
              <td align="right">Höchster Auswärtssieg Pokal:</td>
              <td align="left">@Model.sRecordCWinA</td>
            </tr>
            <tr>
              <td align="right">Höchste Heimniederlage Pokal:</td>
              <td align="left">@Model.sRecordCDefH</td>
            </tr>
            <tr>
              <td align="right">Höchste Auswärtsniederlage Pokal:</td>
              <td align="left">@Model.sRecordCDefA</td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <div style="position: relative; width: 50%; min-width: 320px; height: auto; float: left">
      <h4>Erfolge:</h4>
      @foreach (CornerkickManager.Main.Success success in Model.club.ltSuccess) {
        string sWDD = "S/U/N: " + success.iWin.ToString() + "/" + success.iDraw.ToString() + "/" + success.iDefeat.ToString();
        string sCupWin = "Gewonnen: " + success.iCupWin.ToString();
        if (success.cup == null) { continue; }

        <b>@success.cup.sName</b>
        <p>@sWDD</p>
        <p>@sCupWin</p>
      }
    </div>

    @if (Model.club.bNation) {
      <h4>Aktueller Kader</h4>
      <div style="position: relative; width: 50%; min-width: 320px; height: auto; float: left">
        <table cellpadding="3" style="width: auto">
          <tbody>
            @foreach (CornerkickGame.Player pl in Model.club.ltPlayer) {
              <tr>
                <td align="right">@pl.sName</td>
                <td align="left">@MvcApplication.ckcore.ltClubs[pl.iClubId].sName</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    }

    <div id="divChartPlaceHistory" style="position: relative; height: 220px; width: 50%; min-width: 320px; margin-bottom: 10px; float: left"></div>
  </div>
</body>
</html>
