@model CornerkickWebMvc.Models.DeskModel

@{
  ViewBag.Title = "Schreibtisch";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Index</title>
  <link rel="stylesheet" href="~/Content/DataTables/css/jquery.dataTables.min.css" />
  <script type="text/javascript" src="~/Scripts/jquery-2.0.0.min.js"></script>
  <script type="text/javascript" src="~/Scripts/canvasjs.min.js"></script>
  <script type="text/javascript" src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>

  <script>
    function getNewsIcon(iType) {
      if (iType === 1) return '<img src="/Content/Icons/news/birthday.png" title="birthday" style="width: 16px"/>';
      if (iType > 9 && iType < 14) return '<img src="/Content/Icons/news/star.ico" title="star" style="width: 16px"/>';
      if (iType === 16 || iType === 17) return '<img src="/Content/Icons/news/doping.png" title="doping" style="width: 16px"/>';
      if (iType === 20 || iType === 23) return '<img src="/Content/Icons/ambulance2.png" title="ambulance" style="width: 16px"/>';
      if (iType === 21 || iType === 22 || iType === 24 || iType === 25) return '<img src="/Content/Icons/ambulance.png" title="ambulance" style="width: 16px"/>';
      if (iType === 50) return '<img src="/Content/Icons/news/stadium.png" title="stadium" style="width: 16px"/>';
      if (iType === 51) return '<img src="/Content/Icons/news/construction.png" title="construction" style="width: 16px"/>';
      if (iType === 60) return '<img src="/Content/Icons/news/coins.png" title="cash" style="width: 16px"/>';

      return '<img src="/Content/Icons/news/info.png" title="info" style="width: 16px"/>';
    }

    $(document).ready(function () {
      setNews();

      $('#iDeleteLog').change(function () {
        $.ajax({
          url: '/Member/SetDeleteLog',
          type: "GET",
          dataType: "JSON",
          cache: false,
          contentType: "application/json; charset=utf-8",
          data: { iDeleteAfter: $(this).val() }
        });
      });
    });

    function setNews() {
      $('#tableNews').DataTable({
        "ajax": {
          "url": '@Url.Action("DeskGetNews", "Member")',
          "type": 'GET',
          "dataType": "JSON",
          "cache": false,
          "contentType": "application/json; charset=utf-8"
        },
        "columns": [
          { "data": "iId" },
          {
            "data": "iType",
            "render": function (iType, type, row) {
              return getNewsIcon(iType);
            }
          },
          { "data": "sDate" },
          { "data": "sText" },
          { "data": "bOld" }
        ],
        "paging": false,
        "info": false,
        "responsive": false,
        "searching": false,
        "order": [[0, "desc"]],
        "language": {
          "emptyTable": "Keine News"
        },
        "columnDefs": [
          {
            "targets": [0, 4], // ID, bOld
            "orderable": false,
            "visible": false,
            "searchable": false
          },
          {
            "targets": [1, 2],
            "className": "dt-center"
          }
        ],
        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
          if (aData.bOld) {
            $('td', nRow).css('color', "gray");
          }
        }
      });
    }
  </script>
</head>

<body>
  @{
    CornerkickManager.Club clb = Model.club;

    if (clb != null) {
      bool bTraining = false;
      if (clb.training.ltType != null) {
        foreach (byte[] iT in clb.training.ltType) {
          foreach (byte jT in iT) {
            if (jT > 0) {
              bTraining = true;
              break;
            }
          }
          if (bTraining) {
            break;
          }
        }
      }

      if (!bTraining) {
        <div style="position: relative; width: 100%; text-align: center">
          @Html.ActionLink("ACHTUNG: Sie haben für die nächste Woche noch kein Training eingestellt!", "Training", "Member", null, new { @style = "color:red" })
        </div>
      }

      if (MvcApplication.ckcore.dtDatum.Date.Equals(MvcApplication.ckcore.dtSeasonStart.Date)) {
        if (clb.staff.iCoTrainer     == 0 &&
            clb.staff.iCondiTrainer  == 0 &&
            clb.staff.iPhysio        == 0 &&
            clb.staff.iMentalTrainer == 0 &&
            clb.staff.iDoctor        == 0 &&
            clb.staff.iJouthTrainer  == 0 &&
            clb.staff.iJouthScouting == 0 &&
            clb.staff.iKibitzer      == 0) {
          <div style="position: relative; width: 100%; text-align: center">
            @Html.ActionLink("ACHTUNG: Sie haben noch kein Personal eingestellt!", "Personal", "Member", null, new { @style = "color:red" })
          </div>
        }

        if (Model.user.budget.iInSpec == 0) {
          <div style="position: relative; width: 100%; text-align: center">
            @Html.ActionLink("ACHTUNG: Sie haben Ihre Finanzplanung noch nicht abgeschlossen!", "Finance", "Member", null, new { @style = "color:red" })
          </div>
        }
      }

      if (clb.iCaptainId != null) {
        if (clb.iCaptainId[0] < 0) {
          <div style="position: relative; width: 100%; text-align: center">
            @Html.ActionLink("ACHTUNG: Sie haben noch keinen Kapitän benannt!", "Team", "Member", null, new { @style = "color:red" })
          </div>
        }
      }

      if (!Model.bEmblemExist) {
        <div style="position: relative; width: 100%; text-align: center">
          @Html.ActionLink("Sie haben noch kein Wappen für Ihren Verein ausgewählt", "ClubDetails", "Member", new { iClub = clb.iId }, new { @style = "color:orange" })
        </div>
      }
      @*
        <h2>Schreibtisch</h2>
      *@

      <h3>Aktuelle Lage</h3>

      string sTabellenplatz = Model.sTabellenplatz;
      string sWeatherIcon = "/Content/Icons/Weather/" + Model.iWeather.ToString() + ".gif";
      string[] sWeatherTitleAll = new string[4] { "Sonne", "Bewölkt", "Regen", "Schnee" };
      string sWeatherTitle = sWeatherTitleAll[Model.iWeather];

      <text>Wetter:</text>
      <img src=@sWeatherIcon alt="Wetter" style="position: relative; top: 0px; left: 10px; width: 20px" title=@sWeatherTitle>
      <p></p>
      if (!Model.club.bNation) {
        <p>@Html.ActionLink("Liga", "League", "Member"): @sTabellenplatz</p>
        <p>@Html.ActionLink("Pokal", "Cup", "Member"): @Model.sPokalrunde</p>
      }
      <p>@Html.ActionLink(@Model.sStrength, "Team", "Member")</p>
      <p>@Html.ActionLink(@Model.sKFM, "Training", "Member")</p>

      <h3>Nächstes Spiel</h3>

      string sDt = Model.sDtNextGame;
      if (clb.nextGame != null) {
        sDt = Model.sDtNextGame + " - ";

        if (clb.nextGame.iGameType == 99) {
          sDt += "Saisonende";
        } else {
          sDt += clb.nextGame.team[0].sTeam + " vs. " + clb.nextGame.team[1].sTeam;
          if (clb.nextGame.iGameType == 1) {
            sDt += " (Liga)";
          } else if (clb.nextGame.iGameType == 2) {
            sDt += " (Pokal)";
          } else if (clb.nextGame.iGameType == 3) {
            sDt += " (Gold-Cup)";
          } else if (clb.nextGame.iGameType == 4) {
            sDt += " (Silver-Cup)";
          } else if (clb.nextGame.iGameType == 5) {
            sDt += " (Testspiel)";
          } else if (clb.nextGame.iGameType == 7) {
            sDt += " (WM)";
          }
        }

        @Html.ActionLink(@sDt, "PreviewGame", "Member", new { i = "0" }, new { target = "" })
      } else {
        <p>@sDt</p>
      }
    }
  }

  <h3>Letzte Spiele</h3>

  <div id="chartContainerLastGames" style="height: 160px; width: 100%"></div>

  <script type="text/javascript">
    $(document).ready(function () {
      $.get("/Member/GetLastGames/", function (dataLastGames) {
        var chart = new CanvasJS.Chart("chartContainerLastGames", {
          animationEnabled: true,
          theme: "theme2",//theme1
          axisX: {
            labelFontColor: "white",
            lineThickness: 0,
            gridThickness: 1,
            interval: 1
          },
          axisY: {
            labelFontSize: 16,
            interval: 1,
            minimum: -1.2,
            maximum: +1.2
          },
          toolTip: {
            content: "{z}"
          },
          /*legend: {
            horizontalAlign: "center", // left, center ,right
            verticalAlign: "bottom",  // top, center, bottom
            dockInsidePlotArea: true
          },*/
          data: [
            {
              // Change type to "bar", "splineArea", "area", "spline", "pie",etc.
              type: "line",
              lineThickness: 0,
              lineColor: "white",
              //showInLegend: true,
              markerSize: 20,
              markerColor: "green",
              legendText: "Liga",
              dataPoints: dataLastGames[0]
            },
            {
              // Change type to "bar", "splineArea", "area", "spline", "pie",etc.
              type: "line",
              lineThickness: 0,
              lineColor: "white",
              //showInLegend: true,
              markerSize: 20,
              markerColor: "blue",
              legendText: "Pokal",
              dataPoints: dataLastGames[1]
            },
            {
              // Change type to "bar", "splineArea", "area", "spline", "pie",etc.
              type: "line",
              lineThickness: 0,
              lineColor: "white",
              //showInLegend: true,
              markerSize: 20,
              markerColor: "rgb(255, 200, 14)",
              legendText: "Int.",
              dataPoints: dataLastGames[2]
            },
            {
              // Change type to "bar", "splineArea", "area", "spline", "pie",etc.
              type: "line",
              lineThickness: 0,
              lineColor: "white",
              //showInLegend: true,
              markerSize: 20,
              markerColor: "rgb(91, 146, 229)",
              legendText: "Nat.",
              dataPoints: dataLastGames[4]
            }
          ]
        });

        chart.render();
      });
    });
  </script>

  <h3>News</h3>
  <div style="position: relative; width: 100%">
    <div style="position: absolute; top: -32px; right: 0px">
      <label>
        löschen nach:
        @Html.DropDownListFor(m => m.iDeleteLog, Model.ddlDeleteLog, new { @class = "form-horizontal", @style = "width: 84px; text-align: right" })
      </label>
    </div>

    <div id="tableDivNews" style="position: relative; left: 0px; width: 100%">
      <table id="tableNews" style="position: relative; margin: 0px; width: 100%" class="compact">
        <thead style="display:none">
          <tr>
            <th>#</th>
            <th>Type</th>
            <th>Date</th>
            <th>Text</th>
            <th>Old</th>
          </tr>
        </thead>
        <tbody>
          <!---Data and tags are dynamically generated--->
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
