@model CornerkickWebMvc.Models.JouthModel

@{
  ViewBag.Title = "Jouth";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
  <link rel="stylesheet" href="~/Content/DataTables/css/jquery.dataTables.min.css" />
  <link rel="stylesheet" href="~/Content/DataTables/css/rowReorder.dataTables.min.css" />
  <link rel="stylesheet" href="~/Content/DataTables/css/responsive.dataTables.min.css" />
  <script type="text/javascript" src="~/Scripts/jQuery-1.12.4.js"></script>
  <script type="text/javascript" src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="~/Scripts/DataTables/dataTables.rowReorder.min.js"></script>
  <script type="text/javascript" src="~/Scripts/Player.js"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      $('#tableJouth').DataTable({
        "pageLength": 50,
        "paging": false,
        "info": false,
        "responsive": true,
        "searching": false,
        "language": {
          "emptyTable": "Keine Jugendspieler"
        },
        "order": [[5, "desc"]],
        columnDefs: [
          {
            "targets": 0,
            "visible": false,
            "searchable": false
          },
          {
            "targets": 6,
            "render": function (sNat, type, row) {
              return getNatIcon(sNat);
            }
          }
        ]
      });
    });
  </script>
</head>

<h3>Jugendspieler</h3>

<table id="tableJouth" cellspacing="0" style="width: auto" class="display responsive nowrap">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Position</th>
      <th>Stärke</th>
      <th>Talent</th>
      <th>Alter</th>
      <th>Nat.</th>
    </tr>
  </thead>
  <tbody>
    @{
      foreach (CornerkickGame.Player plJouth in CornerkickWebMvc.Models.JouthModel.ltPlayerJouth) {
        <tr>
          <td align="center">@plJouth.iId</td>
          <td align="center">@Html.ActionLink(plJouth.sName, "PlayerDetails", "Member", new { i = plJouth.iId }, new { target = "" })</td>
          <td align="center">@CornerkickManager.Player.getStrPos(plJouth)</td>
          <td align="center">@CornerkickGame.Tool.getAveSkill(plJouth).ToString("0.0")</td>
          <td align="center">@(plJouth.iTalent + 1)</td>
          <td align="center">@((int)plJouth.getAge(MvcApplication.ckcore.dtDatum))</td>
          <td align="center">@CornerkickManager.Main.sLandShort[plJouth.iNat1]</td>
        </tr>
      }
    }
  </tbody>
</table>
