@model CornerkickWebMvc.Models.LeagueModels

@{
  ViewBag.Title = "Liga";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<html style="height: 100%; min-height: 100%">
<head>
  <script type="text/javascript" src="~/Scripts/canvasjs.min.js"></script>
  <script type="text/javascript" src="~/Scripts/League.js"></script>

  <script>
    $(document).ready(function () {
      setLeague2();

      var iLigaMax = 8.1;

      $.get("/Member/GetLeaguePlaceHistory/", function (ltPlace) {
        var chart = new CanvasJS.Chart("chartContainerPlaceHist", {
          animationEnabled: true,
          theme: "theme2",//theme1
          axisX: {
            labelFontSize: 16,
            lineThickness: 0,
            gridThickness: 1,
            interval: 1,
            minimum: 0.9
          },
          axisY: {
            labelFontSize: 16,
            interval: 1,
            minimum: 0.9,
            //maximum: iLigaMax,
            reversed: true
          },
          /*legend: {
            horizontalAlign: "center", // left, center ,right
            verticalAlign: "bottom",  // top, center, bottom
            dockInsidePlotArea: true
          },*/
          data: [
            {
              // Change type to "bar", "splineArea", "area", "spline", "pie",etc.
              type: "line",
              showInLegend: false,
              legendText: "Tabellenplatz",
              dataPoints: ltPlace
            }
          ]
        });

        chart.render();
      });
    });
  </script>
</head>

<body style="height: 100%; min-height: 100%">
  @{
    var sLand = MvcApplication.ckcore.sLand[MvcApplication.ckcore.iNatUmrechnung[Model.iLand + 1]];
    var sLiga = (Model.iSpKl + 1).ToString();
  }

  <div style="position: relative; width: 100%; height: 100%; min-height: 100%; margin-bottom: 20px; float: left">
    <h2>@sLand, Liga @sLiga</h2>

    @{
      var ltBeg = new List<int[]>();
      var dt = new DateTime();
      if (Model.iSpTg >= 0 && Model.iSpTg < Model.ltErg.Count) {
        if (Model.iLand >= 0) {
          if (MvcApplication.ckcore.ltDtSpieltagLiga[Model.iLand] != null) {
            if (MvcApplication.ckcore.ltDtSpieltagLiga[Model.iLand].Count > Model.iSpKl) {
              if (MvcApplication.ckcore.ltDtSpieltagLiga[Model.iLand][Model.iSpKl].Count > Model.iSpTg) {
                dt = MvcApplication.ckcore.ltDtSpieltagLiga[Model.iLand][Model.iSpKl][Model.iSpTg];
              }
            }
          }
        }
      }

      string[] sClubNames = new string[MvcApplication.ckcore.ltClubs.Count];
      int i = 0;
      foreach (CornerkickCore.Core.Club club in MvcApplication.ckcore.ltClubs) {
        string sId = "idClubNames" + i++.ToString();
        <div id="@sId" data-name="@club.sName"></div>
      }

      if (Model.iLand >= 0) {
        if (MvcApplication.ckcore.ltDtSpieltagLiga[Model.iLand] != null) {
          if (MvcApplication.ckcore.ltDtSpieltagLiga[Model.iLand].Count > Model.iSpKl) {
            if (MvcApplication.ckcore.ltDtSpieltagLiga[Model.iLand][Model.iSpKl].Count > Model.iSpTg) {
              int j = 0;
              foreach (DateTime dtTmp in MvcApplication.ckcore.ltDtSpieltagLiga[Model.iLand][Model.iSpKl]) {
                string sIdDay = "idDtDay" + j.ToString();
                <div id="@sIdDay" data-name="@dtTmp.ToString("d", CornerkickWebMvc.Controllers.AccountController.ciUser)"></div>

                string sIdHour = "idDtHour" + j.ToString();
                <div id="@sIdHour" data-name="@dtTmp.ToString("t", CornerkickWebMvc.Controllers.AccountController.ciUser)"></div>

                j++;
              }
            }
          }
        }
      }
    }

    <label>
      Spieltag:
      @Html.DropDownListFor(m => m.iSpTg, Model.ltDdlSpTg, new { @class = "form-horizontal", @onchange = "setLeague2()", id = "ddlSpieltag" })
    </label>
    @*@Html.DropDownListFor(m => m.sSpTg, Model.ltDdlSpTg, new { @class = "form-control", @onchange = "setLeague2()", id = "ddlSpieltag" })*@

    <div style="position: relative; width: 100%; height: auto; margin-bottom: 4%">
      <div style="position: relative; width: 47%; min-width: 350px; margin-right: 6%; margin-bottom: 20px; float: left">
        <h4>Begegnungen</h4>
        <div id="tableDivTeams" style="position: relative"></div>
      </div>
      <div id="dtDayId" data-name="@dt.ToString("d", CornerkickWebMvc.Controllers.AccountController.ciUser)"></div>
      <div id="dtHourId" data-name="@dt.ToString("t", CornerkickWebMvc.Controllers.AccountController.ciUser)"></div>
      <div id="idClubUser" data-name="@CornerkickWebMvc.Controllers.AccountController.ckClub().iId"></div>

      <div style="position: relative; width: 47%; min-width: 350px; float: left">
        <h4>Tabelle</h4>
        <div id="tableDivLeague" style="position: relative; width: 100%"></div>
      </div>
    </div>

    <div style="width: 40%; min-width: 350px; margin-right: 6%; height: auto; margin-top: 20px; float: left">
      @{
        if (Model.ltScorer != null && Model.ltScorer.Count > 0) {
          <h4>Torschützen</h4>
          <table class="tStat" style="width: auto" border="0" cellpadding="2" summary="Torschuetzen">
            <tr>
              <th colspan="2">Pl.</th>
              <th>Spieler</th>
              <th>Verein</th>
              <th style="text-align:right">Tore</th>
              <th style="text-align:right">Vorl.</th>
              <th style="text-align:right">Scor.</th>
            </tr>

            @{ int iPlatz = 0; }
            @{
              foreach (CornerkickCore.UI.Scorer sc in Model.ltScorer) {
                iPlatz++;
                string sStyle2 = "";
                if (MvcApplication.ckcore.ltPlayer[sc.iId].iClubId == CornerkickWebMvc.Controllers.AccountController.ckClub().iId) {
                  sStyle2 = "font-weight:bold";
                }
                int iScorer = sc.iGoals + sc.iAssists;

                <tr style=@sStyle2 class=" ">
                  <td class="first">@iPlatz</td>
                  <td><img src="http://mediadb.kicker.de/library/images/tendenz-hold.png" alt="" /></td>
                  <td>@sc.sName</td>
                  <td>@sc.sTeam</td>
                  <td align="right">@sc.iGoals</td>
                  <td align="right">@sc.iAssists</td>
                  <td align="right">@iScorer</td>
                </tr>
              }
            }
          </table>
        }
      }
    </div>

    <div style="height: auto; width: 54%; min-width: 350px; margin-top: 20px; float: left">
      <h4>Tabellenplatzentwicklung</h4>
      <div id="chartContainerPlaceHist" style="height: 250px; width: 100%"></div>
    </div>
  </div>
</body>
</html>
