@model CornerkickWebMvc.Models.PersonalModel

@{
  ViewBag.Title = "Personal";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
  $(document).ready(function () {
    getPersonalCost();

    $("#bnHireStuff").click(function () {
      hirePersonal();
    });
  });

  function getPersonalCost() {
    var iLevel = getPersonalLevel();
    $.ajax({
      url: '/Member/PersonalCheckCost',
      type: 'POST',
      dataType: "JSON",
      data: { iLevel: iLevel },
      success: function (sText) {
        $("#lbPersonalkosten").text(sText);
      }
    });
  }

  function getPersonalLevel() {
    var iLevel = [];

    iLevel.push($('#iDdlId0').val());
    iLevel.push($('#iDdlId1').val());
    iLevel.push($('#iDdlId2').val());
    iLevel.push($('#iDdlId3').val());
    iLevel.push($('#iDdlId4').val());
    iLevel.push($('#iDdlId5').val());
    iLevel.push($('#iDdlId6').val());
    iLevel.push($('#iDdlId7').val());

    return iLevel;
  }

  function hirePersonal() {
    var iLevel = getPersonalLevel();

    $.ajax({
      url: '/Member/PersonalHire',
      type: 'POST',
      dataType: "JSON",
      data: { iLevel: iLevel },
      success: function (sText) {
        alert(sText);
        window.location.reload(false);
      }
    });
  }
</script>

<h2>Personal</h2>

<div class="form-group">
  <div style="position: relative; height: 40px">
    <label for="Trainer" style="position: absolute; text-align: right; width: 180px; top: 4px">Co-Trainer</label>
    <div style="position: absolute; height: 30px; left: 190px">
      @Html.DropDownListFor(m => m.sPersonalCoachCo, new SelectList(Model.ltDdlPersonalCoachCo, "Value", "Text", Model.staff.iCoTrainer), new { @class = "form-control", @onchange = "getPersonalCost()", id = "iDdlId0", @style = "width: 100px" });
    </div>
  </div>
  <div style="position: relative; height: 40px">
    <label for="Trainer" style="position: absolute; text-align: right; width: 180px; top: 4px">Konditionstrainer</label>
    <div style="position: absolute; height: 30px; left: 190px">
      @Html.DropDownListFor(m => m.sPersonalCoachCondi, new SelectList(Model.ltDdlPersonalCoachCondi, "Value", "Text", Model.staff.iCondiTrainer), new { @class = "form-control", @onchange = "getPersonalCost()", id = "iDdlId1", @style = "width: 100px" })
    </div>
  </div>
  <div style="position: relative; height: 40px">
    <label for="Trainer" style="position: absolute; text-align: right; width: 180px; top: 4px">Masseur</label>
    <div style="position: absolute; height: 30px; left: 190px">
      @Html.DropDownListFor(m => m.sPersonalMasseur, new SelectList(Model.ltDdlPersonalMasseur, "Value", "Text", Model.staff.iPhysio), new { @class = "form-control", @onchange = "getPersonalCost()", id = "iDdlId2", @style = "width: 100px" })
    </div>
  </div>
  <div style="position: relative; height: 40px">
    <label for="Trainer" style="position: absolute; text-align: right; width: 180px; top: 4px">Mentaltrainer</label>
    <div style="position: absolute; height: 30px; left: 190px">
      @Html.DropDownListFor(m => m.sPersonalMental, new SelectList(Model.ltDdlPersonalMental, "Value", "Text", Model.staff.iMentalTrainer), new { @class = "form-control", @onchange = "getPersonalCost()", id = "iDdlId3", @style = "width: 100px" })
    </div>
  </div>
  <div style="position: relative; height: 40px">
    <label for="Trainer" style="position: absolute; text-align: right; width: 180px; top: 4px">Medizinische Abteilung</label>
    <div style="position: absolute; height: 30px; left: 190px">
      @Html.DropDownListFor(m => m.sPersonalMed, new SelectList(Model.ltDdlPersonalMed, "Value", "Text", Model.staff.iDoctor), new { @class = "form-control", @onchange = "getPersonalCost()", id = "iDdlId4", @style = "width: 100px" })
    </div>
  </div>
  <div style="position: relative; height: 40px">
    <label for="Trainer" style="position: absolute; text-align: right; width: 180px; top: 4px">Jugendtrainer</label>
    <div style="position: absolute; height: 30px; left: 190px">
      @Html.DropDownListFor(m => m.sPersonalJouthCoach, new SelectList(Model.ltDdlPersonalJouthCoach, "Value", "Text", Model.staff.iJouthTrainer), new { @class = "form-control", @onchange = "getPersonalCost()", id = "iDdlId5", @style = "width: 100px" })
    </div>
  </div>
  <div style="position: relative; height: 40px">
    <label for="Trainer" style="position: absolute; text-align: right; width: 180px; top: 4px">Jugendscouting</label>
    <div style="position: absolute; height: 30px; left: 190px">
      @Html.DropDownListFor(m => m.sPersonalJouthScouting, new SelectList(Model.ltDdlPersonalJouthScouting, "Value", "Text", Model.staff.iJouthScouting), new { @class = "form-control", @onchange = "getPersonalCost()", id = "iDdlId6", @style = "width: 100px" })
    </div>
  </div>
  <div style="position: relative; height: 40px">
    <label for="Trainer" style="position: absolute; text-align: right; width: 180px; top: 4px">Spielbeobachter</label>
    <div style="position: absolute; height: 30px; left: 190px">
      @Html.DropDownListFor(m => m.sPersonalKibitzer, new SelectList(Model.ltDdlPersonalKibitzer, "Value", "Text", Model.staff.iKibitzer), new { @class = "form-control", @onchange = "getPersonalCost()", id = "iDdlId7", @style = "width: 100px" })
    </div>
  </div>
</div>

<p id="lbPersonalkosten"></p>
<button type="submit" id="bnHireStuff" class="btn btn-default" style="position: relative; width: 150px">Personal einstellen</button>
