@model CornerkickWebMvc.Models.PersonalModel

@{
  ViewBag.Title = "Personal";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
  $(document).ready(function () {
    setPersonal(0);
  });

  function setPersonal(iP) {
    var level = $('#iDdlId' + iP).val();
    $.ajax({
      url: '/Member/setPersonal',
      type: "GET",
      dataType: "JSON",
      data: { iPersonal: iP, iLevel: level },
      success: function (sKosten) {
        $("#lbPersonalkosten").text("Kosten: " + sKosten + " / Monat");
        //alert(iPersonal);
      }
    });
  }
</script>

<h2>Personal</h2>

<div class="form-group">
  @{
    CornerkickCore.Core.Club club = CornerkickWebMvc.Controllers.AccountController.ckClub();
  }

  @if (MvcApplication.ckcore.dtDatum.Date.Equals(MvcApplication.ckcore.dtSaisonstart.Date) || MvcApplication.ckcore.dtDatum.Day == 1) {
    <label for="Trainer">Co-Trainer</label>
    @Html.DropDownListFor(m => m.sPersonal, new SelectList(Model.ltDdlPersonal, "Value", "Text", club.personal.iTrainerCo),      /* "--Select One--",*/ new { @class = "form-control", @onchange = "setPersonal(0)", id = "iDdlId0" })
    <label for="Trainer">Konditionstrainer</label>
    @Html.DropDownListFor(m => m.sPersonal, new SelectList(Model.ltDdlPersonal, "Value", "Text", club.personal.iTrainerKondi),   /* "--Select One--",*/ new { @class = "form-control", @onchange = "setPersonal(1)", id = "iDdlId1" })
    <label for="Trainer">Masseur</label>
    @Html.DropDownListFor(m => m.sPersonal, new SelectList(Model.ltDdlPersonal, "Value", "Text", club.personal.iMasseur),        /* "--Select One--",*/ new { @class = "form-control", @onchange = "setPersonal(2)", id = "iDdlId2" })
    <label for="Trainer">Mentaltrainer</label>
    @Html.DropDownListFor(m => m.sPersonal, new SelectList(Model.ltDdlPersonal, "Value", "Text", club.personal.iTrainerMental),  /* "--Select One--",*/ new { @class = "form-control", @onchange = "setPersonal(3)", id = "iDdlId3" })
    <label for="Trainer">Medizinische Abteilung</label>
    @Html.DropDownListFor(m => m.sPersonal, new SelectList(Model.ltDdlPersonal, "Value", "Text", club.personal.iArzt),           /* "--Select One--",*/ new { @class = "form-control", @onchange = "setPersonal(4)", id = "iDdlId4" })
    <label for="Trainer">Jugendtrainer</label>
    @Html.DropDownListFor(m => m.sPersonal, new SelectList(Model.ltDdlPersonal, "Value", "Text", club.personal.iJugendTrainer),  /* "--Select One--",*/ new { @class = "form-control", @onchange = "setPersonal(5)", id = "iDdlId5" })
    <label for="Trainer">Jugendscouting</label>
    @Html.DropDownListFor(m => m.sPersonal, new SelectList(Model.ltDdlPersonal, "Value", "Text", club.personal.iJugendScouting), /* "--Select One--",*/ new { @class = "form-control", @onchange = "setPersonal(6)", id = "iDdlId6" })
  } else {
    <label for="Trainer">Co-Trainer</label>
    @Html.DropDownListFor(m => m.sPersonal, new SelectList(Model.ltDdlPersonal, "Value", "Text", club.personal.iTrainerCo),      /* "--Select One--",*/ new { @class = "form-control", @onchange = "setPersonal(0)", id = "iDdlId0", @disabled = "disabled" })
    <label for="Trainer">Konditionstrainer</label>
    @Html.DropDownListFor(m => m.sPersonal, new SelectList(Model.ltDdlPersonal, "Value", "Text", club.personal.iTrainerKondi),   /* "--Select One--",*/ new { @class = "form-control", @onchange = "setPersonal(1)", id = "iDdlId1", @disabled = "disabled" })
    <label for="Trainer">Masseur</label>
    @Html.DropDownListFor(m => m.sPersonal, new SelectList(Model.ltDdlPersonal, "Value", "Text", club.personal.iMasseur),        /* "--Select One--",*/ new { @class = "form-control", @onchange = "setPersonal(2)", id = "iDdlId2", @disabled = "disabled" })
    <label for="Trainer">Mentaltrainer</label>
    @Html.DropDownListFor(m => m.sPersonal, new SelectList(Model.ltDdlPersonal, "Value", "Text", club.personal.iTrainerMental),  /* "--Select One--",*/ new { @class = "form-control", @onchange = "setPersonal(3)", id = "iDdlId3", @disabled = "disabled" })
    <label for="Trainer">Medizinische Abteilung</label>
    @Html.DropDownListFor(m => m.sPersonal, new SelectList(Model.ltDdlPersonal, "Value", "Text", club.personal.iArzt),           /* "--Select One--",*/ new { @class = "form-control", @onchange = "setPersonal(4)", id = "iDdlId4", @disabled = "disabled" })
    <label for="Trainer">Jugendtrainer</label>
    @Html.DropDownListFor(m => m.sPersonal, new SelectList(Model.ltDdlPersonal, "Value", "Text", club.personal.iJugendTrainer),  /* "--Select One--",*/ new { @class = "form-control", @onchange = "setPersonal(5)", id = "iDdlId5", @disabled = "disabled" })
    <label for="Trainer">Jugendscouting</label>
    @Html.DropDownListFor(m => m.sPersonal, new SelectList(Model.ltDdlPersonal, "Value", "Text", club.personal.iJugendScouting), /* "--Select One--",*/ new { @class = "form-control", @onchange = "setPersonal(6)", id = "iDdlId6", @disabled = "disabled" })
  }
</div>

<p id="lbPersonalkosten"></p>

