@model CornerkickWebMvc.Models.TeamModels

@{
  ViewBag.Title = "PlayerDetails";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ var player = MvcApplication.ckcore.ltSpieler[Model.iPlayerDetails]; }

<script>
  function setIndTraining(iInd) {
    //var iTr = $('#rB' + iInd).val();
    $.ajax({
      url: '/Member/setPlayerIndTraining',
      type: "GET",
      dataType: "JSON",
      data: { iPlayer: @Model.iPlayerDetails, iIndTr: iInd },
      success: function (iIndTr) {
        //alert(iInd);
      }
    });
  }
</script>

<h2>@player.sName</h2>

<table cellpadding="4" style="width: auto" class="display responsive nowrap">
  <tbody>
    <tr>
      <td align="right">Geburtsdatum:</td >
      <td align="right">@player.dtGeburt.ToShortDateString()</td >
    </tr>
    <tr>
      <td align="right">Positionen:</td>
      <td align="right">@MvcApplication.ckcore.tl.getStrPosSpieler(player)</td>
    </tr>
    <tr>
      <td align="right">Stärke:</td>
      <td align="right">@MvcApplication.ckcore.spiel.tl.getStaerkeSpieler(player, 0, true).ToString("0.0")</td>
    </tr>
  </tbody>
</table>

<div style="position: relative; width: 80%; height: 550px; border: 0px solid black">
  <div style="position: absolute; width: 35%; height: auto; top: 0%; left: 0%; border: 0px solid black">
    <table border="1" cellpadding="4" style="width: auto">
      <thead>
        <tr>
          <th align="center">Fähigkeit</th>
          <th>Wert</th>
          <th>Training</th>
          <th>Ind.</th>
          <th>Fortschritt</th>
        </tr>
      </thead>
      <tbody>
        @for (int i = 0; i < player.iF.Length; i++) {
          var fTraining = player.fFTraining[i] + 1.0;
          <tr>
            <td align="right">@MvcApplication.ckcore.strF[i]</td>
            <td align="center">@player.iF[i]</td>
            <td align="right">@fTraining.ToString("0.0%")</td>
            <td align="center">@Html.RadioButtonFor(m => m.iPlayerIndTr, i, new { @onchange = "setIndTraining(" + i.ToString() + ")", id = "rB" + i.ToString() })</td>
            <td align="right">@player.fIndTraining[i].ToString("0.0%")</td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  <div style="position: absolute; width: 35%; height: auto; top: 0%; left: 40%; border: 0px solid black">
    <table border="1" cellpadding="4" style="width: auto">
      <thead>
        <tr>
          <th align="center">Position</th>
          <th>Wert</th>
          <th>Stärke</th>
        </tr>
      </thead>
      <tbody>
        @for (byte i = 0; i < player.fErfPos.Length; i++) {
          byte j = i;
          j++;
          <tr>
            <td align="center">@MvcApplication.ckcore.sPosition[i + 1]</td>
            <td align="right">@player.fErfPos[i].ToString("0.0%")</td>
            <td align="center">@MvcApplication.ckcore.spiel.tl.getStaerkeSpieler(player, j, true).ToString("0.0")</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>

<table cellpadding="4" style="width: auto" class="display responsive nowrap">
  <tbody>
    <tr>
      @{ var sVerletzung = "keine"; }
      @if (player.fVerletzung[0] > 0) { sVerletzung = player.fVerletzung[0].ToString() + " Tage (" + (player.fVerletzung[0] / player.fVerletzung[1]).ToString("0%") + ") " + MvcApplication.ckcore.sVerletzung[(int)player.fVerletzung[2]]; }
      <td align="right">Verletzung:</td>
      <td align="right">@sVerletzung</td>
    </tr>
  </tbody>
</table>
