@model CornerkickWebMvc.Models.SponsorModel

@{
  ViewBag.Title = "Sponsor";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="~/Content/DataTables/css/jquery.dataTables.min.css" />
  <link rel="stylesheet" href="~/Content/DataTables/css/rowReorder.dataTables.min.css" />
  <link rel="stylesheet" href="~/Content/DataTables/css/responsive.dataTables.min.css" />
  <script type="text/javascript" src="~/Scripts/jQuery-1.12.4.js"></script>
  <script type="text/javascript" src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="~/Scripts/DataTables/dataTables.rowReorder.min.js"></script>
  <script type="text/javascript" src="~/Scripts/Finance.js"></script>

  <script type="text/javascript">
    var bMobile = false;

    var sSponsorGoogleQuad = '<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"><\/script>';
    sSponsorGoogleQuad += '<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4643281447734684" data-ad-slot="1299616919" data-ad-format="auto" data-full-width-responsive="true"></ins>';
    sSponsorGoogleQuad += '<script>(adsbygoogle = window.adsbygoogle || []).push({});<\/script>';

    var sSponsorGoogleHori = '<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"><\/script>';
    sSponsorGoogleHori += '<ins class="adsbygoogle" style="display:inline-block;width:320px;height:50px" data-ad-client="ca-pub-4643281447734684" data-ad-slot="3762128727"></ins>';
    sSponsorGoogleHori += '<script>(adsbygoogle = window.adsbygoogle || []).push({});<\/script>';

    var sponsorMain = [];
    sponsorMain.push('');
    sponsorMain.push('<img src="/Content/Images/sponsors/1a.png" style="position: relative; width: 100%; height: 100%"/>');
    sponsorMain.push('<iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=3&p=12&l=ez&f=ifr&linkID=d5ebb8fa873668bed850be56f679e95f&t=jansuhrmann-21&tracking_id=jansuhrmann-21" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>');
    sponsorMain.push(sSponsorGoogleQuad);

    var sponsorBoards = [];
    sponsorBoards.push('');
    sponsorBoards.push('<img src="/Content/Images/sponsors/1.png" style="position: relative; width: 100%; height: 100%"/>');
    //var iB = 1;
    while (sponsorBoards.length < 10) {
      sponsorBoards.push('<iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=3&p=288&l=ez&f=ifr&linkID=ef9597846255dc4701dbda9de06ee3fc&t=jansuhrmann-21&tracking_id=jansuhrmann-21" width="320" height="50" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>');
      sponsorBoards.push(sSponsorGoogleHori);
      //iB++;
    }

    function getLtSponsorBoardIds() {
      return $.ajax({
        url: "/Member/getLtSponsorBoardIds",
        type: 'POST',
        traditional: true,
        dataType: "json",
        success: function (ltSponsorBoardIds) {
        }
      });
    }

    function loadImageMain(iSponsorID) {
      divSponsorMain = document.getElementById("divSponsorMain");
      var ltSponsorNames = @Html.Raw(Json.Encode(Model.ltSponsorNames));
      divSponsorMain.innerHTML = "";
      if (iSponsorID > 0) {
        divSponsorMain.innerHTML = "<div style=\"position: absolute; width: 300px; height: 250px; font-size: 30px; background-color:lightblue\" align=\"center\">" + ltSponsorNames[iSponsorID] + "</div>";
      }
      divSponsorMain.innerHTML += "<div style=\"position: absolute; width: 300px; height: 250px; z-index: 2\">" + sponsorMain[iSponsorID] + "</div>";
    }

    function loadImageBoards(ltSponsorIds) {
      if (ltSponsorIds) {
        ltSponsorTmp = ltSponsorIds.slice()
        while (ltSponsorTmp.length < 12) {
          ltSponsorTmp.push(0);
        }

        var ltSponsorNames = @Html.Raw(Json.Encode(Model.ltSponsorNames));
        for (i = 0; i < ltSponsorTmp.length; i++) {
          if (ltSponsorTmp[i] > 0) {
            divBoard = document.getElementById("divSponsorBoard_" + i.toString());
            divBoard.innerHTML = "<div style=\"position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; font-size: 30px; background-color: lightblue\" align=\"center\">" + ltSponsorNames[ltSponsorTmp[i]] + "</div>";
            divBoard.innerHTML += "<div style=\"position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 99\">" + sponsorBoards[ltSponsorTmp[i]] + "</div>";
          }
        }
      }
    }

    $(document).ready(function () {
      bnTakeMain = document.getElementById("bnTake");
      if (bnTakeMain != null) {
        bnTakeMain.disabled = true;
      }
      bnTakeBoard = document.getElementById("bnTakeBoard");
      bnTakeBoard.disabled = true;

      var iSponsorID = @Html.Raw(Json.Encode(Model.sponsorMain.iId));

      loadImageMain(iSponsorID);

      // Set emblem on jersey
      var divJerseyEmblem = document.getElementById("divJerseyEmblem");
      divJerseyEmblem.innerHTML = @Html.Raw(Json.Encode(Model.sEmblem));

      var divJerseyContainer = document.getElementById("divJerseyContainer");
      var fWidth = $(window).width();
      if (fWidth < 600) {
        divJerseyContainer.style.left = "-140px"
      }

      $.when(getLtSponsorBoardIds()).done(function (ltSponsor) {
        loadImageBoards(ltSponsor);
      });

      var jTable = $('#tableSponsors').DataTable({
        "pageLength": 50,
        "paging": false,
        "info": false,
        "searching": false,
        "responsive": true,
        "language": {
          "emptyTable": "Keine Sponsorenangebote"
        },
        columnDefs: [
          { "className": "dt-center", "targets": "_all" },
          {
            targets: [0, 1],
            "visible": false,
            "searchable": false
          }
        ]
      });

      $('#tableSponsors tbody').on('click', 'tr', function () {
        if (bnTakeMain != null) {
          bnTakeMain.disabled = true;
        }

        if ($(this).hasClass('selected')) {
          $(this).removeClass('selected');
          loadImageMain(0);
        } else {
          jTable.$('tr.selected').removeClass('selected');
          $(this).addClass('selected');

          var data = jTable.row('.selected').data();
          if (data) {
            loadImageMain(data[1]);
            if (bnTakeMain != null) {
              bnTakeMain.disabled = false;
            }
          } else {
            loadImageMain(iSponsorID);
          }
        }
      });

      $('#bnTake').click(function () {
        var rowSel = jTable.row('.selected');
        var data = rowSel.data();

        if (data) {
          var iIndex = data[0];

          //table.row('.selected').remove().draw(false);
          $.when(getBalanceAjax()).done(function (iBalance) {
            $.ajax({
              type: 'post',
              url: '/Member/SponsorSet',
              dataType: "json",
              data: { iSponsorIndex: iIndex },
              success: function (sCash) {
                /*
                var audioCash = new Audio("/Content/Sounds/cash.wav");
                audioCash.play();
                */

                //jTable.ajax.reload();
                bnTakeMain.style.display = "none";
                //$(rowSel).css("font-weight", "bold");
                updateBalance(iBalance[0]);

                alert("Ihr aktuelles Guthaben hat sich um " + sCash + "€ erhöht.");
              }
            });
          });
        }
      });

      var tableBoard = $('#tableSponsorBoard').DataTable({
        "ajax": {
          "url": '@Url.Action("getTableSponsorBoard", "Member")',
          "type": 'GET',
          "dataType": "JSON",
          "cache": false,
          "contentType": "application/json; charset=utf-8"
        },
        "columns": [
          { "data": "bOffer" },
          { "data": "iId" },
          { "data": "iIndex" },
          { "data": "sName" },
          { "data": "sMoneyVicHome" },
          { "data": "nBoards" },
          { "data": "iYears" }
        ],
        "pageLength": 50,
        "paging": false,
        "info": false,
        "searching": false,
        "responsive": true,
        "language": {
          "emptyTable": "Keine Sponsorenangebote"
        },
        columnDefs: [
          { "className": "dt-center", "targets": "_all" },
          {
            targets: [0, 1, 2],
            "visible": false,
            "searchable": false
          }
        ],
        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
          if (!aData.bOffer) {
            $('td', nRow).css('font-weight', "bold");
          }
        }
      });

      $('#tableSponsorBoard tbody').on('click', 'tr', function () {
        if ($(this).hasClass('selected')) {
          $(this).removeClass('selected');
        } else {
          tableBoard.$('tr.selected').removeClass('selected');
          $(this).addClass('selected');
        }

        $.when(getLtSponsorBoardIds()).done(function (ltSponsorTmp) {
          bnTakeBoard.disabled = true;
          if (ltSponsorTmp.length < 12) {
            var data = tableBoard.row('.selected').data();
            if (data) {
              if (data.iId > 0) {
                bnTakeBoard.disabled = false;
                for (iB = 0; iB < data.nBoards; iB++) {
                  ltSponsorTmp.push(data.iId);
                }
              }
            }

            loadImageBoards(ltSponsorTmp);
          }
        });
      });

      $('#bnTakeBoard').click(function () {
        var data = tableBoard.row('.selected').data();
        if (data) {
          var iIndex = data.iIndex;
          bnTakeBoard.disabled = true;

          $.ajax({
            type: 'post',
            url: '/Member/SponsorSet',
            dataType: "json",
            data: { iSponsorIndex: iIndex },
            success: function (sCash) {
              //window.location.reload(true);
              $('#tableSponsorBoard').DataTable().ajax.reload();
            }
          });
        }
      });
    });
  </script>
</head>

<body>
  <h2>Hauptsponsor</h2>

  <div class="image" style="position: relative; width: 100%; height: auto; margin-bottom: 2%; background-color: white" align="center">
    <div id="divJerseyContainer" class="image" style="position: relative; width: 640px; height: 560px; margin-bottom: 2%; background-color: @Model.sColorJersey" align="center">
      <img style="position: absolute; top: 0px; left: 0px; width: 100%" src="~/Content/Icons/jersey.png" />
      <div id="divJerseyEmblem" style="position: absolute; width: 60px; height: 60px; top: 110px; left: 380px"></div>
      <div id="divSponsorMain" style="position: relative; width: 312px; height: 262px; top: 190px; border: 1px solid #ddd; border-radius: 4px; padding: 5px"></div>
    </div>
  </div>

  @{
    string sStyleTable = "display";
    if (true) {
      sStyleTable += " compact";
    }
  }
  <table id="tableSponsors" style="width: auto" class=@sStyleTable>
    <thead>
      <tr>
        <th>#</th>
        <th>id</th>
        <th>Sponsor</th>
        <th>Prämie/Jahr €</th>
        <th>Siegprämie €</th>
        <th>Meisterprämie €</th>
        <th>Laufzeit</th>
      </tr>
    </thead>
    <tbody>
      @{
        if (Model.sponsorMain.iId > 0) {
          <tr style="font-weight:bold">
            <td>0</td>
            <td>@Model.sponsorMain.iId</td>
            <td>@MvcApplication.ckcore.fz.ltSponsoren[Model.sponsorMain.iId].name</td>
            <td>@Model.sponsorMain.iGeldJahr.ToString("#,#", CornerkickWebMvc.Controllers.MemberController.getCiStatic(User))</td>
            <td>@Model.sponsorMain.iMoneyVicHome.ToString("#,#", CornerkickWebMvc.Controllers.MemberController.getCiStatic(User))</td>
            <td>@Model.sponsorMain.iGeldMeister.ToString("#,#", CornerkickWebMvc.Controllers.MemberController.getCiStatic(User))</td>
            <td>@Model.sponsorMain.iYears</td>
          </tr>
        }

        int iSp = 0;
        foreach (CornerkickManager.Finance.Sponsor spon in Model.ltSponsorOffers) {
          if (spon.bMain && spon.iId > 0 && spon.iId < MvcApplication.ckcore.fz.ltSponsoren.Count) {
            <tr>
              <td>@iSp</td>
              <td>@spon.iId</td>
              <td>@MvcApplication.ckcore.fz.ltSponsoren[spon.iId].name</td>
              <td>@spon.iGeldJahr.ToString("#,#", CornerkickWebMvc.Controllers.MemberController.getCiStatic(User))</td>
              <td>@spon.iMoneyVicHome.ToString("#,#", CornerkickWebMvc.Controllers.MemberController.getCiStatic(User))</td>
              <td>@spon.iGeldMeister.ToString("#,#", CornerkickWebMvc.Controllers.MemberController.getCiStatic(User))</td>
              <td>@spon.iYears</td>
            </tr>
          }
          iSp++;
        }
      }
    </tbody>
  </table>

  @{
    if (Model.sponsorMain.iId <= 0) {
      <button type="submit" id="bnTake" class="btn btn-default" style="width: 100%; margin-top: 6px; font-size: 16px">Sponsor wählen</button>
    }
  }

  <p> </p>
  <h2>Banden</h2>

  <table id="tableSponsorBoard" style="width: auto" class="display">
    <thead>
      <tr>
        <th></th>
        <th>id</th>
        <th>#</th>
        <th>Sponsor</th>
        <th>Prämie/Heimspiel € *</th>
        <th>Banden</th>
        <th>Laufzeit</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

  <button type="submit" id="bnTakeBoard" class="btn btn-default" style="width: 100%; margin-top: 6px; font-size: 16px">Sponsor wählen</button>
  * Entspricht Wettbewerbs-Prioritätsfaktor von 1.0

  @{
    for (int iB = 0; iB < 12; iB++) {
      if (iB < Model.ltSponsorBoards.Count) {
        CornerkickManager.Finance.Sponsor spon = Model.ltSponsorBoards[iB];
      }
      string sImgId = "divSponsorBoard_" + iB.ToString();
      <div class="image" style="position: relative; width: 100%; margin-top: 2%">
        <div id=@sImgId style="position: relative; float: left; width: 328px; height: 58px; margin-right: 12px; margin-bottom: 12px; border: 4px solid black; border-radius: 6px; background-color: #ddd; box-shadow: 4px 4px #696969"></div>
      </div>
    }
  }
</body>
