@model CornerkickWebMvc.Models.SponsorModel

@{
  ViewBag.Title = "Sponsor";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
  <meta charset="UTF-8">
  <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
  <link href="~/Content/DataTables/css/rowReorder.dataTables.min.css" rel="stylesheet" />
  <link href="~/Content/DataTables/css/responsive.dataTables.min.css" rel="stylesheet" />
  <script src="~/Scripts/jQuery-1.12.4.js" type="text/javascript"></script>
  <script src="~/Scripts/DataTables/jquery.dataTables.min.js" type="text/javascript"></script>
  <script src="~/Scripts/DataTables/dataTables.rowReorder.min.js" type="text/javascript"></script>

  <script type="text/javascript">
    var bMobile = false;

    var sponsorMain = [];
    sponsorMain.push('');
    sponsorMain.push('<img src="/Content/Images/sponsors/1a.png" style="position: relative; width: 100%; height: 100%"/>');
    sponsorMain.push('<iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=3&p=12&l=ez&f=ifr&linkID=af710bb1d1484bd029e76eeada862979&t=cornerkick03-21&tracking_id=cornerkick03-21" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>');

    var sponsorBoards = [];
    sponsorBoards.push('');
    sponsorBoards.push('<img src="/Content/Images/sponsors/1.png" style="position: relative; width: 100%; height: 100%"/>');
    //var iB = 1;
    while (sponsorBoards.length < 10) {
      sponsorBoards.push('<iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=3&p=288&l=ez&f=ifr&linkID=304dbf1425f3596b252609b0812b5e4b&t=cornerkick03-21&tracking_id=cornerkick03-21" width="320" height="50" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>');
      //sponsorBoards.push('<img src="/Content/Images/sponsors/' + iB.toString() + '.png" style="position: relative; width: 320px; height: 50px" />');
      //iB++;
    }

    function getLtSponsorBoardIds() {
      return $.ajax({
        url: "/Member/getLtSponsorBoardIds",
        type: 'POST',
        traditional: true,
        dataType: "json",
        success: function (ltSponsorBoardIds) {
        }
      });
    }

    function loadImageMain(iSponsorID) {
      divSponsorMain = document.getElementById("divSponsorMain");
      divSponsorMain.innerHTML = sponsorMain[iSponsorID];
    }

    function loadImageBoards(ltSponsorIds) {
      if (ltSponsorIds) {
        ltSponsorTmp = ltSponsorIds.slice()
        while (ltSponsorTmp.length < 12) {
          ltSponsorTmp.push(0);
        }

        for (i = 0; i < ltSponsorTmp.length; i++) {
          divBoard = document.getElementById("divSponsorBoard_" + i.toString());
          divBoard.innerHTML = sponsorBoards[ltSponsorTmp[i]];
        }
      }
    }

    $(document).ready(function () {
      bnTakeMain = document.getElementById("bnTake");
      if (bnTakeMain != null) {
        bnTakeMain.disabled = true;
      }
      bnTakeBoard = document.getElementById("bnTakeBoard");
      bnTakeBoard.disabled = true;

      var iSponsorID = @Html.Raw(Json.Encode(Model.sponsorMain.iId));

      loadImageMain(iSponsorID);

      // Set emblem on jersey
      var divJerseyEmblem = document.getElementById("divJerseyEmblem");
      divJerseyEmblem.innerHTML = @Html.Raw(Json.Encode(Model.sEmblem));

      var divJerseyContainer = document.getElementById("divJerseyContainer");
      var fWidth = $(window).width();
      if (fWidth < 600) {
        divJerseyContainer.style.left = "-140px"
      }

      $.when(getLtSponsorBoardIds()).done(function (ltSponsor) {
        loadImageBoards(ltSponsor);
      });

      var jTable = $('#tableSponsors').DataTable({
        "pageLength": 50,
        "paging": false,
        "info": false,
        "searching": false,
        "responsive": true,
        "language": {
          "emptyTable": "Keine Sponsorenangebote"
        },
        columnDefs: [
          { "className": "dt-center", "targets": "_all" },
          {
            targets: [0, 1],
            "visible": false,
            "searchable": false
          }
        ]
      });

      $('#tableSponsors tbody').on('click', 'tr', function () {
        if (bnTakeMain != null) {
          bnTakeMain.disabled = true;
        }

        if ($(this).hasClass('selected')) {
          $(this).removeClass('selected');
          loadImageMain(0);
        } else {
          jTable.$('tr.selected').removeClass('selected');
          $(this).addClass('selected');

          var data = jTable.row('.selected').data();
          if (data) {
            loadImageMain(data[1]);
            if (bnTakeMain != null) {
              bnTakeMain.disabled = false;
            }
          } else {
            loadImageMain(iSponsorID);
          }
        }
      });

      $('#bnTake').click(function () {
        var data = jTable.row('.selected').data();
        if (data) {
          var iIndex = data[0];
          //table.row('.selected').remove().draw(false);
          $.ajax({
            type: 'post',
            url: '/Member/SponsorSet',
            dataType: "json",
            data: { iSponsorIndex: iIndex },
            success: function (sCash) {
              //$("#bnBuild").text("Kosten: " + iKosten);
              alert("Ihr aktuelles Guthaben hat sich um " + sCash + "€ erhöht.");
              window.location.reload(true);
            }
          });
        }
      });

      var tableBoard = $('#tableSponsorBoard').DataTable({
        "ajax": {
          "url": '@Url.Action("getTableSponsorBoard", "Member")',
          "type": 'GET',
          "dataType": "JSON",
          "cache": false,
          "contentType": "application/json; charset=utf-8"
        },
        "columns": [
          { "data": "bOffer" },
          { "data": "iId" },
          { "data": "iIndex" },
          { "data": "sName" },
          { "data": "sMoneyVicHome" },
          { "data": "nBoards" },
          { "data": "iYears" }
        ],
        "pageLength": 50,
        "paging": false,
        "info": false,
        "searching": false,
        "responsive": true,
        "language": {
          "emptyTable": "Keine Sponsorenangebote"
        },
        columnDefs: [
          { "className": "dt-center", "targets": "_all" },
          {
            targets: [0, 1, 2],
            "visible": false,
            "searchable": false
          }
        ],
        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
          if (!aData.bOffer) {
            $('td', nRow).css('font-weight', "bold");
          }
        }
      });

      $('#tableSponsorBoard tbody').on('click', 'tr', function () {
        if ($(this).hasClass('selected')) {
          $(this).removeClass('selected');
        } else {
          tableBoard.$('tr.selected').removeClass('selected');
          $(this).addClass('selected');
        }

        $.when(getLtSponsorBoardIds()).done(function (ltSponsorTmp) {
          bnTakeBoard.disabled = true;
          if (ltSponsorTmp.length < 12) {
            var data = tableBoard.row('.selected').data();
            if (data) {
              if (data.iId > 0) {
                bnTakeBoard.disabled = false;
                for (iB = 0; iB < data.nBoards; iB++) {
                  ltSponsorTmp.push(data.iId);
                }
              }
            }

            loadImageBoards(ltSponsorTmp);
          }
        });
      });

      $('#bnTakeBoard').click(function () {
        var data = tableBoard.row('.selected').data();
        if (data) {
          var iIndex = data.iIndex;
          bnTakeBoard.disabled = true;

          $.ajax({
            type: 'post',
            url: '/Member/SponsorSet',
            dataType: "json",
            data: { iSponsorIndex: iIndex },
            success: function (sCash) {
              //window.location.reload(true);
              $('#tableSponsorBoard').DataTable().ajax.reload();
            }
          });
        }
      });
    });
  </script>
</head>

<h2>Hauptsponsor</h2>

<div class="image" style="position: relative; width: 100%; height: auto; margin-bottom: 2%; background-color: white" align="center">
  <div id="divJerseyContainer" class="image" style="position: relative; width: 640px; height: 560px; margin-bottom: 2%; background-color: @Model.sColorJersey" align="center">
    <img style="position: absolute; top: 0px; left: 0px; width: 100%" src="~/Content/Icons/jersey.png" />
    <div id="divJerseyEmblem" style="position: absolute; width: 60px; height: 60px; top: 110px; left: 380px"></div>
    <div id="divSponsorMain" style="position: relative; width: 312px; height: 262px; top: 190px; border: 1px solid #ddd; border-radius: 4px; padding: 5px"></div>
  </div>
</div>

@{
  string sStyleTable = "display";
  if (true) {
    sStyleTable += " compact";
  }
}
<table id="tableSponsors" style="width: auto" class=@sStyleTable>
  <thead>
    <tr>
      <th>#</th>
      <th>id</th>
      <th>Sponsor</th>
      <th>Prämie/Jahr €</th>
      <th>Siegprämie €</th>
      <th>Meisterprämie €</th>
      <th>Laufzeit</th>
    </tr>
  </thead>
  <tbody>
    @{
      if (Model.sponsorMain.iId > 0) {
        <tr style="font-weight:bold">
          <td>0</td>
          <td>@Model.sponsorMain.iId</td>
          <td>@MvcApplication.ckcore.fz.ltSponsoren[Model.sponsorMain.iId].name</td>
          <td>@Model.sponsorMain.iGeldJahr.ToString("#,#", CornerkickWebMvc.Controllers.MemberController.getCiStatic(User))</td>
          <td>@Model.sponsorMain.iMoneyVicHome.ToString("#,#", CornerkickWebMvc.Controllers.MemberController.getCiStatic(User))</td>
          <td>@Model.sponsorMain.iGeldMeister.ToString("#,#", CornerkickWebMvc.Controllers.MemberController.getCiStatic(User))</td>
          <td>@Model.sponsorMain.iYears</td>
        </tr>
      }

      int iSp = 0;
      foreach (CornerkickManager.Finance.Sponsor spon in Model.ltSponsorOffers) {
        if (spon.bMain && spon.iId > 0 && spon.iId < MvcApplication.ckcore.fz.ltSponsoren.Count) {
          <tr>
            <td>@iSp</td>
            <td>@spon.iId</td>
            <td>@MvcApplication.ckcore.fz.ltSponsoren[spon.iId].name</td>
            <td>@spon.iGeldJahr.ToString("#,#", CornerkickWebMvc.Controllers.MemberController.getCiStatic(User))</td>
            <td>@spon.iMoneyVicHome.ToString("#,#", CornerkickWebMvc.Controllers.MemberController.getCiStatic(User))</td>
            <td>@spon.iGeldMeister.ToString("#,#", CornerkickWebMvc.Controllers.MemberController.getCiStatic(User))</td>
            <td>@spon.iYears</td>
          </tr>
        }
        iSp++;
      }
    }
  </tbody>
</table>

@{
  if (Model.sponsorMain.iId <= 0) {
    <button type="submit" id="bnTake" class="btn btn-default" style="width: 100%; margin-top: 6px; font-size: 16px">Sponsor wählen</button>
  }
}

<p> </p>
<h2>Banden</h2>

<table id="tableSponsorBoard" style="width: auto" class="display">
  <thead>
    <tr>
      <th></th>
      <th>id</th>
      <th>#</th>
      <th>Sponsor</th>
      <th>Prämie/Heimspiel €</th>
      <th>Banden</th>
      <th>Laufzeit</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<button type="submit" id="bnTakeBoard" class="btn btn-default" style="width: 100%; margin-top: 6px; font-size: 16px">Sponsor wählen</button>

@{
  for (int iB = 0; iB < 12; iB++) {
    if (iB < Model.ltSponsorBoards.Count) {
      CornerkickManager.Finance.Sponsor spon = Model.ltSponsorBoards[iB];
    }
    string sImgId = "divSponsorBoard_" + iB.ToString();
    <div class="image" style="position: relative; width: 100%; margin-top: 2%">
      <div id=@sImgId style="position: relative; float: left; width: 328px; height: 58px; margin-right: 12px; margin-bottom: 12px; border: 4px solid black; border-radius: 6px; background-color: #ddd; box-shadow: 4px 4px #696969"></div>
    </div>
  }
}
