@model CornerkickWebMvc.Models.StadiumSurroundingsModel

@{
  ViewBag.Title = "Stadionumgebung";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <style>
    .ui-widget-header {
      background: lime;
    }
    .ui-progressbar {
      position: relative;
      height: 14px;
      display: none;
    }
    .progress-label {
      position: absolute;
      left: 50%;
      top: -4px;
      text-shadow: 1px 1px 0 #fff;
    }
  </style>

  <script type="text/javascript">
    $(document).ready(function () {
      for (var iBdg = 0; iBdg < 6; iBdg++) {
        var pbBuildingNew = $("#pbBuildingNew" + iBdg.toString());
        if (pbBuildingNew) {
          pbBuildingNew.progressbar({
            value: false,
            change: function () {
              $(this).find('.progress-label').text($(this).progressbar("value") + "%");
            }
          });
        }

        getBuilding(iBdg);
      }

      var pbCarpark = $("#pbCarpark");
      var plCarpark = $("#plCarpark");
      pbCarpark.progressbar({
        value: false,
        change: function () {
          plCarpark.text(pbCarpark.progressbar("value") + "%");
        }
      });
      var pbCounter = $("#pbCounter");
      var plCounter = $("#plCounter");
      pbCounter.progressbar({
        value: false,
        change: function () {
          plCounter.text(pbCounter.progressbar("value") + "%");
        }
      });

      setImage();
      getCurrent();

      $("#bnBuildBuilding0").click(function () {
        buildBuilding(0);
      });

      $("#bnBuildBuilding1").click(function () {
        buildBuilding(1);
      });

      $("#bnBuildBuilding2").click(function () {
        buildBuilding(2);
      });

      $("#bnBuildBuilding3").click(function () {
        buildBuilding(3);
      });

      $("#bnBuildBuilding4").click(function () {
        buildBuilding(4);
      });

      $("#bnBuildBuilding5").click(function () {
        buildBuilding(5);
      });

      $("#tbCarpark").on('keyup', function (ev) {
        getPark();
      });

      $("#bnBuildCarpark").click(function () {
        buildPark();
      });

      $("#tbCounter").on('keyup', function (ev) {
        getCounter();
      });

      $("#bnBuildCounter").click(function () {
        buildCounter();
      });
    });

    function setImage() {
      $.ajax({
        url: '/Member/StadiumGetTopring',
        type: "post",
        dataType: "JSON",
        success: function (bTopring) {
          if (bTopring) {
            document.getElementById("imgStadium").src = "/Content/Images/stadium/stadion_L.jpg";
          } else {
            document.getElementById("imgStadium").src = "/Content/Images/stadium/stadion_S.png";
          }
        }
      });
    }

    function getCurrent() {
      $.ajax({
        type: 'post',
        url: '/Member/StadiumGetSurrGetCurrent',
        dataType: "json",
        success: function (sCurrent) {
          for (var iT = 0; iT < 6; iT++) {
            $("#txtBuilding" + iT.toString()).text("Aktuell: " + sCurrent[iT][0]);

            if (sCurrent[iT][2] != "0") {
              $("#txtBuildingNew"  + iT.toString()).text("Ausbau zu: " + sCurrent[iT][1] + " (noch " + sCurrent[iT][2] + "d)");
              $("#pbBuildingNew"   + iT.toString()).progressbar("value", parseFloat(sCurrent[iT][3].replace("%", "").replace(",", ".")));
              $("#pbBuildingNew"   + iT.toString()).css("display", "block");
              $("#ddlBuilding"     + iT.toString()).css("display", "none");
              $("#bnBuildBuilding" + iT.toString()).css("display", "none");
            }
          }

          iType = 6;
          $("#txtPark").text("Parkplätze - Aktuell: " + sCurrent[iType][0]);
          if (sCurrent[iType][2] != "0") {
            $("#txtParkNew").text("Ausbau zu: " + sCurrent[iType][1] + " (noch " + sCurrent[iType][2] + "d)");
            $("#pbCarpark").progressbar("value", parseFloat(sCurrent[iType][3].replace("%", "").replace(",", ".")));
            $("#pbCarpark").css("display", "block");
            $("#tbCarpark").css("display", "none");
            $("#bnBuildCarpark").css("display", "none");
          }

          iType = 7;
          $("#txtCounter").text("Ticketschalter - Aktuell: " + sCurrent[iType][0]);
          if (sCurrent[iType][2] != "0") {
            $("#txtCounterNew").text("Ausbau zu: " + sCurrent[iType][1] + " (noch " + sCurrent[iType][2] + "d)");
            $("#pbCounter").progressbar("value", parseFloat(sCurrent[iType][3].replace("%", "").replace(",", ".")));
            $("#pbCounter").css("display", "block");
            $("#tbCounter").css("display", "none");
            $("#bnBuildCounter").css("display", "none");
          }
        }
      });
    }

    function getBuilding(iType) {
      bnBuildBuilding = document.getElementById("bnBuildBuilding" + iType.toString());
      bnBuildBuilding.disabled = true;

      var iLevel = $('#ddlBuilding' + iType.toString()).val();
      if (iLevel) {
        $.ajax({
          type: 'post',
          url: '/Member/StadiumGetCostSurr',
          dataType: "json",
          data: { i: iLevel, iType: iType },
          success: function (sCostDaysDispo) {
            $('#bnBuildBuilding' + iType.toString()).text("Kosten: " + sCostDaysDispo[0] + " €, Dauer: " + sCostDaysDispo[1] + " Tage");
            if (sCostDaysDispo[1] == "0" || sCostDaysDispo[1] == "" || sCostDaysDispo[2] == "0") {
            } else {
              $('#bnBuildBuilding' + iType.toString()).prop('disabled', false);
            }
          }
        });
      }
    }

    function getPark() {
      bnBuildCarpark = document.getElementById("bnBuildCarpark");
      bnBuildCarpark.disabled = true;

      var iPark = $('#tbCarpark').val();
      $.ajax({
        type: 'post',
        url: '/Member/StadiumGetCostSurr',
        dataType: "json",
        data: { i: iPark, iType: 6 },
        success: function (sCostDaysDispo) {
          $("#bnBuildCarpark").text("Kosten: " + sCostDaysDispo[0] + " €, Dauer: " + sCostDaysDispo[1] + " Tage");
          if (sCostDaysDispo[1] == "0" || sCostDaysDispo[1] == "" || sCostDaysDispo[2] == "0") {
            bnBuildCarpark.disabled = true;
          } else {
            bnBuildCarpark.disabled = false;
          }
        }
      });
    }

    function getCounter() {
      bnBuild = document.getElementById("bnBuildCounter");
      bnBuild.disabled = true;

      var iCount = $('#tbCounter').val();
      $.ajax({
        type: 'post',
        url: '/Member/StadiumGetCostSurr',
        dataType: "json",
        data: { i: iCount, iType: 7 },
        success: function (sCostDaysDispo) {
          $("#bnBuildCounter").text("Kosten: " + sCostDaysDispo[0] + " €, Dauer: " + sCostDaysDispo[1] + " Tage");
          if (sCostDaysDispo[1] == "0" || sCostDaysDispo[1] == "" || sCostDaysDispo[2] == "0") {
            bnBuild.disabled = true;
          } else {
            bnBuild.disabled = false;
          }
        }
      });
    }

    function buildBuilding(iType) {
      var iLevel = $('#ddlBuilding' + iType.toString()).val();
      $.ajax({
        type: 'post',
        url: '/Member/StadiumBuildBuilding',
        dataType: "json",
        data: { iType: iType, iLevel: iLevel },
        success: function (sMessage) {
          alert(sMessage);
          window.location.reload(true);
        }
      });
    }

    function buildPark() {
      var iPark = $('#tbCarpark').val();
      $.ajax({
        type: 'post',
        url: '/Member/StadiumBuildPark',
        dataType: "json",
        data: { iCount: iPark },
        success: function (sMessage) {
          alert(sMessage);
          window.location.reload(true);
        }
      });
    }

    function buildCounter() {
      var iCount = $('#tbCounter').val();
      $.ajax({
        type: 'post',
        url: '/Member/StadiumBuildCounter',
        dataType: "json",
        data: { iCount: iCount },
        success: function (sMessage) {
          alert(sMessage);
          window.location.reload(true);
        }
      });
    }
  </script>
</head>

<body>
  <h2>Stadionumgebung</h2>
  <div style="position: relative; height: 700px">
    <div style="position: relative; float: left; width: 320px; height: 259px">
      <img style="position: absolute; top: 0px; left: 0px; width: 100%" src="~/Content/Images/stadium/stadium_surrounding.png" />

      <div style="position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; padding: 28px; text-align: center">
        <b style="position: relative; width: 264px; font-size: 18px">Vereinsmuseum</b>
        <p id="txtBuilding5" style="position: relative; width: 264px; margin: 0; font-size: 18px"></p>
        <p id="txtBuildingNew5" style="position: relative; width: 264px; margin: 0"></p>
        <div id="pbBuildingNew5" style="position: relative; width: 264px"><div id="plBuilding5" class="progress-label"></div></div>
        @Html.DropDownListFor(m => m.iClubMuseum, Model.ddlClubMuseum, new { @class = "form-control", @onchange = "getBuilding(5)", id = "ddlBuilding5", @style = "width: 264px; min-width: 264px" })
        <button type="submit" id="bnBuildBuilding5" class="btn btn-default" style="width: 264px; float: left">Kosten: 0</button>
      </div>
    </div>

    <div style="position: relative; float: left; width: 320px; height: 259px">
      <img style="position: absolute; top: 0px; left: 0px; width: 100%" src="~/Content/Images/stadium/stadium_surrounding.png" />

      <div style="position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; padding: 28px; text-align: center">
        <b style="position: relative; width: 264px; font-size: 18px">Vereinsheim</b>
        <p id="txtBuilding4" style="position: relative; width: 264px; margin: 0; font-size: 18px"></p>
        <p id="txtBuildingNew4" style="position: relative; width: 264px; margin: 0"></p>
        <div id="pbBuildingNew4" style="position: relative; width: 264px"><div id="plBuilding4" class="progress-label"></div></div>
        @Html.DropDownListFor(m => m.iClubHouse, Model.ddlClubHouse, new { @class = "form-control", @onchange = "getBuilding(4)", id = "ddlBuilding4", @style = "width: 264px; min-width: 264px" })
        <button type="submit" id="bnBuildBuilding4" class="btn btn-default" style="width: 264px; float: left">Kosten: 0</button>
      </div>
    </div>

    <div style="position: relative; float: left; width: 320px; height: 259px">
      <img style="position: absolute; top: 0px; left: 0px; width: 100%" src="~/Content/Images/stadium/stadium_surrounding.png" />

      <div style="position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; padding: 28px; text-align: center">
        <b style="position: relative; width: 264px; font-size: 18px">Jugendinternat</b>
        <p id="txtBuilding3" style="position: relative; width: 264px; margin: 0; font-size: 18px"></p>
        <p id="txtBuildingNew3" style="position: relative; width: 264px; margin: 0"></p>
        <div id="pbBuilding3" style="position: relative; width: 264px"><div id="plBuilding3" class="progress-label"></div></div>
        @Html.DropDownListFor(m => m.iJouthInternat, Model.ddlJouthInternat, new { @class = "form-control", @onchange = "getBuilding(3)", id = "ddlBuilding3", @style = "width: 264px; min-width: 264px" })
        <button type="submit" id="bnBuildBuilding3" class="btn btn-default" style="width: 264px; float: left">Kosten: 0</button>
      </div>
    </div>

    <div style="position: relative; float: left; width: 320px; height: 259px">
      <img style="position: absolute; top: 0px; left: 0px; width: 100%" src="~/Content/Images/stadium/stadium_surrounding.png" />

      <div style="position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; padding: 28px; text-align: center">
        <b style="position: relative; width: 264px; font-size: 18px">Trainingsgelände</b>
        <p id="txtBuilding0" style="position: relative; width: 264px; margin: 0; font-size: 18px"></p>
        <p id="txtBuildingNew0" style="position: relative; width: 264px; margin: 0"></p>
        <div id="pbBuildingNew0" style="position: relative; width: 264px"><div id="plBuilding0" class="progress-label"></div></div>
        @Html.DropDownListFor(m => m.iTrainingsgel, Model.ddlTrainingsgel, new { @class = "form-control", @onchange = "getBuilding(0)", id = "ddlBuilding0", @style = "width: 264px; min-width: 264px" })
        <button type="submit" id="bnBuildBuilding0" class="btn btn-default" style="width: 264px; float: left">Kosten: 0</button>
      </div>
    </div>

    <div style="position: relative; float: left; width: 320px; height: 259px">
      <img id="imgStadium" style="position: relative; top: 0px; left: 0px; width: 100%" src="~/Content/Images/stadium/stadion_S.jpg" alt="" />
    </div>

    <div style="position: relative; float: left; width: 320px; height: 259px">
      <img style="position: absolute; top: 0px; left: 0px; width: 100%" src="~/Content/Images/stadium/stadium_surrounding.png" />

      <div style="position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; padding: 28px; text-align: center">
        <b id="txtPark" style="position: relative; width: 264px; font-size: 18px"></b>
        <p id="txtParkNew" style="position: relative; width: 264px; margin: 0"></p>
        <div id="pbCarpark" style="position: relative; width: 264px"><div id="plCarpark" class="progress-label"></div></div>
        @Html.EditorFor(Model => Model.iCarpark, new { htmlAttributes = new { @class = "form-control", @type = "number", @style = "position: relative; width: 264px; min-width: 264px; text-align: right", id = "tbCarpark", autocomplete = "off", min = "0" } })
        <button type="submit" id="bnBuildCarpark" class="btn btn-default" style="width: 264px">Kosten: 0</button>
      </div>
    </div>

    <div style="position: relative; float: left; width: 320px; height: 259px">
      <img style="position: absolute; top: 0px; left: 0px; width: 100%" src="~/Content/Images/stadium/stadium_surrounding.png" />

      <div style="position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; padding: 28px; text-align: center">
        <b style="position: relative; width: 264px; font-size: 18px">Fittnessraum</b>
        <p id="txtBuilding1" style="position: relative; width: 264px; margin: 0; font-size: 18px"></p>
        <p id="txtBuildingNew1" style="position: relative; width: 264px; margin: 0"></p>
        <div id="pbBuildingNew1" style="position: relative; width: 264px"><div id="plBuilding1" class="progress-label"></div></div>
        @Html.DropDownListFor(m => m.iGym, Model.ddlGym, new { @class = "form-control", @onchange = "getBuilding(1)", id = "ddlBuilding1", @style = "width: 264px; min-width: 264px" })
        <button type="submit" id="bnBuildBuilding1" class="btn btn-default" style="width: 264px; float: left">Kosten: 0</button>
      </div>
    </div>

    <div style="position: relative; float: left; width: 320px; height: 259px">
      <img style="position: absolute; top: 0px; left: 0px; width: 100%" src="~/Content/Images/stadium/stadium_surrounding.png" />

      <div style="position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; padding: 28px; text-align: center">
        <b style="position: relative; width: 264px; font-size: 18px">Wellnessraum</b>
        <p id="txtBuilding2" style="position: relative; width: 264px; margin: 0; font-size: 18px"></p>
        <p id="txtBuildingNew2" style="position: relative; width: 264px; margin: 0"></p>
        <div id="pbBuildingNew2" style="position: relative; width: 264px"><div id="plBuilding2" class="progress-label"></div></div>
        @Html.DropDownListFor(m => m.iSpa, Model.ddlSpa, new { @class = "form-control", @onchange = "getBuilding(2)", id = "ddlBuilding2", @style = "width: 264px; min-width: 264px" })
        <button type="submit" id="bnBuildBuilding2" class="btn btn-default" style="width: 264px; float: left">Kosten: 0</button>
      </div>
    </div>

    <div style="position: relative; float: left; width: 320px; height: 259px">
      <img style="position: absolute; top: 0px; left: 0px; width: 100%" src="~/Content/Images/stadium/stadium_surrounding.png" />

      <div style="position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; padding: 28px; text-align: center">
        <b id="txtCounter" style="position: relative; width: 264px; font-size: 18px"></b>
        <p id="txtCounterNew" style="position: relative; width: 264px; margin: 0"></p>
        <div id="pbCounter" style="position: relative; width: 264px"><div id="plCounter" class="progress-label"></div></div>
        @Html.EditorFor(Model => Model.iCounter, new { htmlAttributes = new { @class = "form-control", @type = "number", @style = "position: relative; width: 264px; min-width: 264px; text-align: right", id = "tbCounter", autocomplete = "off", min = "0" } })
        <button type="submit" id="bnBuildCounter" class="btn btn-default" style="width: 264px">Kosten: 0</button>
      </div>
    </div>
  </div>
</body>
</html>
