@model CornerkickWebMvc.Models.StatisticModel

@{
  ViewBag.Title = "Statistik";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Statistik</title>

  <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
  <script type="text/javascript" src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="~/Scripts/Player.js"></script>
  <script type="text/javascript" src="~/Scripts/Formation.js"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      var ddlStatNations   = $('#ddlStatNations');
      var ddlStatFormation = $('#ddlStatFormation');
      var ddlStatLeagues = document.getElementById("ddlStatLeagues");

      $("#rbProfi").on('change', function (ev) {
        drawBest11();
      });

      $("#rbJouth").on('change', function (ev) {
        drawBest11();
      });

      ddlStatNations.change(function () {
        drawBest11();
      });

      ddlStatFormation.change(function () {
        drawBest11();
      });

      drawBest11();

      var dtTeams = $('#tblTeams').DataTable({
        "ajax": {
          "url": '@Url.Action("StatisticGetTableTeams", "Member")',
          "type": 'GET',
          "data": function (d) {
            d.sCupId = ddlStatLeagues.value;
          }
        },
        "searching": true,
        "paging": false,
        "info": false,
        "pageLength": 20,
        "order": [[3, "desc"]],
        "columns": [
          { "data": "iIx", "className": "dt-center" },
          { "data": "iTeamId" },
          {
            "data": "sTeamName",
            "render": function (data, type, row) {
              return '@Html.ActionLink("name", "ClubDetails", "Member", new { iClub = "id" }, new { target = "" })'.replace("name", data).replace("id", row.iTeamId);
            },
            "className": "dt-center"
          },
          { "data": "sTeamAveSkill", "className": "dt-center" },
          { "data": "sTeamAveAge", "className": "dt-center" },
          {
            "data": "iTeamValueTotal",
            "className": "dt-right",
            render: $.fn.dataTable.render.number('.', ',', 0, '')
          },
          { "data": "nPlayer", "className": "dt-center" },
          { "data": "sTeamAveSkill11", "className": "dt-center" },
          { "data": "sTeamAveAge11", "className": "dt-center" },
          {
            "data": "iTeamValueTotal11",
            "className": "dt-right",
            render: $.fn.dataTable.render.number('.', ',', 0, '')
          },
          {
            "data": "fAttrFactor",
            "className": "dt-right",
            render: $.fn.dataTable.render.number('.', ',', 1, '')
          },
          { "data": "sLeague", "className": "dt-center" }
        ],
        columnDefs: [
          {
            targets: [0, 1],
            "visible": false,
            "searchable": false
          }
        ]
      });

      $('#ddlStatLeagues').change(function () {
        dtTeams.ajax.reload();
      });

      drawTableTransfers();
      drawTableStadiums();
    }); // document ready

    function drawBest11() {
      var bJouth = document.getElementById("rbJouth").checked;
      var ddlStatNations   = $('#ddlStatNations');
      var ddlStatFormation = $('#ddlStatFormation');
      // end declarations

      iNation    = ddlStatNations  .val();
      iFormation = ddlStatFormation.val();

      $.ajax({
        cache: false,
        url: "/Member/StatisticGetBest11",
        type: "GET",
        data: { iNat: iNation, iF: iFormation, bJouth: bJouth },
        success: function (teamData) {
          if (teamData) { // check if data is defined
            var bMobile = $(window).width() < 960;
            var result = "";
            var drawFormation = $("#drawFormation");

            $.each(teamData.ltPlayer2, function (i, pl2) {
              result += getBoxFormation(i, teamData.formation.ptPos[i], pl2.sName, (i + 1).toString(), pl2.sSkillAve, false, false, -1, pl2.iPos, bMobile, 0.5, pl2.sTeamname, pl2.sAge, pl2.sNat, false, false, pl2.sPortrait);

              return i !== 11;
            });

            drawFormation.html(result).fadeIn('slow');

            var txtStatAverage = $("#txtStatAverage");
            txtStatAverage.html("Durchschnittsstärke (-alter): " + teamData.fTeamAveStrength.toFixed(2) + " (" + teamData.fTeamAveAge.toFixed(1) + ")");
          } else {
            alert("data hasn't worked!");
          }
        }
      });
    }

    function drawTableTransfers() {
      $('#tblStatisticTransfers').DataTable({
        "ajax": {
          "url": '@Url.Action("StatisticGetTransferTable", "Member")',
          "type": 'GET',
          "dataType": "JSON",
          "cache": false,
          "contentType": "application/json; charset=utf-8"
        },
        "columns": [
          { "data": "iIx" },
          { "data": "sPlayerName" },
          {
            "data": "iTransferFee",
            render: $.fn.dataTable.render.number('.', ',', 0, '')
          },
          {
            "data": "iValue",
            render: $.fn.dataTable.render.number('.', ',', 0, '')
          },
          { "data": "sClubTakeName" },
          { "data": "sClubGiveName" },
          { "data": "sDt" }
        ],
        "language": {
          "emptyTable": "Keine Transfers"
        },
        "pageLength": 10,
        "paging": false,
        "info": false,
        "responsive": false,
        "searching": false,
        "select": false,
        "columnDefs": [
          { "targets": [1, 4, 5, 6], "className": "dt-center" },
          { "targets": [0, 2, 3], "className": "dt-right" }
        ]
      });
    }

    function drawTableStadiums() {
      $('#tblStatisticStadiums').DataTable({
        "ajax": {
          "url": '@Url.Action("StatisticGetStadiumsTable", "Member")',
          "type": 'GET',
          "dataType": "JSON",
          "cache": false,
          "contentType": "application/json; charset=utf-8"
        },
        "columns": [
          { "data": "iIx" },
          { "data": "sName" },
          {
            "data": "iTotal",
            render: $.fn.dataTable.render.number('.', ',', 0, '')
          },
          {
            "data": "iType0",
            render: $.fn.dataTable.render.number('.', ',', 0, '')
          },
          {
            "data": "iType1",
            render: $.fn.dataTable.render.number('.', ',', 0, '')
          },
          {
            "data": "iType2",
            render: $.fn.dataTable.render.number('.', ',', 0, '')
          },
          { "data": "bTopring" },
          { "data": "sClubName" }
        ],
        "language": {
          "emptyTable": "Keine Stadien"
        },
        "pageLength": 10,
        "paging": false,
        "info": false,
        "responsive": false,
        "searching": false,
        "select": false,
        "columnDefs": [
          { "targets": [1, 6, 7], "className": "dt-center" },
          { "targets": [0, 2, 3, 4, 5], "className": "dt-right" }
        ],
        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
          if (aData.iTotalCtn > 0) {
            $('td:eq(2)', nRow).html(aData.iTotal.toLocaleString() + " (" + aData.iTotalCtn.toLocaleString() + ")");

            if (aData.iType0Ctn > 0) {
              $('td:eq(3)', nRow).html(aData.iType0.toLocaleString() + " (" + aData.iType0Ctn.toLocaleString() + ")");
            }

            if (aData.iType1Ctn > 0) {
              $('td:eq(4)', nRow).html(aData.iType1.toLocaleString() + " (" + aData.iType1Ctn.toLocaleString() + ")");
            }

            if (aData.iType2Ctn > 0) {
              $('td:eq(5)', nRow).html(aData.iType2.toLocaleString() + " (" + aData.iType2Ctn.toLocaleString() + ")");
            }
          }

          if (aData.bTopring) {
            $('td:eq(6)', nRow).html("X");
          } else {
            $('td:eq(6)', nRow).html("-");
          }
        }
      });
    }
  </script>
</head>

<body>
  <h3>Beste Spieler</h3>
  <div style="position: relative; width: 70%; min-width: 360px; margin-bottom: 6px">
    <div style="position: relative; width: 100%; height: 32px">
      @Html.DropDownListFor(m => m.iNation, Model.ddlNations, new { @Id = "ddlStatNations", @class = "form-control", @style = "position: absolute; width: 140px" })
      @Html.DropDownListFor(m => m.sFormation, Model.ltsFormations, new { @Id = "ddlStatFormation", @class = "form-control", @style = "position: absolute; width: 140px; right: 0px" })
    </div>

    <div class="image" id="divFieldContainer" style="position: relative; width: 100%; margin-top: 25px; margin-bottom: 6px">
      <img style="position: relative; width: 100%" src="~/Content/Images/stadium/field.png" />
      <div style="position: absolute; margin-left: 5%; width: 90%; height: 94%; top: 0px; left: 0%">
        <div id="drawFormation" style="position: absolute; width: 100%; height: 100%; top: 0%; left: 0%"></div>
      </div>
      <div align="center" style="position: absolute; top: -25px; width: 100%">
        <div style="position: relative; width: 140px; height: 26px; background-color: white; white-space: nowrap; border: 2px solid black; -webkit-border-radius: 10px; -moz-border-radius: 10px">
          <form>
            <fieldset>
              <label style="font-size:120%; color: black; margin-right: 4%">
                <input type="radio" id="rbProfi" name="rbProfiJouth" value="0" checked>
                Profis
              </label>
              <label style="font-size:120%; color: black">
                <input type="radio" id="rbJouth" name="rbProfiJouth" value="1">
                U18
              </label>
            </fieldset>
          </form>
        </div>
      </div>

      <b id="average" style="position: absolute; bottom: 0%; left: 0%; width: 100%; text-align:center; font-size:130%; color:white"></b>
    </div>
  </div>

  <text id="txtStatAverage" style="position: relative; width: 100%"></text>

  <div style="position: relative; width: auto; height: auto; margin-top: 20px">
    <table border="1" cellpadding="4" style="width: auto">
      <thead>
        <tr>
          <th style="text-align:center">Fähigkeit</th>
          <th style="text-align:center">Spieler</th>
          <th style="text-align:center">Stärke</th>
          <th style="text-align:center">Verein</th>
        </tr>
      </thead>
      <tbody>
        @for (byte iS = 0; iS < Model.sPlayerSkillBest.Length; iS++) {
          if (Model.sPlayerSkillBest[iS] == null) {
            continue;
          }

          <tr>
            <td align="center">@Model.sPlayerSkillBest[iS][0]</td>
            <td align="center">@Model.sPlayerSkillBest[iS][1]</td>
            <td align="right">@Model.sPlayerSkillBest[iS][2]</td>
            <td align="center">@Model.sPlayerSkillBest[iS][3]</td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  <div style="position: relative">
    <h3 style="position: relative; margin-top: 30px">Mannschaftsübersicht</h3>
    <div style="position: relative; width: 180px; height: auto; z-index: 99">
      @Html.DropDownListFor(m => m.sCupId, Model.ddlLeagues, new { @Id = "ddlStatLeagues", @class = "form-control" })
    </div>

    <div style="position: relative; width: 100%; top: -30px">
      <table id="tblTeams" cellspacing="0" style="width: 100%" class="display responsive nowrap">
        <thead>
          <tr>
            <th>#</th>
            <th>ID</th>
            <th>Team</th>
            <th>&#8709;-Stärke</th>
            <th>&#8709;-Alter</th>
            <th>&#8709;-MW [€]</th>
            <th>Spieler</th>
            <th>&#8709;-Stärke Startelf</th>
            <th>&#8709;-Alter Startelf</th>
            <th>&#8709;-MW Startelf [€]</th>
            <th>Erfolgsfaktor</th>
            <th>Liga</th>
          </tr>
        </thead>
        <tbody>
          <!---Data and tags are dynamically generated--->
        </tbody>
      </table>
    </div>
  </div>

  <div style="position: relative">
    <h3 style="position: relative; margin-top: 30px">Rekordtransfers</h3>

    <div style="position: relative; width: auto; top: 0px">
      <table id="tblStatisticTransfers" cellspacing="0" style="width: auto" class="display responsive nowrap">
        <thead>
          <tr>
            <th>#</th>
            <th>Spieler</th>
            <th>Ablöse [€]</th>
            <th>Marktwert [€]</th>
            <th>Aufn. Verein</th>
            <th>Abg. Verein</th>
            <th>Datum</th>
          </tr>
        </thead>
        <tbody>
          <!---Data and tags are dynamically generated--->
        </tbody>
      </table>
    </div>
  </div>

  <div style="position: relative">
    <h3 style="position: relative; margin-top: 30px">Größte Stadien</h3>

    <div style="position: relative; width: auto; top: 0px">
      <table id="tblStatisticStadiums" cellspacing="0" style="width: auto" class="display responsive nowrap">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Kapazität (im Bau)</th>
            <th>Stehpl.</th>
            <th>Sitzpl.</th>
            <th>VIP Pl.</th>
            <th>Oberring</th>
            <th>Heimatverein</th>
          </tr>
        </thead>
        <tbody>
          <!---Data and tags are dynamically generated--->
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
