@model CornerkickWebMvc.Models.StatisticPlayerModel

@{
  ViewBag.Title = "Statistik Spieler";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Statistik Spieler</title>

  <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
  <script type="text/javascript" src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="~/Scripts/Player.js"></script>
  <script type="text/javascript" src="~/Scripts/Formation.js"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      var ddlStatNations   = $('#ddlStatNations');
      var ddlStatFormation = $('#ddlStatFormation');
      var rbStatisticPlayerSeason = document.getElementById("rbStatisticPlayerSeason");
      var rbStatisticPlayerTotal = document.getElementById("rbStatisticPlayerTotal");
      var ddlFilterCup = document.getElementById("ddlFilterCup");

      $("#rbProfi").on('change', function (ev) {
        drawBest11();
      });

      $("#rbJouth").on('change', function (ev) {
        drawBest11();
      });

      ddlStatNations.change(function () {
        drawBest11();
      });

      ddlStatFormation.change(function () {
        drawBest11();
      });

      drawBest11();
      var tblStatisticPlayer = drawTablePlayer(rbStatisticPlayerSeason, ddlFilterCup);
      drawTableTransfers();

      rbStatisticPlayerSeason.onchange = function () {
        tblStatisticPlayer.ajax.reload();
      };

      rbStatisticPlayerTotal.onchange = function () {
        tblStatisticPlayer.ajax.reload();
      };

      ddlFilterCup.onchange = function () {
        tblStatisticPlayer.ajax.reload();
      };
    }); // document ready

    function drawBest11() {
      var bJouth = document.getElementById("rbJouth").checked;
      var ddlStatNations   = $('#ddlStatNations');
      var ddlStatFormation = $('#ddlStatFormation');
      // end declarations

      iNation    = ddlStatNations  .val();
      iFormation = ddlStatFormation.val();

      $.ajax({
        cache: false,
        url: "/Member/StatisticGetBest11",
        type: "GET",
        data: { iNat: iNation, iF: iFormation, bJouth: bJouth },
        success: function (teamData) {
          if (teamData) { // check if data is defined
            var bMobile = $(window).width() < 960;
            var result = "";
            var drawFormation = $("#drawFormation");

            $.each(teamData.ltPlayer2, function (i, pl2) {
              result += getBoxFormation(i, teamData.formation.ptPos[i], pl2.sName, (i + 1).toString(), pl2.sSkillAve, false, false, -1, pl2.iPos, bMobile, 0.5, pl2.sTeamname, pl2.sAge, pl2.sNat, false, false, pl2.sPortrait);

              return i !== 11;
            });

            drawFormation.html(result).fadeIn('slow');

            var txtStatAverage = $("#txtStatAverage");
            txtStatAverage.html("Durchschnittsstärke (-alter): " + teamData.fTeamAveStrength.toFixed(2) + " (" + teamData.fTeamAveAge.toFixed(1) + ")");
          } else {
            alert("data hasn't worked!");
          }
        }
      });
    }

    function drawTablePlayer(rbSeason, ddlFilterCup) {
      return $('#tblStatisticPlayer').DataTable({
        "ajax": {
          "url": '@Url.Action("StatisticPlayerGetPlayer", "Member")',
          "type": 'GET',
          "dataType": "JSON",
          "cache": false,
          "contentType": "application/json; charset=utf-8",
          "data": function (d) {
            d.sCupId = ddlFilterCup.value;
            d.bSeason = rbSeason.checked;
          }
        },
        "columns": [
          { "data": "iPlayerIx" },
          { "data": "sName" },
          { "data": "sClubName" },
          {
            "data": "fAge",
            "render": $.fn.dataTable.render.number('.', ',', 1, '')
          },
          {
            "data": "sNat",
            "render": function (sNat, type, row) {
              return getNatIcon(sNat);
            }
          },
          { "data": "iGames" },
          { "data": "iMinutes" },
          { "data": "iGoals" },
          { "data": "iGoalsRight" },
          { "data": "iGoalsLeft" },
          { "data": "iGoalsHeader" },
          {
            "data": "fGoalsPerGame",
            "render": $.fn.dataTable.render.number('.', ',', 1, '')
          },
          { "data": "iPenaltyP" },
          { "data": "iPenaltyM" },
          {
            "data": "fPenalty",
            "render": $.fn.dataTable.render.number('.', ',', 1, '', '%')
          },
          { "data": "iFreekickP" },
          { "data": "iFreekickM" },
          {
            "data": "fFreekick",
            "render": $.fn.dataTable.render.number('.', ',', 1, '', '%')
          },
          { "data": "iAssists" },
          { "data": "iShoots" },
          { "data": "iShootsOG" },
          { "data": "iAssistShoots" },
          { "data": "iPassP" },
          { "data": "iPassM" },
          {
            "data": "fPass",
            "render": $.fn.dataTable.render.number('.', ',', 1, '', '%')
          },
          { "data": "iPassStolen" },
          { "data": "iDuelDefP" },
          { "data": "iDuelDefM" },
          {
            "data": "fDuelDef",
            "render": $.fn.dataTable.render.number('.', ',', 1, '', '%')
          },
          { "data": "iDuelOffP" },
          { "data": "iDuelOffM" },
          {
            "data": "fDuelOff",
            "render": $.fn.dataTable.render.number('.', ',', 1, '', '%')
          },
          { "data": "iFouls" },
          { "data": "iCardY" },
          { "data": "iCardYR" },
          { "data": "iCardR" },
          { "data": "iBallContacts" },
          {
            "data": "fGrade",
            "render": $.fn.dataTable.render.number('.', ',', 1, '')
          }
        ],
        "language": {
          "emptyTable": "Keine Spieler"
        },
        "pageLength": 10,
        "paging": true,
        "info": true,
        "responsive": true,
        "searching": true,
        "select": true,
        "select": {
          selector: 'tr',
          style: 'os'
        },
        "order": [[1, "asc"]],
        "columnDefs": [
          {
            "targets": [0],
            "visible": false,
            "searchable": false
          },
          {
            "targets": "_all",
            "className": "dt-center"
          }
        ],
        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
          if (aData.fGoalsPerGame < 0) {
            $('td:eq(9)', nRow).text("-");
          }
          if (aData.fPenalty < 0) {
            $('td:eq(12)', nRow).text("-");
          }
          if (aData.fFreekick < 0) {
            $('td:eq(15)', nRow).text("-");
          }
          if (aData.fPass < 0) {
            $('td:eq(22)', nRow).text("-");
          }
          if (aData.fDuelDef < 0) {
            $('td:eq(26)', nRow).text("-");
          }
          if (aData.fDuelOff < 0) {
            $('td:eq(29)', nRow).text("-");
          }
          if (aData.fGrade < 0.5) {
            $('td:eq(35)', nRow).text("-");
          }

          return nRow;
        },
      });
    }

    function drawTableTransfers() {
      $('#tblStatisticTransfers').DataTable({
        "ajax": {
          "url": '@Url.Action("StatisticGetTransferTable", "Member")',
          "type": 'GET',
          "dataType": "JSON",
          "cache": false,
          "contentType": "application/json; charset=utf-8"
        },
        "columns": [
          { "data": "iIx" },
          { "data": "sPlayerName" },
          {
            "data": "iTransferFee",
            render: $.fn.dataTable.render.number('.', ',', 0, '')
          },
          {
            "data": "iValue",
            render: $.fn.dataTable.render.number('.', ',', 0, '')
          },
          { "data": "sClubTakeName" },
          { "data": "sClubGiveName" },
          { "data": "sDt" }
        ],
        "language": {
          "emptyTable": "Keine Transfers"
        },
        "pageLength": 10,
        "paging": false,
        "info": false,
        "responsive": false,
        "searching": false,
        "select": false,
        "columnDefs": [
          { "targets": [1, 4, 5, 6], "className": "dt-center" },
          { "targets": [0, 2, 3], "className": "dt-right" }
        ]
      });
    }
  </script>
</head>

<body>
  <h3>Beste Spieler</h3>
  <div style="position: relative; width: 70%; min-width: 400px; margin-bottom: 6px">
    <div style="position: relative; width: 100%; height: 32px">
      @Html.DropDownListFor(m => m.iNation, Model.ddlNations, new { @Id = "ddlStatNations", @class = "form-control", @style = "position: absolute; width: 140px" })
      @Html.DropDownListFor(m => m.sFormation, Model.ltsFormations, new { @Id = "ddlStatFormation", @class = "form-control", @style = "position: absolute; width: 140px; right: 0px" })
    </div>

    <div class="image" id="divFieldContainer" style="position: relative; width: 100%; margin-top: 25px; margin-bottom: 6px">
      <img style="position: relative; width: 100%" src="~/Content/Images/stadium/field.png" />
      <div style="position: absolute; margin-left: 5%; width: 90%; height: 94%; top: 0px; left: 0%">
        <div id="drawFormation" style="position: absolute; width: 100%; height: 100%; top: 0%; left: 0%"></div>
      </div>
      <div align="center" style="position: absolute; top: -25px; width: 100%">
        <div style="position: relative; width: 140px; height: 26px; background-color: white; white-space: nowrap; border: 2px solid black; -webkit-border-radius: 10px; -moz-border-radius: 10px">
          <form>
            <fieldset>
              <label style="font-size:120%; color: black; margin-right: 4%">
                <input type="radio" id="rbProfi" name="rbProfiJouth" value="0" checked>
                Profis
              </label>
              <label style="font-size:120%; color: black">
                <input type="radio" id="rbJouth" name="rbProfiJouth" value="1">
                U18
              </label>
            </fieldset>
          </form>
        </div>
      </div>

      <b id="average" style="position: absolute; bottom: 0%; left: 0%; width: 100%; text-align:center; font-size:130%; color:white"></b>
    </div>
  </div>

  <text id="txtStatAverage" style="position: relative; width: 100%"></text>

  <div style="position: relative; width: auto; height: auto; margin-top: 20px">
    <table border="1" cellpadding="4" style="width: auto">
      <thead>
        <tr>
          <th style="text-align:center">Fähigkeit</th>
          <th style="text-align:center">Spieler</th>
          <th style="text-align:center">Stärke</th>
          <th style="text-align:center">Verein</th>
        </tr>
      </thead>
      <tbody>
        @for (byte iS = 0; iS < Model.sPlayerSkillBest.Length; iS++) {
          if (Model.sPlayerSkillBest[iS] == null) {
            continue;
          }

          <tr>
            <td align="center">@Model.sPlayerSkillBest[iS][0]</td>
            <td align="center">@Model.sPlayerSkillBest[iS][1]</td>
            <td align="right">@Model.sPlayerSkillBest[iS][2]</td>
            <td align="center">@Model.sPlayerSkillBest[iS][3]</td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  <div style="position: relative">
    <h3 style="position: relative; margin-top: 30px">Spielerstatistiken</h3>

    <div align="center" style="position: absolute; top: 6px; left: 200px; width: auto">
      <div style="position: absolute; width: 140px; height: 22px; left: 0px; background-color: white; white-space: nowrap; border: 1px solid black; -webkit-border-radius: 10px; -moz-border-radius: 10px">
        <form>
          <fieldset>
            <label style="font-size:100%; color: black; margin-right: 4%">
              <input type="radio" id="rbStatisticPlayerSeason" name="rbStatisticPlayerSeasonTotal" value="0" checked>
              Saison
            </label>
            <label style="font-size:100%; color: black">
              <input type="radio" id="rbStatisticPlayerTotal" name="rbStatisticPlayerSeasonTotal" value="1">
              Total
            </label>
          </fieldset>
        </form>
      </div>
      <div style="position: absolute; width: 100px; height: 22px; left: 150px">
        @Html.DropDownListFor(m => m.sFilterCup, Model.ddlFilterCup, new { id = "ddlFilterCup", @style = "width:100%", @onchange = "getDdlClubFilter(this.value)" })
      </div>
    </div>

    <div style="position: relative; width: auto; top: 0px">
      <table id="tblStatisticPlayer" cellspacing="0" style="width: auto" class="display responsive nowrap compact">
        <thead>
          <tr>
            <th>#</th>
            <th>Spieler</th>
            <th>Verein</th>
            <th>Alter</th>
            <th>Nat.</th>
            <th>Spiele</th>
            <th>Min.</th>
            <th>Tore</th>
            <th>mit rechts</th>
            <th>mit links</th>
            <th>per Kopf</th>
            <th>Tore/Spiel</th>
            <th>11m +</th>
            <th>11m -</th>
            <th>11m</th>
            <th>Freistoß +</th>
            <th>Freistoß -</th>
            <th>Freistoß</th>
            <th>Torvorl.</th>
            <th>Torschüsse</th>
            <th>aufs Tor</th>
            <th>Torschussvorl.</th>
            <th>Abspiel +</th>
            <th>Abspiel -</th>
            <th>Abspiel</th>
            <th>Pässe abgef.</th>
            <th>Zk def. +</th>
            <th>Zk def. -</th>
            <th>Zk def.</th>
            <th>Zk off. +</th>
            <th>Zk off. -</th>
            <th>Zk off.</th>
            <th>Fouls</th>
            <th>Gelb</th>
            <th>Gelb/Rot</th>
            <th>Rot</th>
            <th>Ballk.</th>
            <th>Note</th>
          </tr>
        </thead>
        <tbody>
          <!---Data and tags are dynamically generated--->
        </tbody>
      </table>
    </div>
  </div>

  <div style="position: relative">
    <h3 style="position: relative; margin-top: 30px">Rekordtransfers</h3>

    <div style="position: relative; width: auto; top: 0px">
      <table id="tblStatisticTransfers" cellspacing="0" style="width: auto" class="display responsive nowrap">
        <thead>
          <tr>
            <th>#</th>
            <th>Spieler</th>
            <th>Ablöse [€]</th>
            <th>Marktwert [€]</th>
            <th>Aufn. Verein</th>
            <th>Abg. Verein</th>
            <th>Datum</th>
          </tr>
        </thead>
        <tbody>
          <!---Data and tags are dynamically generated--->
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
