@model CornerkickWebMvc.Models.TaktikModel

@{
  ViewBag.Title = "Taktik";
  Layout = "~/Views/Shared/_Layout.cshtml";
  CornerkickGame.Tactic taktik = Model.tactic;
}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <style>
    #slider {
      margin: 10px;
    }

    .ui-slider-horizontal {
      height: 20px;
      width: 100%;
    }

    .ui-slider-vertical {
      height: 100%;
      width: 20px;
    }

    .ui-slider .ui-slider-handle {
      height: 26px;
      width: 26px;
      padding-left: 0px;
    }

    #slider-Ausrichtung .ui-slider-range {
      background: orange;
    }

    #slider-Ausrichtung .ui-slider-handle {
      border-color: orange;
    }

    #slider-left .ui-slider-range {
      background: green;
    }

    #slider-left .ui-slider-handle {
      border-color: green;
    }

    #slider-right .ui-slider-range {
      background: green;
    }

    #slider-right .ui-slider-handle {
      border-color: green;
    }

    #slider-mid .ui-slider-range {
      background: green;
    }

    #slider-mid .ui-slider-handle {
      border-color: green;
    }

    #slider-PassLength .ui-slider-range {
      background: green;
    }

    #slider-PassLength .ui-slider-handle {
      border-color: green;
    }

    #slider-PassRisk .ui-slider-range {
      background: green;
    }

    #slider-PassRisk .ui-slider-handle {
      border-color: green;
    }

    #slider-PassFreq .ui-slider-range {
      background: green;
    }

    #slider-PassFreq .ui-slider-handle {
      border-color: green;
    }

    #slider-Schussentf .ui-slider-range {
      background: red;
    }

    #slider-Schussentf .ui-slider-handle {
      border-color: red;
    }

    #slider-DistOffence .ui-slider-range {
      background: blue;
    }

    #slider-DistOffence .ui-slider-handle {
      border-color: blue;
    }
  </style>

  <script type="text/javascript" src="~/Scripts/jquery-2.0.0.js"></script>
  <script type="text/javascript" src="~/Scripts/jquery-ui-1.12.1.js"></script>
  <script>
    @{
      int iAusrichtung = (int)(taktik.fOrientation       * 100);
      int iDistOffsite =       taktik.iAngriffAbseits;
      int iEinsatz     = (int)(taktik.fPower             * 100);
      int iSchussentf  = (int)((taktik.fShootFreq * -1f) * 100);
      int iZK          = (int)(taktik.fAggressive        * 100);
      int iPassRisk    = (int)(taktik.fPassRisk          * 100);
      int iPassLength  = (int)(taktik.fPassLength        * 100);
      int iPassFreq    = (int)(taktik.fPassFreq          * 100);
      int iLeft        = (int)((taktik.fPassLeft  + 1f)  * 100);
      int iRight       = (int)((taktik.fPassRight + 1f)  * 100);
      int iMid         = (int)((1f - (taktik.fPassLeft + taktik.fPassRight)) * 100);
    }
    $(document).ready(function () {
      $("#slider-Ausrichtung").slider({
        range: "min",
        value: @iAusrichtung,
        min: -100,
        max: +100,
        step: 10,
        orientation: "vertical",
        slide: function (event, ui) {
          document.getElementById("inputAusrichtung").value = getValueString(ui.value);

          $.ajax({
            url: '/Member/setTaktik',
            type: "GET",
            dataType: "JSON",
            data: { iTaktik: 0, fTaktik: ui.value / 100, iTactic: 0 },
            success: function (fTaktik) {
              //alert("Ausrichtung set to " + fTaktik);
            }
          });
        }
      });

      $("#slider-DistOffence").slider({
        range: "min",
        value: @iDistOffsite,
        min: -1,
        max: +1,
        step: 1,
        orientation: "vertical",
        slide: function (event, ui) {
          $("#inputDistOffence").val(-ui.value);

          $.ajax({
            url: '/Member/setTaktik',
            type: "GET",
            dataType: "JSON",
            data: { iTaktik: 9, fTaktik: ui.value, iTactic: 0 },
            success: function (fTaktik) {
              //alert("Ausrichtung set to " + fTaktik);
            }
          });
        }
      });

      $("#slider-Einsatz").slider({
        range: "min",
        value: @iEinsatz,
        min: -100,
        max: +100,
        step: 10,
        slide: function (event, ui) {
          document.getElementById("inputEinsatz").value = getValueString(ui.value);

          $.ajax({
            url: '/Member/setTaktik',
            type: "GET",
            dataType: "JSON",
            data: { iTaktik: 1, fTaktik: ui.value / 100, iTactic: 0 },
            success: function (fTaktik) {
              //alert("Ausrichtung set to " + fTaktik);
            }
          });
        }
      });

      $("#slider-Schussentf").slider({
        range: "min",
        value: @iSchussentf,
        min: -100,
        max: +100,
        step: 10,
        orientation: "vertical",
        slide: function (event, ui) {
          document.getElementById("inputSchussentf").value = getValueString(-ui.value);

          $.ajax({
            url: '/Member/setTaktik',
            type: "GET",
            dataType: "JSON",
            data: { iTaktik: 2, fTaktik: (ui.value * -1) / 100, iTactic: 0 },
            success: function (fTaktik) {
              //alert("Ausrichtung set to " + fTaktik);
            }
          });
        }
      });

      $("#slider-Zweikampf").slider({
        range: "min",
        value: @iZK,
        min: -100,
        max: +100,
        step: 10,
        slide: function (event, ui) {
          document.getElementById("inputZweikampf").value = getValueString(ui.value);

          $.ajax({
            url: '/Member/setTaktik',
            type: "GET",
            dataType: "JSON",
            data: { iTaktik: 3, fTaktik: ui.value / 100, iTactic: 0 },
            success: function (fTaktik) {
              //alert("Ausrichtung set to " + fTaktik);
            }
          });
        }
      });

      $("#slider-PassRisk").slider({
        range: "min",
        value: @iPassRisk,
        min: -100,
        max: +100,
        step: 10,
        slide: function (event, ui) {
          document.getElementById("inputPassRisk").value = getValueString(ui.value);

          $.ajax({
            url: '/Member/setTaktik',
            type: "GET",
            dataType: "JSON",
            data: { iTaktik: 4, fTaktik: ui.value / 100, iTactic: 0 },
            success: function (fTaktik) {
              //alert("Ausrichtung set to " + fTaktik);
            }
          });
        }
      });

      $("#slider-PassLength").slider({
        range: "min",
        value: @iPassLength,
        min: -100,
        max: +100,
        step: 10,
        slide: function (event, ui) {
          document.getElementById("inputPassLength").value = getValueString(ui.value);

          $.ajax({
            url: '/Member/setTaktik',
            type: "GET",
            dataType: "JSON",
            data: { iTaktik: 5, fTaktik: ui.value / 100, iTactic: 0 },
            success: function (fTaktik) {
              //alert("Ausrichtung set to " + fTaktik);
            }
          });
        }
      });

      $("#slider-PassFreq").slider({
        range: "min",
        value: @iPassFreq,
        min: -100,
        max: +100,
        step: 10,
        slide: function (event, ui) {
          document.getElementById("inputPassFreq").value = getValueString(ui.value);

          $.ajax({
            url: '/Member/setTaktik',
            type: "GET",
            dataType: "JSON",
            data: { iTaktik: 6, fTaktik: ui.value / 100, iTactic: 0 },
            success: function (fTaktik) {
              //alert("Ausrichtung set to " + fTaktik);
            }
          });
        }
      });

      var sliderMid = $("#slider-mid").slider({
        range: "min",
        value: @iMid,
        min:    0,
        max: +300,
        step: 10,
        orientation: "vertical",
        disabled: true
      });

      var sliderLeft = $("#slider-left").slider({
        range: "min",
        value: @iLeft,
        min:    0,
        max: +300,
        step: 10,
        orientation: "vertical",
        slide: function (event, ui) {
          $("#inputLeft").val(ui.value + "%");
          $.ajax({
            url: '/Member/setTaktik',
            type: "GET",
            dataType: "JSON",
            data: { iTaktik: 7, fTaktik: (ui.value / 100) - 1, iTactic: 0 },
            success: function (fTaktik) {
              sliderRight.slider("value", (fTaktik + 1) * 100);
              sliderMid.slider("value", 300 - (sliderLeft.slider("value") + sliderRight.slider("value")));
              setInputs();
            }
          });
        }
      });

      var sliderRight = $("#slider-right").slider({
        range: "min",
        value: @iRight,
        min:    0,
        max: +300,
        step: 10,
        orientation: "vertical",
        slide: function (event, ui) {
          $("#inputRight").val(ui.value + "%");
          $.ajax({
            url: '/Member/setTaktik',
            type: "GET",
            dataType: "JSON",
            data: { iTaktik: 8, fTaktik: (ui.value / 100) - 1, iTactic: 0 },
            success: function (fTaktik) {
              sliderLeft.slider("value", (fTaktik + 1) * 100);
              sliderMid.slider("value", 300 - (sliderLeft.slider("value") + sliderRight.slider("value")));
              setInputs();
            }
          });
        }
      });

      $('#cbTcOffsite').click(function () {
        $.ajax({
          url: '/Member/TacticSetOffsite',
          type: "GET",
          dataType: "JSON",
          data: { bOffsite: $(this).is(':checked'), iTactic: 0 }
        });
      });

      setInputs();

      createAutoSubs(0);

      setView();
    }); // $(document).ready

    $(window).resize(function () {
      setView();
    });

    function setInputs() {
      document.getElementById("inputAusrichtung").value = getValueString($("#slider-Ausrichtung").slider("value"));

      $("#inputDistOffence").val(-($("#slider-DistOffence").slider("value")));

      document.getElementById("inputEinsatz").value = getValueString($("#slider-Einsatz").slider("value"));
      document.getElementById("inputSchussentf").value = getValueString(-$("#slider-Schussentf").slider("value"));
      document.getElementById("inputZweikampf").value = getValueString($("#slider-Zweikampf").slider("value"));
      document.getElementById("inputPassRisk").value = getValueString($("#slider-PassRisk").slider("value"));
      document.getElementById("inputPassLength").value = getValueString($("#slider-PassLength").slider("value"));
      document.getElementById("inputPassFreq").value = getValueString($("#slider-PassFreq").slider("value"));

      $("#inputLeft")       .val( $("#slider-left")       .slider("value") + "%");
      $("#inputRight")      .val( $("#slider-right")      .slider("value") + "%");
      $("#inputMid")        .val( $("#slider-mid")        .slider("value") + "%");
    }

    function getValueString(sSliderValue) {
      var sValue = "";
      if (parseInt(sSliderValue) > 0) sValue += '+';
      else if (parseInt(sSliderValue) == 0) sValue += ' ';

      sValue += sSliderValue.toString() + "%";

      return sValue;
    }

    function setStandards(iStd) {
      var iIndexPl = $('#iDdlStandard' + iStd).val();

      $.ajax({
        url: '/Member/setStandards',
        type: "GET",
        dataType: "JSON",
        data: { iStandard: iStd, iIndexPlayer: iIndexPl },
        success: function () {
          //alert(iTg);
        }
      });
    }

    function createAutoSubs(iAS) {
      $.ajax({
        url: '/Member/getHtmlAutoSubOut',
        type: "GET",
        dataType: "JSON",
        data: { iAS: iAS },
        success: function (sBox) {
          $("#divAutoSubOut" + iAS.toString()).html(sBox[0]);
          $("#divAutoSubIn"  + iAS.toString()).html(sBox[1]);

          tbAutoSubsMin = document.getElementById("tbAutoSubsMin" + iAS.toString());
          tbAutoSubsMin.disabled = false;

          setAutoSubs(iAS);
        }
      });
    }

    function setAutoSubs(iAS) {
      var iIndexPlOut = $('#ddlAutoSubOut' + iAS).val();
      var iIndexPlIn  = $('#ddlAutoSubIn'  + iAS).val();
      var iMin        = $('#tbAutoSubsMin' + iAS).val();
      //alert(iAS + ", " + iIndexPlOut + ", " + iIndexPlIn + ", " + iMin);

      $.ajax({
        url: '/Member/setAutoSubs',
        type: "GET",
        dataType: "JSON",
        data: { iAS: iAS, iIndexPlayerOut: iIndexPlOut, iIndexPlayerIn: iIndexPlIn, iMin: iMin },
        success: function (bValid) {
          if (bValid) {
            if (iAS < 2) {
              createAutoSubs(iAS + 1);
            }
          } else {
            var jAS = iAS + 1;
            while (jAS < 3) {
              ddlAutoSubOut = document.getElementById("ddlAutoSubOut" + jAS.toString());
              ddlAutoSubIn  = document.getElementById("ddlAutoSubIn"  + jAS.toString());
              tbAutoSubsMin = document.getElementById("tbAutoSubsMin" + jAS.toString());

              if (ddlAutoSubOut.disabled == false) {
                ddlAutoSubOut.disabled = true;
              }
              if (ddlAutoSubIn.disabled == false) {
                ddlAutoSubIn.disabled = true;
              }
              if (tbAutoSubsMin.disabled == false) {
                tbAutoSubsMin.disabled = true;
              }

              jAS = jAS + 1;
            }
          }
        }
      });
    }

    function setView() {
      var divTcOrientation        = document.getElementById("divTcOrientation");
      var divTcOffsiteDistOffence = document.getElementById("divTcOffsiteDistOffence");
      var divTcShootDist          = document.getElementById("divTcShootDist");
      var divTcPassLeft           = document.getElementById("divTcPassLeft");
      var divTcPassRight          = document.getElementById("divTcPassRight");
      var divTcPassMid            = document.getElementById("divTcPassMid");
      var divTcPower              = document.getElementById("divTcPower");
      var divTcDuel               = document.getElementById("divTcDuel");
      var divTcPassLength         = document.getElementById("divTcPassLength");
      var divTcPassRisk           = document.getElementById("divTcPassRisk");
      var divTcPassFreq           = document.getElementById("divTcPassFreq");
      var divTcOffsite            = document.getElementById("divTcOffsite");
      var divTcSubs               = document.getElementById("divTcSubs");

      var fWidth = $(window).width();
      if (fWidth < 600) {
        divTcOrientation.style.top = "10px";
        divTcPassLeft.style.top = "10px";
        divTcPassRight.style.top = "10px";
        divTcPassMid.style.top = "10px";
        divTcShootDist.style.left = "64%";
        divTcShootDist.style.transform = "rotate(0deg)";

        divTcPower.style.top = "330px";
        divTcDuel.style.top = "372px";
        divTcPassLength.style.top = "414px";
        divTcPassRisk.style.top = "456px";
        divTcPassFreq.style.top = "498px";
        divTcOffsite.style.top = "540px";

        divTcPower.style.left = "10px";
        divTcDuel.style.left = "10px";
        divTcPassLength.style.left = "10px";
        divTcPassRisk.style.left = "10px";
        divTcPassFreq.style.left = "10px";


        divTcSubs.style.top = "600px";
        divTcSubs.style.left = "10px";
      }
      else {
        divTcOrientation.style.top = "11%";
        divTcOffsiteDistOffence.style.top = "20%";
        divTcShootDist.style.left = "58%";
        divTcShootDist.style.transform = "rotate(-23deg)";
        divTcPassLeft.style.top = "13%";
        divTcPassRight.style.top = "13%";
        divTcPassMid.style.top = "13%";

        divTcPower.style.top = "53%";
        divTcDuel.style.top = "60%";
        divTcPassLength.style.top = "53%";
        divTcPassRisk.style.top = "60%";
        divTcPassFreq.style.top = "67%";

        divTcPower.style.left = "5%";
        divTcDuel.style.left = "5%";
        divTcPassLength.style.left = "55%";
        divTcPassRisk.style.left = "55%";
        divTcPassFreq.style.left = "55%";

        divTcOffsite.style.top = "67%";

        divTcSubs.style.top = "75%";
        divTcSubs.style.left = "20%";
      }
    }
  </script>
</head>

<body>
  <fieldset>
    <h3>Taktik</h3>
    <div style="position: relative; width: 100%; height: 100%; min-height: 800px">
      <div style="position: relative; width: 100%; height: 70px">
        <div style="position: absolute; float: left; width: 100%; height: 100%; top: 0%; left: 0%">
          <div style="position: absolute; width: 30%; top: 50%; left: 0%">
            @Html.DropDownListFor(m => m.sStandards[3], Model.ltDdlStandards[3], new { @class = "form-control", @onchange = "setStandards(3)", id = "iDdlStandard3" })
          </div>
          <div style="position: absolute; width: 30%; top: 50%; right: 0px">
            @Html.DropDownListFor(m => m.sStandards[2], Model.ltDdlStandards[2], new { @class = "form-control", @onchange = "setStandards(2)", id = "iDdlStandard2" })
          </div>
          <div style="position: absolute; width: 30%; top: 50%; left: 35%">
            @Html.DropDownListFor(m => m.sStandards[0], Model.ltDdlStandards[0], new { @class = "form-control", @onchange = "setStandards(0)", id = "iDdlStandard0" })
          </div>
          <div style="position: absolute; width: 30%; top: 0%; left: 35%">
            @Html.DropDownListFor(m => m.sStandards[1], Model.ltDdlStandards[1], new { @class = "form-control", @onchange = "setStandards(1)", id = "iDdlStandard1" })
          </div>
        </div>
      </div>

      <div class="image" style="position: relative; width: 100%; margin-bottom: 2%">
        <img style="position: relative; width: 100%" src="~/Content/Images/tactic.png" />

        <div id="tactic" style="position: absolute; float: left; width: 100%; height: 100%; top: 0%; left: 0%">
          <div id="divTcOrientation" style="position: absolute; width: 0%; height: 34%; min-height: 300px; top: 11%; left: 33%">
            <input type="text" id="inputAusrichtung" readonly style="position: absolute; border: 0; color: #f6931f; font-weight: bold; text-align: left; float: left; width: 37px; width: 44px; left: -6px">
            <div id="slider-Ausrichtung" style="position: absolute; top: 20px; float: left; height: 100%"></div>
          </div>

          <div id="divTcOffsiteDistOffence" style="position: absolute; width: 0%; height: 10%; min-height: 300px; min-height: 100px; top: 20%; left: 18%">
            <input type="text" id="inputDistOffence" readonly style="border:0; color:#f6931f; font-weight:bold; text-align: left; float: left; width: 37px; left: 0px">
            <div id="slider-DistOffence" style="position: relative; float: left; height: 100%"></div>
          </div>

          <div id="divTcShootDist" style="position: absolute; width: 0%; height: 25%; min-height: 300px; top: 2%; left: 58%; transform:rotate(-23deg)">
            <input type="text" id="inputSchussentf" readonly style="position: absolute; border: 0; color:#f6931f; font-weight: bold; text-align: left; background-color: transparent; float: left; width: 44px; left: -6px">
            <div id="slider-Schussentf" style="position: absolute; top: 20px; float: left; height: 100%"></div>
          </div>

          <div id="divTcPassLeft" style="position: absolute; width: 0%; height: 34%; min-height: 300px; top: 11%; left: 5%">
            <input type="text" id="inputLeft" readonly style="border:0; color:#f6931f; font-weight:bold; text-align: left; float: left; width: 37px; left: 0px">
            <div id="slider-left" style="position: relative; float: left; height: 100%"></div>
          </div>

          <div id="divTcPassRight" style="position: absolute; width: 0%; height: 34%; min-height: 300px; top: 11%; right: 5%">
            <input type="text" id="inputRight" readonly style="border: 0; color:#f6931f; font-weight: bold; text-align: right; float: right; width: 37px; right: 0px">
            <div id="slider-right" style="position: relative; float: right; height: 100%; right: 0px"></div>
          </div>

          <div id="divTcPassMid" style="position: absolute; width: 0%; height: 34%; min-height: 300px; top: 11%; left: 50%">
            <input type="text" id="inputMid" readonly style="border: 0; color: #f6931f; font-weight: bold; text-align: left; float: left; width: 37px; left: 0px">
            <div id="slider-mid" style="position: relative; float: left; height: 100%"></div>
          </div>

          <div id="divTcPower" style="position: absolute; width: 40%; min-width: 300px; top: 52%; left: 5%">
            <input type="text" id="inputEinsatz" readonly style="border:0; color: #f6931f; font-weight: bold; text-align: left; float: left; width: 46px; left: 0px">
            <div id="slider-Einsatz" style="position: relative; float: left"></div>
          </div>

          <div id="divTcDuel" style="position: absolute; width: 40%; min-width: 300px; top: 58%; left: 5%">
            <input type="text" id="inputZweikampf" readonly style="border: 0; color: #f6931f; font-weight: bold; text-align: left; float: left; width: 46px; left: 0px">
            <div id="slider-Zweikampf" style="position: relative; float: left"></div>
          </div>

          <div id="divTcOffsite" style="position: absolute; width: 40%; min-width: 300px; top: 64%; left: 5%; text-align: center">
            <label style="width: 100%; background-color: white; font-size: 32px; color: blue; font-family: 'MV Boli'">
              @Html.CheckBoxFor(m => m.tactic.bOffsite, new { id = "cbTcOffsite" })
              Abseitsfalle
            </label>
          </div>

          <div id="divTcPassLength" style="position: absolute; width: 40%; min-width: 300px; top: 52%; left: 55%">
            <input type="text" id="inputPassLength" readonly style="border: 0; color: #f6931f; font-weight: bold; text-align: left; background-color: transparent; float: left; width: 46px; left: 0px">
            <div id="slider-PassLength" style="position: relative; float: left"></div>
          </div>
          <div id="divTcPassRisk" style="position: absolute; width: 40%; min-width: 300px; top: 58%; left: 55%">
            <input type="text" id="inputPassRisk" readonly style="border: 0; color: #f6931f; font-weight: bold; text-align: left; float: left; width: 46px; left: 0px">
            <div id="slider-PassRisk" style="position: relative; float: left"></div>
          </div>
          <div id="divTcPassFreq" style="position: absolute; width: 40%; min-width: 300px; top: 64%; left: 55%">
            <input type="text" id="inputPassFreq" readonly style="border: 0; color: #f6931f; font-weight: bold; text-align: left; float: left; width: 46px; left: 0px">
            <div id="slider-PassFreq" style="position: relative; float: left"></div>
          </div>

          <div id="divTcSubs" style="position: absolute; width: 60%; min-width: 300px; top: 80%; left: 20%; text-align: center">
            @for (byte i = 0; i < 3; i++) {
              var htmlAttributesEditorFor = new Dictionary<string, object>
              {
                { "type", "number" },
                { "class", "form-control" },
                { "id", "tbAutoSubsMin" + i.ToString() },
                { "autocomplete", "off" },
                { "min",   "0" },
                { "max", "120" },
                { "onkeyup", "setAutoSubs(" + i.ToString() + ")" }
              };
              if (i > 0) {
                htmlAttributesEditorFor.Add("disabled", "disabled");
              }

              string sIdO = "divAutoSubOut" + i.ToString();
              string sIdI = "divAutoSubIn"  + i.ToString();
              string sDdlIdO = "ddlAutoSubOut" + i.ToString();
              string sDdlIdI = "ddlAutoSubIn"  + i.ToString();
              <div style="position: relative; width: 100%; height: 40px">
                <div id=@sIdO style="position: absolute; width: 38%; left:  0%">
                  <select class="form-control" disabled="disabled" id=@sDdlIdO onchange="setAutoSubs(@i)">
                    <option value="-1">aus</option>
                  </select>
                </div>
                <div id=@sIdI style="position: absolute; width: 38%; left: 40%">
                  <select class="form-control" disabled="disabled" id=@sDdlIdI onchange="setAutoSubs(@i)">
                    <option value="-1">aus</option>
                  </select>
                </div>
                <div style="position: absolute; width: 60px; left: 80%">
                  @Html.EditorFor(Model => Model.iAutoSubsMin[i], new { htmlAttributes = htmlAttributesEditorFor })
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</body>
</html>
