@model CornerkickWebMvc.Models.ViewGameModel

@{
  var sHeader = "Livespiel";
  var sH = "";
  var sA = "";
  if (Model.game != null) {
    sHeader = Model.game.data.sTeamH + " - " + Model.game.data.sTeamA;
    sH = Model.game.data.sTeamH;
    sA = Model.game.data.sTeamA;
  }

  var sStadion = "";
  if (Model.game != null) {
    sStadion = Model.game.data.stadium.sName;
    sStadion += " (" + (Model.game.data.iSpectators[0] + Model.game.data.iSpectators[1] + Model.game.data.iSpectators[2]).ToString("#,#", CornerkickWebMvc.Controllers.AccountController.ciUser) + " / " + MvcApplication.ckcore.st.getStadiumSeats(Model.game.data.stadium).ToString("#,#", CornerkickWebMvc.Controllers.AccountController.ciUser) + ")";
  }

  ViewBag.Title = sHeader;
  Layout = "~/Views/Shared/_Layout_plain.cshtml";
}

<html style="height: 100%; min-height: 100%">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <style>
    #slider {
      margin: 10px;
    }

    .ui-slider-horizontal {
      height: 20px;
      width: 100%;
    }

    .ui-slider .ui-slider-handle {
      height: 26px;
      width: 10px;
      padding-left: 0px;
    }

    #slider-Minute .ui-slider-range {
      background: orange;
    }

    #slider-Minute .ui-slider-handle {
      border-color: orange;
    }
  </style>

  <script src="~/Scripts/ViewGame.js" type="text/javascript"></script>

  <script type="text/javascript" src="~/Scripts/jquery-2.0.0.js"></script>
  <script type="text/javascript" src="~/Scripts/jquery-ui-1.12.1.js"></script>
  <script type="text/javascript" src="~/Scripts/flot/jquery.flot.min.js"></script>
  <script type="text/javascript" src="~/Scripts/flot/jquery.flot.stack.js"></script>
  <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/js/flot/excanvas.min.js"></script><![endif]-->

  <script type="text/javascript">
    $(window).resize(function () {
      setView();
    });

    var bStopPlay = true;
    $(document).ready(function () {
      bnStart = document.getElementById("bnStart");
      bnBack = document.getElementById("bnBack");
      bnPlay = document.getElementById("bnPlay");
      bnForth = document.getElementById("bnForth");
      bnEnd = document.getElementById("bnEnd");
      var ddlHeatmap = $('#ddlHeatmap');

      setView();
      drawGame();

      pMainSlider = $('#slider-Minute');

      //$("#slider-Minute").slider("option", "max", 1000);

      pMainSlider.slider({
        range: "min",
        min: 0,
        max: @Model.gD.nStates,
        step: 1,
        value: @Model.gD.nStates,
        slide: function (event, ui) {
          bStopPlay = true;

          var iStep = ui.value;
          drawGame(iStep);
        }
      });

      $("#bnStart").click(function () {
        bStopPlay = true;
        bnPlay.innerText = '►';

        drawGame(0);
      });

      $("#bnBack").click(function () {
        bStopPlay = true;
        bnPlay.innerText = '►';

        var iStatePlay = $('#slider-Minute').slider("value");
        if (iStatePlay > 0) {
          drawGame(iStatePlay - 1);
        }
      });

      $("#bnPlay").click(function () {
        if (bStopPlay) {
          var iStatePlay = $('#slider-Minute').slider("value");
          bStopPlay = false;
          play(iStatePlay);
          bnPlay.innerText = "◼";
        } else {
          bStopPlay = true;
          bnPlay.innerText = '►';
        }
      });

      $("#bnForth").click(function () {
        bStopPlay = true;
        bnPlay.innerText = '►';

        var iStatePlay = $('#slider-Minute').slider("value");
        if (iStatePlay < $("#slider-Minute").slider("option", "max") - 1) {
          drawGame(iStatePlay + 1);
        }
      });

      $("#bnEnd").click(function () {
        bStopPlay = true;
        bnPlay.innerText = '►';

        drawGame($("#slider-Minute").slider("option", "max") - 1);
      });

      ddlHeatmap.change(function () {
        plotStatistics(pMainSlider.slider("value"));
      });

      ddlPositions.change(function () {
        drawGame(pMainSlider.slider("value"));
      });
    });

    /*
    function requestFullScreen(element) {
      alert(element);
      // Supports most browsers and their versions.
      var requestMethod = element.requestFullScreen || element.webkitRequestFullScreen || element.mozRequestFullScreen || element.msRequestFullScreen;

      alert(requestMethod);
      if (requestMethod) { // Native full screen.
        requestMethod.call(element);
      } else if (typeof window.ActiveXObject !== "undefined") { // Older IE.
        var wscript = new ActiveXObject("WScript.Shell");
        if (wscript !== null) {
          wscript.SendKeys("{F11}");
        }
      }
    }
    */

    function setView() {
      var divDrawGameContainer = document.getElementById("divDrawGameContainer");
      var imgGame = document.getElementById("imgGame");
      var drawGame = document.getElementById("drawGame");
      var divHeader = document.getElementById("divHeader");
      var divTimeline = document.getElementById("divTimeline");
      var divPlotStatistics = document.getElementById("divPlotStatistics");
      var divStat1 = document.getElementById("divStat1");
      var divStat2 = document.getElementById("divStat2");
      var tbKommentar = document.getElementById("tbKommentar");

      var fWidth = $(window).width();
      if (fWidth < 960 && $(window).height() < fWidth) {
        //requestFullScreen(divDrawGameContainer)
        divHeader.style.display = 'none';
        //divStat1.style.display = 'none';
        divStat2.style.display = 'none';
        //tbKommentar.style.display = 'none';
        divDrawGameContainer.style.position = "absolute";
        divDrawGameContainer.style.top = "0px";
        divDrawGameContainer.style.left = "0px";
        divDrawGameContainer.style.height = "90%";
        imgGame.style.height = "100%";
        imgGame.style.width = "auto";
        divDrawGameContainer.style.width = imgGame.offsetWidth.toString() + "px";
        drawGame.style.width = "90%";
        tbKommentar.style.position = "absolute";
        tbKommentar.style.left = "0px";
        tbKommentar.style.top = "90%";

        var fInfoLeft = divDrawGameContainer.offsetWidth + 6;
        var fInfoWidth = fWidth - fInfoLeft - 6;

        divTimeline.style.position = "absolute";
        divTimeline.style.top = "0px";
        divTimeline.style.left = fInfoLeft.toString() + "px";
        divTimeline.style.width = fInfoWidth.toString() + "px";

        divStat1.style.position = "absolute";
        divStat1.style.left = fInfoLeft.toString() + "px";
        divStat1.style.width = fInfoWidth.toString() + "px";
        divStat1.style.minWidth = "0px";

        var fCommY = tbKommentar.offsetTop + tbKommentar.offsetHeight;

        divPlotStatistics.style.position = "absolute";
        divPlotStatistics.style.left = "0px";
        divPlotStatistics.style.top = fCommY.toString() + "px";
      }
      else {
        divHeader.style.display = 'block';
        //divStat1.style.display = 'block';
        divStat2.style.display = 'block';
        //tbKommentar.style.display = 'block';
        divDrawGameContainer.style.position = "relative";
        divDrawGameContainer.style.width = "100%";
        divDrawGameContainer.style.height = "auto";
        imgGame.style.width = "100%";
        imgGame.style.height = "auto";
        tbKommentar.style.position = "relative";

        divStat1.style.position = "relative";
        divStat1.style.left = "0%";
        divStat1.style.minWidth = "300px";
      }
    }

    function hideAdressBar() {
      alert("hideAdressBar");
      window.scrollTo(0, 1);
    }
  </script>
</head>

<body onload="setTimeout(function(){ window.scrollTo(0, 1); }, 100)" style="height: 100%; min-height: 100%">
  <div id="divHeader" style="position: relative; width: 100%">
    <div style="position: relative; width: 100%; height: 65px; border: 0px solid black">
      <div style="position: relative; width: 100%; height: 44px">
        <div style="position: absolute; width: 10%; height: 100%; left: 45%; text-align: center">
          <font size="6">-</font>
        </div>

        <div style="position: absolute; width: 40%; height: 100%; left:  5%; text-align: right">
          <font size="6">@sH</font>
        </div>
        <div style="position: absolute; width: 30px; height: 30px; left:  1%; margin-top: 12px">
          <div style="position: relative; width: 30px; height: 30px; background-color: white; border: 2px solid blue; -webkit-border-radius: 50%; -moz-border-radius: 50%"></div>
        </div>

        <div style="position: absolute; width: 40%; height: 100%; left: 55%; text-align: left">
          <font size="6">@sA</font>
        </div>
        <div style="position: absolute; width: 30px; height: 30px; left: 95%; margin-top: 12px">
          <div style="position: relative; width: 30px; height: 30px; background-color: white; border: 2px solid red; -webkit-border-radius: 50%; -moz-border-radius: 50%"></div>
        </div>
      </div>
      <div style="position: relative; width: 100%; height: 100%; left: 0%; text-align: center">
        <font size="2">@sStadion</font>
      </div>
    </div>
  </div>

  <div style="position: relative; left: 0px; width: 100%; height: 40px">
    <div style="position: relative; float: left; width: 75%; min-width: 420px; height: 40px">
      <b style="position: absolute; top: 6px">Heatmap:</b>
      <div style="position: absolute; left: 70px; width: 110px; height: auto">
        @Html.DropDownListFor(m => m.iHeatmap, Model.ddlHeatmap, new { @Id = "ddlHeatmap", @class = "form-control" })
      </div>
      <b style="position: absolute; top: 6px; left: 200px">Positionen:</b>
      <div style="position: absolute; left: 280px; width: 120px; height: auto">
        @Html.DropDownListFor(m => m.iPositions, Model.ddlPositions, new { @Id = "ddlPositions", @class = "form-control" })
      </div>
    </div>
    @if (Model.game != null) {
      if (Model.game.data.bFinished) {
        <div style="position: relative; float: left; width: 25%; min-width: 160px; height: 40px">
          <button type="submit" id="bnStart" class="btn btn-default" style="position: absolute; left: 2%; width: 18%; height: auto">|<</button>
          <button type="submit" id="bnBack" class="btn btn-default" style="position: absolute; left: 22%; width: 18%; height: auto"><</button>
          <button type="submit" id="bnPlay" class="btn btn-default" style="position: absolute; left: 42%; width: 18%; height: auto">&#9658;</button>
          <button type="submit" id="bnForth" class="btn btn-default" style="position: absolute; left: 62%; width: 18%; height: auto">></button>
          <button type="submit" id="bnEnd" class="btn btn-default" style="position: absolute; left: 82%; width: 18%; height: auto">>|</button>
        </div>
      }
    }
  </div>

  <div id="divTimeline" style="position: relative; width: 100%; height: 64px">
    <div id="divTimelineIcons" style="position: absolute; width: 100%; height: 100%"></div>
    <div id="slider-Minute" style="position: absolute; width: 100%; top: 20px">
      <div id="divMinute" style="position: absolute; width: 100%"></div>
    </div>
  </div>

  <div id="divDrawGameContainer" style="position: relative; float: left; width: auto; margin-bottom: 2%">
    <img id="imgGame" style="position: relative; width: 100%" src="~/Content/Images/stadium/field_full.png" alt="" />
    <div id="drawHeatmap" style="position: absolute; margin-left: 5%; width: 90%; height: 84%; top: 8%"></div>
    <div id="drawGame" style="position: absolute; margin-left: 5%; width: 90%; height: 84%; top: 8%"></div>
    <div id="divLinks" style="position: absolute; margin-left: 5%; top: 0px; width: 45%">
      @Html.ActionLink("Aufstellung", "Team", "Member", null, new { @style = "color:#000aaa;" })
    </div>
    <div id="divLinks" style="position: absolute; margin-right: 5%; top: 0px; left: 45%; width: 50%; text-align: right">
      @Html.ActionLink("Taktik", "Taktik", "Member", null, new { @style = "color:#000aaa;" })
    </div>
  </div>

  <textarea id="tbKommentar" readonly rows='10' style="position: relative; width: 100%; max-width: 100%"></textarea>

  <div id="divPlotStatistics" style="width: 100%; height: 250px"></div>

  <div id="divStat1" style="position: relative; float: left; width: 50%; min-width: 300px; display: block; word-break: break-word">
    <text id="statistikGoals">Tore:</text>
    <text id="statistikSubs">Spielerwechsel:</text>
  </div>
  <div id="divStat2" style="position: relative; float: left; width: 50%; min-width: 300px">
    <text id="statistikCards"></text>
    <text id="playerAction"></text>
  </div>
</body>
</html>
