@model CornerkickWebMvc.Models.UserManualModel

@{
  ViewBag.Title = "User Manual";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Index</title>
  <script type="text/javascript" src="~/Scripts/Numbers.js"></script>
  <script type="text/javascript" src="~/Scripts/jquery-2.0.0.min.js"></script>
  <script type="text/javascript" src="~/Scripts/canvasjs.min.js"></script>
  <style>
    .ckLink {
      position: relative;
      top: -52px;
      width: 0px;
      height: 0px;
    }

    .ckLinkLarge {
      position: relative;
      top: -68px;
      width: 0px;
      height: 0px;
    }
  </style>
</head>
<body>
  <script type="text/javascript">
    $(document).ready(function () {
      $.get("/Home/UmGetStadiumCost/", function (dataStadiumCost) {
        var chart = new CanvasJS.Chart("chartContainerStadiumCost", {
          animationEnabled: false,
          theme: "theme2",//theme1
          axisX: {
            title: "auszubauende Plätze",
            labelFontSize: 14,
            gridThickness: 1,
            interval: 500,
          },
          axisY: {
            title: "Kosten [mio. €]",
            labelFontSize: 14,
            valueFormatString: "#,,."
          },
          legend: {
            horizontalAlign: "left", // left, center ,right
            verticalAlign: "top",  // top, center, bottom
            dockInsidePlotArea: true
          },
          data: [
            {
              // Change type to "bar", "splineArea", "area", "spline", "pie",etc.
              type: "line",
              showInLegend: true,
              legendText: "0 Pl. vorhanden",
              dataPoints: dataStadiumCost[0]
            },
            {
              // Change type to "bar", "splineArea", "area", "spline", "pie",etc.
              type: "line",
              showInLegend: true,
              legendText: "1000 Pl. vorhanden",
              dataPoints: dataStadiumCost[1]
            },
            {
              // Change type to "bar", "splineArea", "area", "spline", "pie",etc.
              type: "line",
              showInLegend: true,
              legendText: "2000 Pl. vorhanden",
              dataPoints: dataStadiumCost[2]
            }
          ]
        });

        chart.render();
      });

      plotPlayerTraining();
      plotPlayerStepsFreshLoss();
    });

    function plotPlayerTraining() {
      var iAge = getIntFromString($("#inputAge").val());

      $.ajax({
        type: 'post',
        url: '/Home/UmGetPlayerTraining',
        dataType: "json",
        data: { iType: $("#selectPlayerTrainingType").val(), iTrainerCondi: $("#ddlPlayerTrainingCoachCondi").val(), iTrainerPhysio: $("#ddlPlayerTrainingCoachPhysio").val(), iCamp: $("#ddlPlayerTrainingCamp").val(), iDoping: $("#ddlPlayerTrainingDoping").val(), iAge: iAge },
        success: function (dataKFM) {
          var chartPlayerTraining = new CanvasJS.Chart("divChartPlayerTraining", {
            animationEnabled: false,
            theme: "theme2",//theme1
            axisX: {
              gridThickness: 1,
              interval: 1
            },
            axisY: {
              valueFormatString: "0.0%",
              includeZero: false
            },
            legend: {
              horizontalAlign: "center", // left, center ,right
              verticalAlign: "bottom",  // top, center, bottom
              dockInsidePlotArea: true
            },
            data: [
              {
                // Change type to "bar", "splineArea", "area", "spline", "pie",etc.
                type: "line",
                color: "blue",
                showInLegend: true,
                legendText: "Kondition",
                yValueFormatString: "0.0%",
                dataPoints: dataKFM[0]
              },
              {
                type: "line",
                color: "green",
                showInLegend: true,
                legendText: "Frische",
                yValueFormatString: "0.0%",
                dataPoints: dataKFM[1]
              },
              {
                type: "line",
                color: "red",
                showInLegend: true,
                legendText: "Moral",
                yValueFormatString: "0.0%",
                dataPoints: dataKFM[2]
              }
            ]
          });

          chartPlayerTraining.render();
        }
      });
    }

    function plotPlayerStepsFreshLoss() {
      var iSpeed = $("#ddlStepsSpeed").val();
      var iAcceleration = $("#ddlStepsAcceleration").val();
      var iStepsLast = $("#ddlStepsLastSteps").val();
      var sFresh = document.getElementById('iptFresh').value;
      var sCondition = document.getElementById('iptCondition').value;
      var sForm = document.getElementById('iptForm').value;
      var sTcPower = document.getElementById('iptTcPower').value;

      var fFreshMin = parseFloat(sFresh) - 0.010;
      var fFreshMax = parseFloat(sFresh) + 0.002;

      $.ajax({
        type: 'post',
        url: '/Home/UmGetPlayerStepsFreshLoss',
        dataType: "json",
        data: { iSpeed: iSpeed, iAcceleration: iAcceleration, iStepsLast: iStepsLast, sFreshStart: sFresh, sCondition: sCondition, sForm: sForm, sTcPower: sTcPower },
        success: function (dataSteps) {
          var chartPlayerTraining = new CanvasJS.Chart("divChartPlayerStepsFreshLoss", {
            animationEnabled: false,
            theme: "theme2",//theme1
            axisX: {
              gridThickness: 1,
              title: "Schritte",
              interval: 1
            },
            axisY: {
              valueFormatString: "0.0%",
              title: "Frische",
              minimum: fFreshMin,
              maximum: fFreshMax,
              includeZero: false
            },
            legend: {
              horizontalAlign: "center", // left, center ,right
              verticalAlign: "bottom",  // top, center, bottom
              dockInsidePlotArea: true
            },
            data: [
              {
                // Change type to "bar", "splineArea", "area", "spline", "pie",etc.
                type: "line",
                color: "blue",
                showInLegend: true,
                legendText: "Frische",
                yValueFormatString: "0.000%",
                dataPoints: dataSteps[0]
              },
              {
                // Change type to "bar", "splineArea", "area", "spline", "pie",etc.
                type: "line",
                color: "blue",
                lineThickness: 1,
                lineDashType: "dash",
                markerType: "none",
                showInLegend: true,
                legendText: "Frische ohne Antrittsverlust",
                yValueFormatString: "0.000%",
                dataPoints: dataSteps[1]
              },
              {
                // Change type to "bar", "splineArea", "area", "spline", "pie",etc.
                type: "line",
                color: "red",
                lineDashType: "dash",
                markerType: "none",
                showInLegend: true,
                legendText: "Limit",
                yValueFormatString: "0.000%",
                dataPoints: dataSteps[2]
              }
            ]
          });

          chartPlayerTraining.render();
        }
      });
    }
  </script>
</body>
</html>

<h2>Inhaltsverzeichnis</h2>
<ol>
  <li>
    <a href="#h2Intro">Einleitung</a>
  </li>
  <li>
    <a href="#h2FirstSteps">Erste Schritte</a>
  </li>
  <li>
    <a href="#h2Cups">Wettbewerbe</a>
  </li>
  <li>
    <a href="#h2Calendar">Kalender</a>
    <ol type="a">
      <li>
        <a href="#h3CalendarTestgame">Testspiele</a>
      </li>
      <li>
        <a href="#h3CalendarTrainingscamp">Trainingslager</a>
      </li>
      <li>
        <a href="#h3CalendarEvents">Ereignisse</a>
        <ul>
          <li>
            <a href="#h4CalendarEventsTeammeeting">Krisensitzung</a>
          </li>
          <li>
            <a href="#h4CalendarEventsChristmasParty">Weihnachtsfeier</a>
          </li>
          <li>
            <a href="#h4CalendarEventsJouthDay">Jugendtag</a>
          </li>
        </ul>
      </li>
    </ol>
  </li>
  <li>
    <a href="#h2Team">Mannschaft</a>
    <ol type="a">
      <li>
        <a href="#h3Team">Aufstellung</a>
      </li>
      <li>
        <a href="#h3Tactic">Taktik</a>
      </li>
      <li>
        <a href="#h3Training">Mannschaftstraining</a>
      </li>
      <li>
        <a href="#h3Captains">Kapitäne</a>
      </li>
    </ol>
  </li>
  <li>
    <a href="#h2Player">Spieler</a>
    <ol type="a">
      <li>
        <a href="#h3PlayerSoftSkills">Soft-skills</a>
      </li>
      <li>
        <a href="#h3PlayerSkills">Fähigkeiten</a>
      </li>
      <li>
        <a href="#h3PlayerCharacter">Character</a>
      </li>
      <li>
        <a href="#h3PlayerContract">Verträge</a>
      </li>
    </ol>
  </li>
  <li>
    <a href="#h2Club">Vereine</a>
    <ol type="a">
      <li>
        <a href="#h3Finance">Finanzen</a>
      </li>
      <li>
        <a href="#h3Sponsors">Sponsoren</a>
      </li>
      <li>
        <a href="#h3Staff">Personal</a>
      </li>
      <li>
        <a href="#h3Stadium">Stadion</a>
      </li>
      <li>
        <a href="#h3Buildings">Vereinsgelände</a>
      </li>
    </ol>
  </li>
  <li>
    <a href="#h2Office">Büro</a>
    <ol type="a">
      <li>
        <a href="#h3Transfer">Transfermarkt</a>
      </li>
      <li>
        <a href="#h3Livegame">Live-Spiel</a>
      </li>
    </ol>
  </li>
</ol>

<h2><span id="h2Intro" class="ckLink"></span>Einleitung</h2>
Cornerkick ist eine sequentiell ablaufende Fußballmanagersimulation. Mit jeder Sequenz schreitet die Zeit in Cornerkick 15 Minuten voran. Ein neuer Zeitschritt erfolgt dabei alle 2:08 Minuten in realer Zeit. Das bedeutet, dass die Zeit in Cornerkick 7 mal schneller abläuft als die reale Zeit. Somit entspricht eine Woche Cornerkick-Zeit exakt 24h realer Zeit. Ligaspiele, samstags um 15:30 finden somit stets Abends statt.<br />
Zu Beginn des Spiels (Saisonstart) ist das Spiel pausiert. Du kannst dich somit in Ruhe in deinem Verein umsehen, deine Mannschaft kennen lernen, das Training festlegen usw. (s. <a href="#h2FirstSteps">Erste Schritte</a>).

<h2><span id="h2FirstSteps" class="ckLink"></span>Erste Schritte</h2>
Die wichtigsten Schritte zu Beginn des Spiels sind folgende:
<ul>
  <li>
    <u>Mach dich mit deiner <a href="#h3Team">Mannschaft</a> vertraut</u><br />
    Dazu klickst du im oberen Reiter auf <i>Mannschaft->Aufstellung</i> (oder auf <i>Durchschnittsstärke (Startelf): X,XX (Y,YY)</i> im Hauptmenü). Durch klicken auf einen Spieler in der Aufstellungstabelle erhältst du detailliertere Informationen zu diesem Spieler.
  </li>
  <li>
    <u>Wähle für jeden deiner Spieler sein <a href="#h3PlayerSkills">individuelles Training</a></u><br />
    Im Spielermenü (s. O.) kannst du diejenige Fähigkeit festlegen, an welcher der Spieler arbeiten soll. Hier kannst du auch die Namen und Rückennummern der Spieler ändern. Jedoch nur am ersten Tag des Spiels!
  </li>
  <li>
    <u>Wähle deinen <a href="#h3Captains">Mannschaftskapitän und Vize-Kapitän</a></u><br />
    Ebenfalls im Spielermenü kannst Du einen Spieler zum (Vize-)Kapitän ernennen.
  </li>
  <li>
    <u>Stelle <a href="#h3Staff">Personal</a> ein</u><br />
    Über das Menü <i>Verein->Personal</i> kannst du Personal einstellen. Beachte, dass du das Personal immer für eine Saison einstellst. Willst du dein Personal später ändern, fallen Abfindungen in Höhe von 50% des restlichen Gehalts an.
  </li>
  <li>
    <u>Lege das <a href="#h3Training">Mannschaftstraining</a> fest</u><br />
    Über das Menü <i>Mannschaft->Training</i> (oder durch klick auf <i>K: X%, F: Y%, M: Z%</i> im Hauptmenü) kannst du das Mannschaftstraining festlegen. Am Beginn einer Saison solltest Du vermehrt auf die Kondition achten. Während der Saison, dass die Spieler vor dem nächsten Spiel frisch sind.
  </li>
  <li>
    <u>Schaue dich auf dem <a href="#h3Transfer">Transfermarkt</a> um</u><br />
    Über das Menü <i>Büro->Transfermarkt</i> kannst du nach Spielern schauen um Deine Mannschaft zu verstärken.
  </li>
  <li>
    <u>Plane Testspiele</u><br />
    Über das Menü <i>Saison->Kalender</i> (oder durch klick auf das Datum) kommst du in die Kalenderübersicht. Durch klick auf ein Datum hast du die Wahl zwischen der Anfrage eines Testspiels und der Buchung eines Trainingslagers.
  </li>
  <li>
    <u>Mache deine <a href="#h3Finance">Finanzplanung</a></u><br />
    Über das Menü <i>Verein->Finanzen</i> (oder durch klick auf den Kontostand) kann die Finanzplanung für die kommende Saison vorgenommen werden. Hier kannst du auch die Eintrittspreise festlegen. Die Finanzplanung kann nur am ersten Tag jeder Saison festgelegt werden!
  </li>
  <li>
    <u>Gib deinem Stadion einen Namen</u><br />
    Über das Menü <i>Verein->Stadion</i> gelangst du zu deinem Stadion. Hier kannst du den Namen des Stadions ändern. Jedoch nur am ersten Tag des Spiels!
  </li>
</ul>

<h2><span id="h2Cups" class="ckLink"></span>Wettbewerbe</h2>
Während einer Saison werden in jedem Land folgende nationale Wettbewerbe durchgeführt:
<ul>
  <li>
    <u><b>Nationale Ligen</b></u> (Prioritätsfaktor: @Model.sAfLeague)<br />
    Eine Liga besteht aus jeweils 16 Mannschaften. Es werden Hin- und Rückspiele durchgeführt.
  </li>
  <li>
    <u><b>Nationale Pokale</b></u> (Prioritätsfaktor: @Model.sAfCup)<br />
    Für die nationalen Pokale sind alle Mannschaften des jeweiligen Landes qualifiziert. Die Pokalrunden werden im KO-Modus (nur ein Spiel) durchgeführt.
  </li>
</ul>

Über die nationalen Ligen jedes Landes besteht die Möglichkeit, sich für die folgenden internationalen Pokale zu qualifizieren:
<ul>
  <li>
    <u><b>Gold-Cup</b></u> (Prioritätsfaktor: @Model.sAfCupGold)<br />
    Die ersten vier Mannschaften jeder ersten nationalen Liga qualifizieren sich für den Gold-Cup. Die insgesamt 32 Mannschaften werden zunächst auf 8 Gruppen je 4 Mannschaften aufgeteilt und spielen eine Gruppenphase mit Hin- und Rückspiel. Die ersten zwei Mannschaften jeder Gruppe qualifizieren sich für das Achtelfinale. Achtel- Viertel und Halbfinale werden im KO-Modus mit Hin- und Rückspiel ausgetragen. Im Finale gibt es kein Rückspiel.<br />
    <u>Prämien</u><br />
    <ul>
      <li>
        Jede qualifizierte Mannschaft erhält 10 mio. € als Startgeld.
      </li>
      <li>
        Pro Runde werden 32 mio. € an alle Sieger ausgeschüttet. D.h. in der Gruppenphase erhält jede siegreiche Mannschaft 1 mio. €, im Achtelfinale 4 mio. €, im Viertelfinale 8 mio. €, usw.
      </li>
    </ul>
  </li>
  <li>
    <u><b>Silver-Cup</b></u> (Prioritätsfaktor: @Model.sAfCupSilver)<br />
    Die Mannschaften auf den Plätzen fünf bis acht jeder ersten nationalen Liga qualifizieren sich für den Silver-Cup. Der Modus ist der gleiche wie der des Gold-Cups.<br />
    <u>Prämien</u><br />
    <ul>
      <li>
        Jede qualifizierte Mannschaft erhält 5 mio. € als Startgeld.
      </li>
      <li>
        Pro Runde werden 16 mio. € an alle Sieger ausgeschüttet. D.h. in der Gruppenphase erhält jede siegreiche Mannschaft 0,5 mio. €, im Achtelfinale 2 mio. €, im Viertelfinale 4 mio. €, usw.
      </li>
    </ul>
  </li>
</ul>

Am Ende jeder Saison findet eine <u><b>Weltmeisterschaft</b></u> (Prioritätsfaktor: @Model.sAfWc) statt. Der bestplatzierte Manager jedes Landes darf die jeweilige Nationalmannschaft coachen.<br />

<u><b>Freundschaftsspiele</b></u> (Prioritätsfaktor: @Model.sAfTg) können jederzeit durchgeführt werden. Es muss nur ein Abstand von 24h bis zum nächsten Spiel eingehalten werden.<br />

Der Prioritätsfaktor eines Wettbewerbs beeinflußt die Moraländerungen durch ein Spiel (Torerfolg, Gegentor, Sieg, Niederlage, etc), sowie die ausbezahlten Sponsorenprämien durch Bandenwerbung.

<h2><span id="h2Calendar" class="ckLink"></span>Kalender</h2>
<h3><span id="h3CalendarTestgame" class="ckLink"></span>Testspiele</h3>
<h3><span id="h3CalendarTrainingscamp" class="ckLink"></span>Trainingslager</h3>

<h3><span id="h3CalendarEvents" class="ckLink"></span>Ereignisse</h3>
Um ein Ereignis durchzuführen, musst du in der Kalenderansicht auf das gewünschte Datum klicken, dann "Ereignis" auswählen, das gewünschte Ereignis wählen und bestätigen.<br />

<h4><span id="h4CalendarEventsTeammeeting" class="ckLink"></span>Krisensitzung</h4>
Dies geschieht bei einer Krisensitzung:<br />
<ul>
  <li>
    Alle Spieler mit einer Moral kleiner als 90% gewinnen die Hälfte der Differenz zu 100% dazu
  </li>
  <li>
    Zusätzlich gewinnen diese Spieler 5% Moral
  </li>
  <li>
    Achtung: Spieler mit einer Moral größer als 105% verlieren 5% Moral!
  </li>
</ul>
Beispiel: Spieler A hat nur noch eine Moral von 80%. Bei nach einer Krisensitzung erhält er zunächst (100% - 80%)/2 = 10% Moral und anschließend zusätzlich 5%. Er hat nach der Krisensitzung also eine Moral von 95%.<br />
Das Ausrichten einer Krisensitzung ist kostenlos.<br /><br />
Bemerke: Krisensitzungen haben nur zwei Mal pro Saison einen Effekt.

<h4><span id="h4CalendarEventsChristmasParty" class="ckLink"></span>Weihnachtsfeier</h4>
Dies geschieht bei einer Weihnachtsfeier:<br />
<ul>
  <li>
    Alle Spieler gewinnen 4% Moral
  </li>
  <li>
    Alle Spieler verlieren 2% Frische
  </li>
</ul>
Die Kosten der Weihnachtsfeier belaufen sich auf @MvcApplication.ckcore.ltEvent[1].iCost.ToString() €.<br /><br />
Bemerke: Eine Weihnachtsfeier hat nur ein Mal pro Saison und nur im Dezember einen Effekt.

<h4><span id="h4CalendarEventsJouthDay" class="ckLink"></span>Jugendtag</h4>
Bei einem Jugendtag entdeckst du einen neuen Jugendspieler, solange der letzte Jugendtag länger als 6 Monate her ist.<br />
Die Kosten des Jugendtages belaufen sich auf @MvcApplication.ckcore.ltEvent[2].iCost.ToString() €.

<h2><span id="h2Team" class="ckLink"></span>Mannschaft</h2>
<h3><span id="h3Team" class="ckLink"></span>Aufstellung</h3>
Die Aufstellungsseite unterteilt sich in ein Spielfeld, auf dem die Position deiner Spieler festgelegt werden kann und eine Liste aller deiner Spieler.
Es gibt zwei Menüs um die Position deiner Spieler festzulegen: Die Formation und die offensive Positionierung.<br />
<img width="208" height="24" src="~/Content/Images/user_manual/Team0.PNG" />
<ul>
  <li>
    <u style="font-size: 18px">Formation</u><br />
    Auf der unteren Hälfte des Spielfeldes ist die aktuelle Aufstellung deiner Mannschaft zu sehen. Steht der nächste Gegner fest und hast du einen <a href="#uKibitzer">Spielbeobachter</a> eingestellt, sind Informationen deines Gegners in der oberen Spielhälfte dargestellt.<br />
    <u>Position eines Spielers ändern</u><br />
    <p>Im folgenden Video ist zu sehen, wie die Position eines Spielers auf dem Spielfeld geändert werden kann (in diesem Beispiel Angelo Schmidt). Durch klicken auf einen Spieler im Spielfeld (oder in der Mannschaftstabelle) wird der Spielermodus aktiviert. Durch Klicks auf die Pfeiltasten kann die Position des Spielers geändert werden. Ein Klick ins leere Spielfeld beendet den Spielermodus.</p>
    <video width="500" height="406" controls="controls">
      <source src="~/Content/Video/team_change_position.mp4" type="video/mp4">
      <source src="~/Content/Video/team_change_position.ogg" type="video/ogg">
      Your browser does not support the video tag.
    </video>
  </li>
  <li>
    <u style="font-size: 18px">Offensive</u><br />
    Im Menü Offensive kann die Position deiner Spieler bei eigenem Ballbesitz festgelegt werden. Basis hierfür ist die Positionierung in der defensiven Formation.<br />
    <div id="uTeamOrientation" class="ckLink"></div>
    <u>Generelle offensive Ausrichtung</u><br />
    Über den rechten Regler kann die Taktikeinstellung 'Ausrichtung' angepasst und deren Auswirkung auf die generelle offensive Positionierung der Spieler beobachtet werden.<br />
    <u>Individuelle offensive Ausrichtung</u><br />
    Nach klicken auf ein Spielersymbol kann durch den links erscheinenden Regler die individuelle offensive Ausrichtung des Spielers angepasst werden.<br />
    <u>Positionstreue</u><br />
    Die gelben Rechtecke um den Spieler repräsentieren die Positionstreue des Spielers. Die Zahlen in der oberen linken Ecke der Rechtecke geben an, zu wieviel Prozent sich der Spieler bei Ballbesitz innerhalb des jeweiligen Rechtecks aufhalten wird. Die Dimensionen der Rechtecke können über die horizontalen und vertikalen Pfeile geändert werden.<br />
    <img width="500" src="~/Content/Images/user_manual/Team3a.gif" />
  </li>
</ul>

<h4>Spieler austauschen</h4>
Im folgenden Video wird gezeigt, wie ein Spieler durch einen anderen ersetzt wird (in diesem Beispiel Stanley Sommer durch Toni Kraus).
<video width="500" height="764" controls="controls">
  <source src="~/Content/Video/team_substitute.mp4" type="video/mp4">
  <source src="~/Content/Video/team_substitute.ogg" type="video/ogg">
  Your browser does not support the video tag.
</video>

<h3><span id="h3Tactic" class="ckLink"></span>Taktik</h3>
Folgende taktische Einstellungen stehen zur Verfügung:
<ul>
  <li>
    <u>Ausrichtung</u><div id="uTacticOrientation" class="ckLinkLarge"></div>
    Die Ausrichtung verändert die generelle Positionierung der Spieler bei Ballbesitz (s. auch <a href="#uTeamOrientation">Generelle offensive Ausrichtung</a>).
  </li>
  <li>
    <u>Einsatz</u><div id="uTacticPower" class="ckLinkLarge"></div>
    Bei hohem Einsatz legen die Spieler mehr Schritte pro Runde zurück. Je mehr sich die Anzahl der zurück gelegten Schritte der maximal möglichen Schrittzahl annähert, desto mehr Frische wird verbraucht (s. <a href="#h4FreshLoss">Frischeverlust im Spiel</a>).
  </li>
  <li>
    <u>Aggresivität</u><br />
    Je höher die Aggresivität eingestellt ist, desto eher werden Zweikämpfe gewonnen. Gleichzeitig steigt aber auch das Risiko für Fouls und Karten.
  </li>
  <li>
    <u>Schusshäufigkeit</u><br />
    Je näher der Regler vom Tor weg gezogen wird, desto höher ist die Wahrscheinlichkeit eines Torschusses im Spiel.
  </li>
  <li>
    <u>Passlänge</u><br />
    Je weiter die Passlänge eingestellt ist, desto eher wird ein entfernter Mitspieler angespielt und umgekehrt.
  </li>
  <li>
    <u>Passrisiko</u><br />
    Je höher das Passrisiko, desto eher wird der Pass nach vorne gesucht und desto weiter wird der Ball in den Lauf des Spielers gespielt.
  </li>
  <li>
    <u>Passhäufigkeit</u><br />
    Je höher die Passhäufigkeit eingestellt ist, desto häufiger wird sich der Spieler für einen Pass und gegen ein Dribbling oder einen Torschuss entscheiden.
  </li>
  <li>
    <u>Über links</u><br />
    Je höher dieser Wert, desto eher entscheidet sich ein Spieler beim Abspiel für einen Pass ins linke Drittel des Spielfeldes.
  </li>
  <li>
    <u>Über rechts</u><br />
    Je höher dieser Wert, desto eher entscheidet sich ein Spieler beim Abspiel für einen Pass ins rechte Drittel des Spielfeldes.
  </li>
</ul>

<div id="h3Training" class="ckLink"></div>
<h3>Mannschaftstraining</h3>
<p>Durch das Mannschaftstraining kann zum einen die körperliche Verfassung der Spieler (<a href="#uPlayerCondi">Kondition</a> und <a href="#uPlayerFresh">Frische</a>) gesteuert werden, zum anderen werden die <a href="#h3PlayerSkills">individuellen Fähigkeiten</a> der Spieler je nach Art des Trainings trainiert. Wird eine Trainingsart über einen längeren Zeitraum nicht durchgeführt, sinkt die Fähigkeit der Spieler in diesem Bereich.</p>
Die folgende Tabelle gibt qualitativ an, wie die Fitness, die Moral sowie die Fähigkeiten der Spieler durch die unterschiedlichen Mannschaftstrainings beeinflusst werden:<br />(Verl.risiko: Verletzungsrisiko pro Spieler pro Tag (Spieler-Roustheit = 100%))
<table style="width: auto" border="1" cellpadding="3">
  <tr>
    <th style="text-align:center">Art</th>
    <th style="text-align:center">Kondition</th>
    <th style="text-align:center">Frische</th>
    <th style="text-align:center">Moral</th>
    <th style="text-align:center">Schn.</th>
    <th style="text-align:center">Antritt</th>
    <th style="text-align:center">Technik</th>
    <th style="text-align:center">Dribb.</th>
    <th style="text-align:center">Zwkf</th>
    <th style="text-align:center">Pass</th>
    <th style="text-align:center">Flanke</th>
    <th style="text-align:center">Schuss</th>
    <th style="text-align:center">Kopfball</th>
    <th style="text-align:center">Freistoß</th>
    <th style="text-align:center">Elfmeter</th>
    <th style="text-align:center">Reaktion</th>
    <th style="text-align:center">Sprungk.</th>
    <th style="text-align:center">Balls.</th>
    <th style="text-align:center">Verl.risiko</th>
  </tr>
  @{
    for (int iT = 0; iT < MvcApplication.ckcore.plr.ltTraining.Count; iT++) {
      CornerkickManager.Player.Training tr = MvcApplication.ckcore.plr.ltTraining[iT];

      if (tr.iId < 0) {
        continue;
      }

      string[] sTr = new string[3];
      int[] iMulti = new int[3];
      if (tr.fCondi > 0) { // Type: Kondition
        iMulti[0] = (int)Math.Round(Math.Abs(1f - tr.fCondi) * 30);
        iMulti[1] = (int)Math.Round(Math.Abs(tr.fFresh) * 2);
        iMulti[2] = (int)Math.Round(Math.Abs(tr.fMoral) * 6);
      } else {
        iMulti[0] = (int)Math.Round(Math.Abs(tr.fCondi) * 2);
        iMulti[1] = (int)Math.Round(Math.Abs(tr.fFresh) / 3f);
        iMulti[2] = (int)Math.Round(Math.Abs(tr.fMoral) * 5);
      }

      string[] sStyle = new string[] { "color: green", "color: green", "color: green", "color: green" };
      float[] fTr = new float[] { tr.fCondi, tr.fFresh, tr.fMoral };
      for (byte j = 0; j < sTr.Length; j++) {
        char cPM = '+';
        if (fTr[j] < 0f) {
          cPM = '-';
          sStyle[j] = "font-weight:bold; color: red";
        }

        sTr[j] = new string(cPM, iMulti[j]);

        if (string.IsNullOrEmpty(sTr[j])) {
          sTr[j] = "o";
          sStyle[j] = "color: black";
        }
      }

      if (tr.fInjuryRisk > 0.003) {
        sStyle[3] = "color: red";
      } else if (tr.fInjuryRisk > 0.0015) {
        sStyle[3] = "color: orange";
      }

      string[] sTrInd = new string[14];
      if (tr.iId == 3) { // Speed
        sTrInd[0] = "++"; // Speed
        sTrInd[1] = "++"; // Acceleration
      } else if (tr.iId == 4) { // Duel
        sTrInd[3] = "++"; // Duel off.
        sTrInd[4] = "++"; // Duel def.
      } else if (tr.iId == 5) { // 5 vs. 2
        sTrInd[5] = "++"; // Low pass
        sTrInd[2] = "++"; // Technic
      } else if (tr.iId == 6) { // Shoots
        sTrInd[7] = "++"; // Shoots
        sTrInd[11] = "++"; // Reaction
        sTrInd[12] = "++"; // Jump
      } else if (tr.iId == 7) { // Flanken/Abschluss
        sTrInd[6] = "+"; // High pass
        sTrInd[8] = "+"; // Header
        sTrInd[11] = "+"; // Reaction
        sTrInd[12] = "+"; // Jump
        sTrInd[13] = "+"; // Catch
      } else if (tr.iId == 8) { // Standards
        sTrInd[8] = "+"; // Header
        sTrInd[9] = "+"; // Free-kick
        sTrInd[10] = "+"; // Penalty
        sTrInd[11] = "+"; // Reaction
        sTrInd[12] = "+"; // Jump
        sTrInd[13] = "+"; // Catch
      } else if (tr.iId == 9) { // Trainings game
        sTrInd[2] = "+"; // Technic
        sTrInd[3] = "+"; // Duel off.
        sTrInd[4] = "+"; // Duel def.
        sTrInd[5] = "+"; // Low pass
        sTrInd[6] = "+"; // High pass
      } else if (tr.iId == 10) { // Soccer-tennis
        sTrInd[2] = "+"; // Technic
        sTrInd[8] = "+"; // Header
      } else if (tr.iId == 11) { // Header
        sTrInd[8] = "+++"; // Header
      } else if (tr.iId == 12) { // Yoga
        sTrInd[2] = "+"; // Technic
        sTrInd[11] = "+"; // Reaction
      } else if (tr.iId == 13) { // Penalty kickout
        sTrInd[10] = "+++"; // Penalty
      }

      <tr style="border: 1px solid black">
        <td align="center">@tr.sName</td>
        <td align="center" style="@sStyle[0]; border-color: black">@sTr[0]</td>
        <td align="center" style="@sStyle[1]; border-color: black">@sTr[1]</td>
        <td align="center" style="@sStyle[2]; border-color: black">@sTr[2]</td>
        <td align="center" style="color: green; border-color: black">@sTrInd[0]</td>
        <td align="center" style="color: green; border-color: black">@sTrInd[1]</td>
        <td align="center" style="color: green; border-color: black">@sTrInd[2]</td>
        <td align="center" style="color: green; border-color: black">@sTrInd[3]</td>
        <td align="center" style="color: green; border-color: black">@sTrInd[4]</td>
        <td align="center" style="color: green; border-color: black">@sTrInd[5]</td>
        <td align="center" style="color: green; border-color: black">@sTrInd[6]</td>
        <td align="center" style="color: green; border-color: black">@sTrInd[7]</td>
        <td align="center" style="color: green; border-color: black">@sTrInd[8]</td>
        <td align="center" style="color: green; border-color: black">@sTrInd[9]</td>
        <td align="center" style="color: green; border-color: black">@sTrInd[10]</td>
        <td align="center" style="color: green; border-color: black">@sTrInd[11]</td>
        <td align="center" style="color: green; border-color: black">@sTrInd[12]</td>
        <td align="center" style="color: green; border-color: black">@sTrInd[13]</td>
        <td align="center" style="@sStyle[3]; border-color: black">@tr.fInjuryRisk.ToString("0.00%")</td>
      </tr>
    }
  }
</table>

<div id="h4CFM" class="ckLink"></div>
<h4>Kondition/Frische/Moral</h4>
Der Konditionsgewinn hängt vom Alter des Spielers ab. Junge Spieler bauen leichter Kondition auf, ältere schwerer. Ein besserer Konditionstrainer/Masseur sowie Trainingslager und Doping können das Training beeinflussen.
<p>In der folgenden Graphik können diese Faktoren am Beispiel eines Spielers ausprobiert werden.</p>
<div style="position: relative; width: 100%; height: 380px; margin-top: 10px; margin-bottom: 10px">
  <div id="divChartPlayerTraining" style="position: absolute; height: 100%; width: 80%"></div>
  <div style="position: absolute; right: 0px">
    <label>Training:</label>
    @Html.DropDownListFor(m => m.sTraining, new SelectList(Model.ddlTraining, "Value", "Text", 2), new { @class = "form-control", @onchange = "plotPlayerTraining()", id = "selectPlayerTrainingType", style = "width: 110px" })
    <label>Konditionstrainer:</label>
    @Html.DropDownListFor(m => m.sPlayerTrainingCoachCondi, new SelectList(Model.ddlPlayerTrainingCoachCondi, "Value", "Text", 5), new { @class = "form-control", @onchange = "plotPlayerTraining()", id = "ddlPlayerTrainingCoachCondi", @style = "width: 110px" })
    <label>Masseur:</label>
    @Html.DropDownListFor(m => m.sPlayerTrainingCoachPhysio, new SelectList(Model.ddlPlayerTrainingCoachPhysio, "Value", "Text", 5), new { @class = "form-control", @onchange = "plotPlayerTraining()", id = "ddlPlayerTrainingCoachPhysio", @style = "width: 110px" })
    <label>Trainingslager:</label>
    @Html.DropDownListFor(m => m.sPlayerTrainingCamp, new SelectList(Model.ddlPlayerTrainingCamp, "Value", "Text", -1), new { @class = "form-control", @onchange = "plotPlayerTraining()", id = "ddlPlayerTrainingCamp", @style = "width: 110px" })
    <label>Doping:</label>
    @Html.DropDownListFor(m => m.sPlayerTrainingDoping, new SelectList(Model.ddlPlayerTrainingDoping, "Value", "Text", -1), new { @class = "form-control", @onchange = "plotPlayerTraining()", id = "ddlPlayerTrainingDoping", @style = "width: 110px" })
    <label>Alter Spieler:</label>
    <input class="form-control" style="width: 110px" id="inputAge" onkeyup="plotPlayerTraining()" type="number" value="25">
  </div>
</div>

<div style="float: left">
  <h3><span id="h3Captains" class="ckLink"></span>Kapitäne</h3>
  Nach Ernennung eines Spielers zum Kapitän gewinnt er 15% Moral (Vize-Kapitän: 5%). Wird durch die Ernennung ein anderer Spieler als Kapitän abgelöst, verliert dieser 20% Moral (Vize-Kapitän: 8%).
  Zu Beginn eines jeden Spiels erhält der Kaptiän zusätzlich einen Moralbonus von 2%. Bei einem Gegentor wird der Einfluß der Führungspersönlichkeit des Kapitäns (FP) um 10% erhöht.

  <h2><span id="h2Player" class="ckLink"></span>Spieler</h2>
  <h3>Konstitution</h3>
  <ul>
    <li>
      <u>Kondition</u><div id="uPlayerCondi" class="ckLinkLarge"></div>
      Je besser die Kondition des Spielers, desto geringer fällt der Frischeverlust in Spiel und Training aus.<br />
      Der Konditionsbereich liegt zwischen 10 < Kondition < 100 (durch Spielerdoping kann die maximale Kondition erhöht werden).
    </li>
    <li>
      <u>Frische</u><div id="uPlayerFresh" class="ckLinkLarge"></div>
      Je größer die Frische des Spielers, desto mehr Schritte kann er zurücklegen.<br />
      Der Frischebereich liegt zwischen 10 < Frische < 100.
    </li>
  </ul>

  <h4><span id="h4FreshLoss" class="ckLink"></span>Frischeverlust im Spiel</h4>
  Folgende Graphik veranschaulicht, wie sich die Frische eines Spielers pro Schritt abhängig von den bereits zurückgelegten Schritten innerhalb der aktuellen Runde, der Schnelligkeit, des Antritts (in Kombination mit den zurückgelegten Schritten der vorherigen Runde), der Tagesform und der Kondition des Spielers verringert.<br />
  Die rote Linie markiert die Grenze bis zu der der Spieler Schritte durchführt, d.h der nächste ganzzahlige Wert links der Linie entspricht der Anzahl der Schritte des Spielers in der Runde. Das Limit kann mit Hilfe der Taktikeinstellung "<a href="#uTacticPower">Einsatz</a>" verschoben werden.
  <div style="position: relative; width: 100%; height: 440px; margin-top: 10px; margin-bottom: 10px">
    <div id="divChartPlayerStepsFreshLoss" style="position: absolute; height: 100%; width: 80%"></div>
    <div style="position: absolute; right: 0px">
      <label>Schnelligkeit:</label>
      @Html.DropDownListFor(m => m.sStepsSpeed, new SelectList(Model.ddlStepsSpeed, "Value", "Text", 6), new { @class = "form-control", @onchange = "plotPlayerStepsFreshLoss()", id = "ddlStepsSpeed", @style = "width: 80px" })
      <label>Antritt:</label>
      @Html.DropDownListFor(m => m.sStepsAcceleration, new SelectList(Model.ddlStepsAcceleration, "Value", "Text", 6), new { @class = "form-control", @onchange = "plotPlayerStepsFreshLoss()", id = "ddlStepsAcceleration", @style = "width: 80px" })
      <label>Letzte Schritte:</label>
      @Html.DropDownListFor(m => m.sStepsLastSteps, new SelectList(Model.ddlStepsLastSteps, "Value", "Text", 0), new { @class = "form-control", @onchange = "plotPlayerStepsFreshLoss()", id = "ddlStepsLastSteps", @style = "width: 80px" })
      <label>Frische (Start):</label>
      <input class="form-control" style="width: 80px" id="iptFresh" onkeyup="plotPlayerStepsFreshLoss()" type="number" value="0.99">
      <label>Kondition:</label>
      <input class="form-control" style="width: 80px" id="iptCondition" onkeyup="plotPlayerStepsFreshLoss()" type="number" value="0.9">
      <label>Form:</label>
      <input class="form-control" style="width: 80px" id="iptForm" onkeyup="plotPlayerStepsFreshLoss()" type="number" value="1.0">
      <label>Taktik Einsatz:</label>
      <input class="form-control" style="width: 80px" id="iptTcPower" onkeyup="plotPlayerStepsFreshLoss()" type="number" value="0.0">
    </div>
  </div>

  <h3><span id="h3PlayerSoftSkills" class="ckLink"></span>Soft-skills</h3>
  <ul>
    <li>
      <u>Moral</u><br />
      Die Moral wirkt sich auf die Fähigkeiten des Spielers aus.<br />
      Der Moralbereich liegt zwischen 10 < Moral < inf. Ist ein Spieler hoch motiviert (Moral > 100) ist es schwerer die Motivation zu steigern als wenn er schwach motiviert ist. Mit der Zeit nähert sich die Motivation dem Normwert von 100 an.
    </li>
    <li>
      <u>Spielpraxis</u><br /><div id="uPlayerSkillsExperience" class="ckLinkLarge"></div>
      Je höher die Spielpraxis des Spielers, desto größer ist die Wahrscheinlichkeit, dass er sich in seinen Fähigkeiten verbessert.<br />
      Die Spielpraxis eines Profispielers steigt mit jeder gespielten Spielminute und sinkt im Lauf der Zeit kontinuierlich ab. Junge Profispieler gewinnen schneller/verlieren langsamer Spielpraxis als ältere. Jugendspieler haben eine konstante Spielpraxis von 50.<br />
      Der Bereich der Spielpraxis liegt zwischen 10 < Spielpraxis < 100.
    </li>
    <li>
      <u>Talent</u><br /><div id="uPlayerSkillsTalent" class="ckLinkLarge"></div>
      Das Talent ist für jeden Spieler konstant. Je größer das Talent des Spielers, desto größer ist die Wahrscheinlichkeit, dass er sich in seinen Fähigkeiten verbessert.<br />
      Das Talent liegt üblicherweise zwischen 1 und 10. In Ausnahmefällen ist jedoch auch ein Talent größer 10 möglich.
    </li>
    <li>
      <u>Tagesform</u><br />
      Die Tagesform wirkt sich auf die Fähigkeiten des Spielers aus und ändert sich jeden Tag.<br />
    </li>
  </ul>

  <h3><span id="h3PlayerSkills" class="ckLink"></span>Fähigkeiten</h3>
  Die Fähigkeiten des Spielers werden beeinflußt durch seine Frische, seine Moral, seine Tagesform und seine Position (wenn nicht auf Hauptposition eingesetzt).
  <ul>
    <li>
      <u>Schnelligkeit</u><br />
      Der Wert der Schnelligkeit eines Spielers gibt die maximale Anzahl von Schritten pro Spielzug an. Der Wert wird im Spiel reduziert durch die aktuelle Frische des Spielers, die Taktikeinstellung <a href="#uTacticPower">Einsatz</a> sowie das Führen des Balles abhängig von der <a href="#uPlayerSkillsTechnic">Technik</a> des Spielers (s. <a href="#h4FreshLoss">Frischeverlust im Spiel</a>).
    </li>
    <li>
      <u>Antritt</u><br />
      Je höher der Antritt eines Spielers, desto geringer ist der zusätzliche Frischeverlust bei Schritten die in der letzten Runde nicht gemacht wurden (s. <a href="#h4FreshLoss">Frischeverlust im Spiel</a>).
    </li>
    <li>
      <u>Technik</u><div id="uPlayerSkillsTechnic" class="ckLinkLarge"></div>
      Der Wert der Technik eines Spielers beeinflusst die Fähigkeit Pässe und Flanken anzunehmen, d.h. je höher die Technik eines Spielers desto geringer ist das Risiko, dass der Ball bei der Annahme eines Passes/einer Flanke verspringt.
      Zudem verringert eine höhere Technik den Malus auf die Schnelligkeit eines Spielers, wenn dieser den Ball führt.
    </li>
    <li>
      <u>Dribbling</u><br />
      Je höher der Dribbling Wert, desto größer ist die Wahrscheinlichkeit einen offensiven Zweikampf zu gewinnen.
    </li>
    <li>
      <u>Zweikampf</u><br />
      Je höher der Zweikampf Wert, desto größer ist die Wahrscheinlichkeit einen defensiven Zweikampf zu gewinnen.
    </li>
    <li>
      <u>Passstärke</u><br />
      Die Fähigkeit Passstärke beeinflusst die mögliche Passweite und die (maximale) Dauer des Passes.
    </li>
    <li>
      <u>Passgenauigkeit</u><br />
      Eine höhere Passgenauigkeit verringert das Risiko, dass der Ball bei einem Pass an einem anderen als dem Zielort ankommt.
    </li>
    <li>
      <u>Flankenstärke</u><br />
      Die Fähigkeit Flankenstärke beeinflusst die mögliche Flankenweite und die (maximale) Dauer der Flanke.
    </li>
    <li>
      <u>Flankengenauigkeit</u><br />
      Eine höhere Flankengenauigkeit verringert das Risiko, dass der Ball bei einer Flanke an einem anderen als dem Zielort ankommt.
    </li>
    <li>
      <u>Schusskraft</u><br />
      Eine höhere Schusskraft erhöht die Chance eines Torerfolgs, sofern der Ball auf das Tor kommt (s. Schussgenauigkeit).
    </li>
    <li>
      <u>Schussgenauigkeit</u><br />
      Eine höhere Schussgenauigkeit erhöht die Chance, dass bei einem Schuss der Ball aufs Tor kommt sowie die Chance eines Torerfolgs
    </li>
    <li>
      <u>Kopfball</u><br />
    </li>
    <li>
      <u>Freistoß</u><br />
    </li>
    <li>
      <u>Elfmeter</u><br />
    </li>
    <li>
      <u>Reaktion</u><br />
    </li>
    <li>
      <u>Sprungkraft</u><br />
    </li>
    <li>
      <u>Ballsicherheit</u><br />
    </li>
    <li>
      <u>Beidfüßigkeit</u><br />
    </li>
  </ul>

  <h4>Verbessern der Spielerfertigkeiten</h4>
  Die Fähigkeiten der Spieler können durch individuelles Training verbessert werden. Die Wahrscheinlichkeit, dass sich ein Spieler in einer Fähigkeit verbessert ist von folgenden Faktoren abhängig:
  <ul>
    <li>
      <u>Dem erarbeiteten Wert des Trainingsbonus</u><br />
      In jedem Mannschaftstraining wird auch individuell trainiert. Der trainierende Spieler gewinnt Trainingsbonus in der Fähigkeit welche er gerade individuell trainiert. Das individuelle Training jedes Spielers kann in der Spieleransicht festgelegt werden.<br />
      Ist die Durchschnittsstärke der Mannschaft höher als die Stärke des einzelnen Spielers, erhöht sich der pro Training gewonnene Trainingsbonus. Im Gegensatz dazu sinkt der gewonnene Trainingsbonus guter Spieler, welche mit einer relativ schlechten Mannschaft trainieren.<br />
      Verbessert sich der Spieler in einer Fähigkeit, wird der Trainingsbonus auf 0 zurückgesetzt.
    </li>
    <li>
      <u>Dem bereits erreichten Level der Fähigkeit</u><br />
      Je höher eine Fähigkeit bereits ist, desto schwieriger ist es, den Spieler in dieser weiter zu verbessern.
    </li>
    <li>
      <u>Dem Alter des Spielers</u><br />
      Jüngere Spieler verbessern sich eher als alte.
    </li>
    <li>
      <u>Dem <a href="#uPlayerSkillsTalent">Talent</a> des Spielers</u><br />
    </li>
    <li>
      <u>Der aktuellen <a href="#uPlayerSkillsExperience">Spielpraxis</a> des Spielers</u><br />
    </li>
    <li>
      <u>Trainer</u><br />
      Je besser der <a href="#h3Staff">Co-Trainer</a> (Profi-Spieler) bzw. der <a href="#h3Staff">Jugendtrainer</a> (Jugendspieler) ist, desto eher verbessern sich deine Spieler.
    </li>
    <li>
      <u>Gebäude</u><br />
      Je höher das Level des <a href="#h3Buildings">Trainingsgeländes</a> (Profi-Spieler) bzw. des <a href="#h3Buildings">Jugendinternats</a> (Jugendspieler) ist, desto eher verbessern sich deine Spieler.
    </li>
    <li>
      <u>Trainingslager</u><br />
      Ein Trainingslager kann ebenfalls die Wahrscheinlichkeit erhöhen, dass sich ein Spieler in dieser Zeit verbessert.
    </li>
  </ul>

  <h3><span id="h3PlayerCharacter" class="ckLink"></span>Charakter</h3>
  <ul>
    <li>
      <u>Führungspersönlichkeit (FP)</u><br />
      Je höher der mittlere Wert der Führungspersönlichkeit einer Mannschaft ist, desto geringer wirken sich Gegentore negativ auf die Moral der Mannschaft aus.
    </li>
    <li>
      <u>Robustheit</u><br />
      Je höher die Robustheit eines Spielers, desto seltener verletzt sich der Spieler.
    </li>
    <li>
      <u>Flexibilität</u><br />
      Je höher die Flexibilität eines Spielers, desto schneller erlernt er eine neue Position (wenn auf dieser eingesetzt).
    </li>
    <li>
      <u>Gemüt</u><br />
      Je höher der Gemüts-Wert ist, desto seltener neigt der Spieler zu unangemessenem Verhalten gegenüber dem Schiedsrichter.
    </li>
  </ul>

  <h3><span id="h3PlayerContract" class="ckLink"></span>Vertrag</h3>
  Soll ein Spieler am Transfermarkt erworben oder ein auslaufender Vertrag eines eigenen Spielers verlängert werden (über die Schaltfläche "Vertrag verlängern" in der Spieleransicht), muss ein neuer Vertrag ausgehandelt werden.
  <ul>
    <li>
      Zunächst sollte die gewünschte Vertragslaufzeit eingestellt werden (a). Hierdurch kann sich das geforderte Gehalt des Spielers ändern. Junge Spieler verlangen ein höheres Gehalt für lange Vertragslaufzeiten während es bei älteren Spielern umgekehrt ist.
    </li>
    <li>
      Über das Festlegen einer fixen Ablöse kann das geforderte Gehalt reduziert werden (b). Allerdings kann der Spieler dann ohne Zustimmung des Managers den Verein für diese Ablöse verlassen!
    </li>
    <li>
      Nun kann ein eigenes Angebot für das Jahresgehalt sowie Spiel- und Torprämie angegeben und über die Schaltfläche "verhandelt" dem Spieler übermittelt werden (c). Sofern der angebotene Vertrag nicht zu weit von den Vorstellungen des Spielers entfernt ist, wird dieser sich mit seinem Angebot annähern.<br />
      Dieser Schritt kann wiederholt werden, jedoch sinkt jeden Mal die Verhandlungsbereitschaft des Spielers. Fällt diese unter 0% bricht der Spieler die Verhandlungen ab und ist an einem neuen Vertrag nicht mehr interessiert. Es dauert nun 10 Tage, bis die Verhandlungen wieder aufgenommen werden können.
    </li>
    <li>
      Ist der Manager mit dem Vertragsforderungen des Spielers zufrieden, kann er diesem über die Schaltfläche "Bestätigen" zustimmen (d).
    </li>
  </ul>
  <img src="~/Content/Images/user_manual/Nego2.png" width="380" />

  <h2><span id="h2Club" class="ckLink"></span>Verein</h2>

  <h3><span id="h3Finance" class="ckLink"></span>Finanzen</h3>
  Zu Beginn einer Saison kannst du eine Finanzplanung aufstellen. Somit bekommst du einen Überblick, wieviel Geld dir während der Saison zur Verfügung steht um neue Spieler zu kaufen oder das Stadion auszubauen. Ebenso können hier die Stadioneintrittspreise festgelegt werden.
  <h4><span id="h4SecretMoney" class="ckLink"></span>Schwarzgeld</h4>
  Ein bestimmter Prozentsatz der Zuschauereinnahmen kann in deine schwarze Kasse umgeleitet werden. Mit dem Schwarzgeld kannst du anschließend deine Spieler dopen (s. <a href="#h4CFM">K/F/M</a>), den Schiedsrichter des nächsten Spiels <a href="#h2PreviewGame">bestechen</a> oder bei einem <a href="#h3Transfer">Transfer</a> ein Handgeld bezahlen.

  <h3><span id="h3Sponsors" class="ckLink"></span>Sponsoren</h3>
  Spondoren sind eine wichtige Einnahmequelle. Es gibt zwei verschiedene Arten von Sponsoren: ein Hauptsponsor und Bandenwerbung. Der Hauptsponsor bieten dir einen einmaligen Sockelbetrag und erfolgsabhängige Leistungen an, während Bandenwerbungen bei jedem Heimspiel Geld generieren.<br />
  Zu Beginn des Spiels hast du nur ein Angebot eines Hauptsponsors. Mit fortschreitender Spieldauer wirst du aber weitere Angebote bekommen, die (abhängig von deinem Tabellenplatz) durchaus lukrativer sein können. Es lohnt sich also, hier hin und wieder mal vorbei zu schauen.<br />
  Um ein Sponsorenangebot anzunehmen, muss es in der jeweiligen Liste ausgewählt und die Schaltfläche "Sponsor wählen" gedrückt werden.

  <h3><span id="h3Staff" class="ckLink"></span>Personal</h3>
  <ul>
    <li>
      <u>Co-Trainer</u><br />
      Je besser der Co-Trainer, desto wahrscheinlicher entwickeln sich die <a href="#h3PlayerSkills">Fähigkeiten</a> der Spieler.
    </li>
    <li>
      <u>Konditionstrainer</u><br />
      Je besser der Konditionstrainer, desto effektiver ist das Konditionstraining (s. auch <a href="#h4CFM">Kondition/Frische/Moral</a>).
    </li>
    <li>
      <u>Masseur</u><br />
      Je besser der Masseur, desto schneller regenerieren die Spieler (s. auch <a href="#h4CFM">Kondition/Frische/Moral</a>).
    </li>
    <li>
      <u>Mentaltrainer</u><br />
      Je besser der Mentaltrainer, desto geringer wirken sich Niederlagen auf die Moral aus.
    </li>
    <li>
      <u>Teamarzt</u><br />
      Je besser der Teamarzt, desto kürzer sind die Verletzungszeiten deiner Spieler.
    </li>
    <li>
      <u>Jugendtrainer</u><br />
      Je besser der Jugendtrainer, desto wahrscheinlicher entwickeln sich die <a href="#h3PlayerSkills">Fähigkeiten</a> der Jugendspieler.
    </li>
    <li>
      <u>Jugendscout</u><br />
      Je besser der Jugendscout, desto wahrscheinlicher schließt sich ein neuer Jugendspieler deinem Verein an.
    </li>
    <li>
      <u id="uKibitzer">Spielbeobachter</u><br />
      Je besser der Spielbeobachter, desto mehr Informationen erhältst du über deinen nächsten Gegner.
    </li>
  </ul>

  <h3><span id="h3Stadium" class="ckLink"></span>Stadion</h3>
  <h4>Ausbaukosten</h4>
  Die Kosten für den Ausbau der Stadionplätze ist abhängig von der Anzahl der neu zu bauenden Plätze und der bereits vorhandenen Plätze.<br />
  Je mehr Plätze gebaut werden und je mehr Plätze bereits vorhanden sind, desto teurer sind die Kosten pro Platz.

  <div id="chartContainerStadiumCost" style="position: relative; height: 300px; width: 100%"></div>

  <div style="position: relative">
    <h4>Oberring</h4>
    Wird ein Oberring gebaut, stehen 14 neue Stadionblöcke zur Verfügung.<br />
    Die Baukosten der Blöcke des Oberrings erhöhen sich um 50%. Untere Blöcke können nur noch bis zur Kapazität (abhängig vom Blocktyp) des größen Blocks des Unterings ausgebaut werden.
  </div>

  <h4><span id="h4StadiumExtras" class="ckLink"></span>Stadionausstattung</h4>
  @{
    string sSnackbar = (400f / CornerkickManager.Stadium.iFeatureSpecReqSnackbar).ToString("0.0");
    string sToilets = (400f / CornerkickManager.Stadium.iFeatureSpecReqToilets).ToString("0.0");
    string sCounter = (400f / CornerkickManager.Stadium.iFeatureSpecReqTicketcounter).ToString("0.0");
    string sCarpark = (400f / CornerkickManager.Stadium.iFeatureSpecReqCarpark).ToString("0.0");
  }
  Folgende Stadionausstattungen stehen zur Verfügung, welche die (potentiellen) Zuschauerzahlen um bis zu 25% reduzieren, wenn sie nicht genügend vorhanden sind. Die Zahlen in Klammern geben an, welche Anzahl der jeweiligen Ausstattungen für 10.000 Stehplatz-, 8.000 Sitzplatz- und 400 VIP Zuschauer (mindestens) vorhanden sein muss, um eine Zuschauerreduktion zu vermeiden.
  <ul>
    <li>Imbissbuden (@sSnackbar)</li>
    <li>Toiletten (@sToilets)</li>
    <li>Ticketschalter (@sCounter)</li>
    <li>Parkplätze (@sCarpark)</li>
  </ul>
  Mit anderen Worten: @sCarpark Parkplätze genügen für 10.000 Stehplatz-, 8.000 Sitzplatz- und 400 VIP Zuschauer. Sind keine vorhanden reduziert sich die Anzahl der potentiellen Zuschauer um 25%.

  <h3><span id="h3Buildings" class="ckLink"></span>Vereinsgelände</h3>
  Auf dem Vereinsgelände können verschiedene Gebäudetypen (aus-)gebaut werden:
  <ul>
    <li>
      <u>Trainingsgelände</u><br />
      Jedes zusätzliche Level des Trainingsgeländes erhöht die Wahrscheinlichkeit der Weiterentwicklung der <a href="#h3PlayerSkills">Spielerfähigkeiten</a> deiner Profispieler.
    </li>
    <li>
      <u>Fittnessraum</u><br />
      Jedes zusätzliche Level der Fittnesseinrichtung erhöht den Konditionsgewinn pro Trainingseinheit.
    </li>
    <li>
      <u>Wellnessraum</u><br />
      Jedes zusätzliche Level der Wellnesseinrichtung erhöht den Frischegewinn pro Trainingseinheit.
    </li>
    <li>
      <u>Jugendinternat</u><br />
      Jedes zusätzliche Level des Jugendinternats erhöht die Wahrscheinlichkeit der Weiterentwicklung der <a href="#h3PlayerSkills">Spielerfähigkeiten</a> deiner Jugendspieler.
    </li>
    <li>
      <u>Vereinsheim</u><br />
      Jedes zusätzliche Level des Vereinsheims erhöht das Zuschaueraufkommen um 5%.
    </li>
    <li>
      <u>Vereinsmuseum</u><br />
      Der Zuschauerbonus für gewonnene Titel (+5% je Titel) wird mit dem aktuellen Level des Vereinsmuseums multipliziert.
    </li>
    <li>
      <u>Parkplätze</u><br />
      siehe <a href="#h4StadiumExtras">Stadionausstattung</a>
    </li>
    <li>
      <u>Ticketschalter</u><br />
      siehe <a href="#h4StadiumExtras">Stadionausstattung</a>
    </li>
  </ul>
  Um ein Gebäude bauen zu können, muss jedoch zunächst ein Grundstück erworben werden. Die Kosten für jedes neue Grundstück erhöhen sich um 50% zum vorherigen.

  <h2><span id="h2PreviewGame" class="ckLink"></span>Spielvorschau</h2>
  Die Spielvorschau lässt sich vom Hauptmenü über den link unter "Nächstes Spiel" öffnen. Dort sind alle Details zum nächsten Spiel zusammengefasst.<br />
  Zudem kann hier der Schiedsrichter des nächsten Spiels mit <a href="#h4SecretMoney">Schwarzgeld</a> bestochen werden. Abhängig von der Summe die Sie ihm bezahlen (und der Summe die Ihr Gegner im bezahlt), wird er bis zu maximal 20% Fehlentscheidungen (bei einer Bestechungssumme von 100.000€) zu Ihren Gunsten treffen.

  <h2><span id="h2Office" class="ckLink"></span>Büro</h2>
  <h3><span id="h3Transfer" class="ckLink"></span>Transfermarkt</h3>
  Auf dem Transfermarkt können neue Spieler für deine Mannschaft verpflichtet werden. Benutze die Filter, um einen interessanten Spieler zu finden. Um ihn zu verpflichten, musst du zunächst einen <a href="#h3PlayerContract">Vertrag mit ihm aushandeln</a>. Besitzt der Spieler eine fixe Ablöse oder ist er vereinslos, wechselt er nun direkt zu deinem Verein. Ansonsten musst du dem bisherigen Verein des Spielers eine Ablösesumme anbieten.<br /><br />
  Ein eigener Spieler kann über die Option "Auf Transferliste setzen" in der Spieleransicht zum Verkauf angeboten werden. Über eingegangene Angebote für deinen Spieler wirst du im Neuigkeiten-Bereich informiert.

  <h3><span id="h3Livegame" class="ckLink"></span>Live-Spiel</h3>
  Findet gerade ein Spiel statt, kannst du es dir hier anschauen. Durch einen klick auf (3) kannst du die Trikotfarben wechslen. Über die links 'Aufstellung/Taktik' (2a) kannst du dein Team anpassen und Auswechslungen vornehmen und über den link 'home' (2b) kommst du zurück in den Startbildschirm.<br />
  <img src="~/Content/Images/user_manual/Game2.png" width="600" /> <br />
  Ist gerade kein Spiel im Gange, kannst du vergangene Spiele über das Menü (1) auswählen und analysieren. Dazu stehen dir verschiedene Optionen zur Verfügung: Mit den Schaltflächen
  <img src="~/Content/Images/user_manual/LiveGame_options.png" width="200" /> kannst du dir jede Spielsituation noch einmal anschauen (5). Mit einem klick auf die Symbole über bzw. unter der timeline (4) kommst du direkt in die jeweilige Spielsituation<br />
  Über den link 'Optionen' (2c) kannst du spezielle Darstellungsoptionen wie heatmap, Schüsse und Pässe aktivieren.<br />
</div>
