@model CornerkickWebMvc.Models.UserManualModel

@{
  ViewBag.Title = "User Manual";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Index</title>
  <script type="text/javascript" src="~/Scripts/Numbers.js"></script>
  <script type="text/javascript" src="~/Scripts/jquery-2.0.0.min.js"></script>
  <script type="text/javascript" src="~/Scripts/canvasjs.min.js"></script>
  <style>
    .ckLink {
      position: relative;
      top: -42px;
      width: 0px;
      height: 0px;
    }

    .ckLinkLarge {
      position: relative;
      top: -68px;
      width: 0px;
      height: 0px;
    }
  </style>
</head>
<body>
  <script type="text/javascript">
    $(document).ready(function () {
      $.get("/Home/UmGetStadiumCost/", function (dataStadiumCost) {
        var chart = new CanvasJS.Chart("chartContainerStadiumCost", {
          animationEnabled: false,
          theme: "theme2",//theme1
          axisX: {
            title: "auszubauende Plätze",
            labelFontSize: 14,
            gridThickness: 1,
            interval: 500,
          },
          axisY: {
            title: "Kosten [mio. €]",
            labelFontSize: 14,
            valueFormatString: "#,,."
          },
          legend: {
            horizontalAlign: "left", // left, center ,right
            verticalAlign: "top",  // top, center, bottom
            dockInsidePlotArea: true
          },
          data: [
            {
              // Change type to "bar", "splineArea", "area", "spline", "pie",etc.
              type: "line",
              showInLegend: true,
              legendText: "0 Pl. vorhanden",
              dataPoints: dataStadiumCost[0]
            },
            {
              // Change type to "bar", "splineArea", "area", "spline", "pie",etc.
              type: "line",
              showInLegend: true,
              legendText: "1000 Pl. vorhanden",
              dataPoints: dataStadiumCost[1]
            },
            {
              // Change type to "bar", "splineArea", "area", "spline", "pie",etc.
              type: "line",
              showInLegend: true,
              legendText: "2000 Pl. vorhanden",
              dataPoints: dataStadiumCost[2]
            }
          ]
        });

        chart.render();
      });

      plotPlayerTraining();
    });

    function plotPlayerTraining() {
      var iAge = getIntFromString($("#inputAge").val());

      $.ajax({
        type: 'post',
        url: '/Home/UmGetPlayerTraining',
        dataType: "json",
        data: { iType: $("#selectPlayerTrainingType").val(), iTrainerCondi: $("#ddlPlayerTrainingCoachCondi").val(), iTrainerPhysio: $("#ddlPlayerTrainingCoachPhysio").val(), iCamp: $("#ddlPlayerTrainingCamp").val(), iDoping: $("#ddlPlayerTrainingDoping").val(), iAge: iAge },
        success: function (dataKFM) {
          var chartPlayerTraining = new CanvasJS.Chart("divChartPlayerTraining", {
            animationEnabled: false,
            theme: "theme2",//theme1
            axisX: {
              gridThickness: 1,
              interval: 1
            },
            axisY: {
              valueFormatString: "0.0%",
              includeZero: false
            },
            legend: {
              horizontalAlign: "center", // left, center ,right
              verticalAlign: "bottom",  // top, center, bottom
              dockInsidePlotArea: true
            },
            data: [
              {
                // Change type to "bar", "splineArea", "area", "spline", "pie",etc.
                type: "line",
                color: "blue",
                showInLegend: true,
                legendText: "Kondition",
                yValueFormatString: "0.0%",
                dataPoints: dataKFM[0]
              },
              {
                type: "line",
                color: "green",
                showInLegend: true,
                legendText: "Frische",
                yValueFormatString: "0.0%",
                dataPoints: dataKFM[1]
              },
              {
                type: "line",
                color: "red",
                showInLegend: true,
                legendText: "Moral",
                yValueFormatString: "0.0%",
                dataPoints: dataKFM[2]
              }
            ]
          });

          chartPlayerTraining.render();
        }
      });
    }
  </script>
</body>
</html>

<h2>Einleitung</h2>
Cornerkick ist eine sequentiell ablaufende Fußballmanagersimulation. Mit jeder Sequenz schreitet die Zeit in Cornerkick 15 Minuten voran. Ein neuer Zeitschritt erfolgt dabei alle 2:08 Minuten in realer Zeit. Das bedeutet, dass die Zeit in Cornerkick 7 mal schneller abläuft als die reale Zeit. Somit entspricht eine Woche Cornerkick-Zeit exakt 24h realer Zeit. Ligaspiele, samstags um 15:30 finden somit stets Abends statt.<br />
Zu Beginn des Spiels (Saisonstart) ist das Spiel pausiert. Du kannst dich somit in Ruhe in deinem Verein umsehen, deine Mannschaft kennen lernen, das Training festlegen usw. (s. <a href="#h2FirstSteps">Erste Schritte</a>).

<div id="h2FirstSteps" class="ckLink"></div>
<h2>Erste Schritte</h2>
Die wichtigsten Schritte zu Beginn des Spiels sind folgende:
<ul>
  <li>
    <u>Machen Sie sich mit Ihrer <a href="#h3Team">Mannschaft</a> vertraut</u><br />
    Dazu klicken Sie im oberen Reiter auf <i>Mannschaft->Aufstellung</i> (oder auf <i>Durchschnittsstärke (Startelf): X,XX (Y,YY)</i> im Hauptmenü). Durch klicken auf einen Spieler in der Aufstellungstabelle erhalten Sie detailliertere Informationen zu diesem Spieler.
  </li>
  <li>
    <u>Wählen Sie für jeden Ihrer Spieler sein <a href="#h3PlayerSkills">individuelles Training</a></u><br />
    Im Spielermenü (s. O.) können Sie diejenige Fähigkeit festlegen, an welcher der Spieler arbeiten soll. Hier können Sie auch die Namen und Rückennummern der Spieler ändern. Jedoch nur am ersten Tag des Spiels!
  </li>
  <li>
    <u>Wählen Sie Ihren <a href="#h3Captains">Kapitän und Vize-Kapitän</a></u><br />
    Ebenfalls im Spielermenü können Sie einen Spieler zum (Vize-)Kapitän ernennen.
  </li>
  <li>
    <u>Stellen Sie <a href="#h3Staff">Personal</a> ein</u><br />
    Über das Menü <i>Verein->Personal</i> können Sie Personal einstellen. Beachten Sie, dass Sie das Personal immer für eine Saison einstellen. Wollen Sie Ihr Personal später ändern, fallen Abfindungen in Höhe von 50% des restlichen Gehalts an.
  </li>
  <li>
    <u>Legen Sie das <a href="#h3Training">Mannschaftstraining</a> fest</u><br />
    Über das Menü <i>Mannschaft->Training</i> (oder durch klick auf <i>K: X%, F: Y%, M: Z%</i> im Hauptmenü) können Sie das Mannschaftstraining festlegen. Am Beginn einer Saison sollten Sie vermehrt auf die Kondition achten. Während der Saison, dass die Spieler vor dem nächsten Spiel frisch sind.
  </li>
  <li>
    <u>Schauen Sie sich auf dem Transfermarkt um</u><br />
    Über das Menü <i>Büro->Transfermarkt</i> können Sie nach Spielern schauen um Ihre Mannschaft zu verstärken.
  </li>
  <li>
    <u>Planen Sie Testspiele</u><br />
    Über das Menü <i>Saison->Kalender</i> (oder durch klick auf das Datum) kommen Sie in die Kalenderübersicht. Durch klick auf ein Datum haben Sie die Wahl zwischen der Anfrage eines Testspiels und der Buchung eines Trainingslagers.
  </li>
  <li>
    <u>Machen Sie Ihre <a href="#h3Finance">Finanzplanung</a></u><br />
    Über das Menü <i>Verein->Finanzen</i> (oder durch klick auf den Kontostand) kann die Finanzplanung für die kommende Saison vorgenommen werden. Hier können Sie auch die Eintrittspreise festlegen. Die Finanzplanung kann nur am ersten Tag jeder Saison festgelegt werden!
  </li>
  <li>
    <u>Geben Sie Ihrem Stadion einen Namen</u><br />
    Über das Menü <i>Verein->Stadion</i> gelangen Sie zu Ihrem Stadion. Hier können Sie den Namen des Stadions ändern. Jedoch nur am ersten Tag des Spiels!
  </li>
</ul>

<h2>Mannschaft</h2>
<div id="h3Team" class="ckLink"></div>
<h3>Aufstellung</h3>
Die Aufstellungsseite unterteilt sich in ein Spielfeld, auf dem die Position deiner Spieler festgelegt werden kann und eine Liste aller deiner Spieler.
Es gibt zwei Menüs um die Position deiner Spieler festzulegen: Die Formation und die offensive Positionierung.<br />
<img width="208" height="24" src="~/Content/Images/user_manual/Team0.PNG" />
<ul>
  <li>
    <u style="font-size: 18px">Formation</u><br />
    Auf der unteren Hälfte des Spielfeldes ist die aktuelle Aufstellung deiner Mannschaft zu sehen. Steht der nächste Gegner fest und hast du einen <a href="#uKibitzer">Spielbeobachter</a> eingestellt, sind Informationen deines Gegners in der oberen Spielhälfte dargestellt.<br />
    <u>Position eines Spielers ändern</u><br />
    <p>Im folgenden Video ist zu sehen, wie die Position eines Spielers auf dem Spielfeld geändert werden kann (in diesem Beispiel Angelo Schmidt). Durch klicken auf einen Spieler im Spielfeld (oder in der Mannschaftstabelle) wird der Spielermodus aktiviert. Durch Klicks auf die Pfeiltasten kann die Position des Spielers geändert werden. Ein Klick ins leere Spielfeld beendet den Spielermodus.</p>
    <video width="500" height="406" controls="controls">
      <source src="~/Content/Video/team_change_position.mp4" type="video/mp4">
      <source src="~/Content/Video/team_change_position.ogg" type="video/ogg">
      Your browser does not support the video tag.
    </video>
  </li>
  <li>
    <u style="font-size: 18px">Offensive</u><br />
    Im Menü Offensive kann die Position deiner Spieler bei eigenem Ballbesitz festgelegt werden. Basis hierfür ist die Positionierung in der defensiven Formation.<br />
    <div id="uTeamOrientation" class="ckLink"></div>
    <u>Generelle offensive Ausrichtung</u><br />
    Über den rechten Regler kann die Taktikeinstellung 'Ausrichtung' angepasst und deren Auswirkung auf die generelle offensive Positionierung der Spieler beobachtet werden.<br />
    <u>Individuelle offensive Ausrichtung</u><br />
    Nach klicken auf ein Spielersymbol kann durch den links erscheinenden Regler die individuelle offensive Ausrichtung des Spielers angepasst werden.<br />
    <u>Positionstreue</u><br />
    Die gelben Rechtecke um den Spieler repräsentieren die Positionstreue des Spielers. Die Zahlen in der oberen linken Ecke der Rechtecke geben an, zu wieviel Prozent sich der Spieler bei Ballbesitz innerhalb des jeweiligen Rechtecks aufhalten wird. Die Dimensionen der Rechtecke können über die horizontalen und vertikalen Pfeile geändert werden.<br />
    <img width="500" src="~/Content/Images/user_manual/Team3a.PNG" />
  </li>
</ul>

<h4>Spieler austauschen</h4>
Im folgenden Video wird gezeigt, wie ein Spieler durch einen anderen ersetzt wird (in diesem Beispiel Stanley Sommer durch Toni Kraus).
<video width="500" height="764" controls="controls">
  <source src="~/Content/Video/team_substitute.mp4" type="video/mp4">
  <source src="~/Content/Video/team_substitute.ogg" type="video/ogg">
  Your browser does not support the video tag.
</video>

<div id="h3Tactic" class="ckLink"></div>
<h3>Taktik</h3>
Folgende taktische Einstellungen stehen zur Verfügung:
<ul>
  <li>
    <u>Ausrichtung</u><div id="uTacticOrientation" class="ckLinkLarge"></div>
    Die Ausrichtung verändert die generelle Positionierung der Spieler bei Ballbesitz (s. auch <a href="#uTeamOrientation">Generelle offensive Ausrichtung</a>).
  </li>
  <li>
    <u>Einsatz</u><div id="uTacticPower" class="ckLinkLarge"></div>
    Bei hohem Einsatz legen die Spieler mehr Schritte pro Runde zurück. Je mehr sich die Anzahl der zurück gelegten Schritte der maximal möglichen Schrittzahl annähert, desto mehr Frische wird verbraucht.
  </li>
  <li>
    <u>Aggresivität</u><br />
    Je höher die Aggresivität eingestellt ist, desto eher werden Zweikämpfe gewonnen. Gleichzeitig steigt aber auch das Risiko für Fouls und Karten.
  </li>
  <li>
    <u>Schusshäufigkeit</u><br />
    Je näher der Regler vom Tor weg gezogen wird, desto höher ist die Wahrscheinlichkeit eines Torschusses im Spiel.
  </li>
  <li>
    <u>Passlänge</u><br />
    Je weiter die Passlänge eingestellt ist, desto eher wird ein entfernter Mitspieler angespielt und umgekehrt.
  </li>
  <li>
    <u>Passrisiko</u><br />
    Je höher das Passrisiko, desto eher wird der Pass nach vorne gesucht und desto weiter wird der Ball in den Lauf des Spielers gespielt.
  </li>
  <li>
    <u>Passhäufigkeit</u><br />
    Je höher die Passhäufigkeit eingestellt ist, desto häufiger wird sich der Spieler für einen Pass und gegen ein Dribbling oder einen Torschuss entscheiden.
  </li>
  <li>
    <u>Über links</u><br />
    Je höher dieser Wert, desto eher entscheidet sich ein Spieler beim Abspiel für einen Pass ins linke Drittel des Spielfeldes.
  </li>
  <li>
    <u>Über rechts</u><br />
    Je höher dieser Wert, desto eher entscheidet sich ein Spieler beim Abspiel für einen Pass ins rechte Drittel des Spielfeldes.
  </li>
</ul>

<div id="h3Training" class="ckLink"></div>
<h3>Mannschaftstraining</h3>
<p>Durch das Mannschaftstraining kann zum einen die körperliche Verfassung der Spieler (<a href="#uPlayerCondi">Kondition</a> und <a href="#uPlayerFresh">Frische</a>) gesteuert werden, zum anderen werden die <a href="#h3PlayerSkills">individuellen Fähigkeiten</a> der Spieler je nach Art des Trainings trainiert. Wird eine Trainingsart über einen längeren Zeitraum nicht durchgeführt, sinkt die Fähigkeit der Spieler in diesem Bereich.</p>
Die folgende Tabelle gibt qualitativ an, wie die Fitness, die Moral sowie die Fähigkeiten der Spieler durch die unterschiedlichen Mannschaftstrainings beeinflusst werden:
<table style="width: auto" border="1" cellpadding="3">
  <tr>
    <th style="text-align:center">Art</th>
    <th style="text-align:center">Kondition</th>
    <th style="text-align:center">Frische</th>
    <th style="text-align:center">Moral</th>
    <th style="text-align:center">Schn.</th>
    <th style="text-align:center">Technik</th>
    <th style="text-align:center">Dribb.</th>
    <th style="text-align:center">Zwkf</th>
    <th style="text-align:center">Pass</th>
    <th style="text-align:center">Flanke</th>
    <th style="text-align:center">Schuss</th>
    <th style="text-align:center">Kopfball</th>
    <th style="text-align:center">Freistoß</th>
    <th style="text-align:center">Elfmeter</th>
    <th style="text-align:center">Reaktion</th>
    <th style="text-align:center">Sprungk.</th>
    <th style="text-align:center">Balls.</th>
  </tr>
  @{
    for (int iT = 0; iT < MvcApplication.ckcore.sTraining.Length; iT++) {
      float[] fTr = MvcApplication.ckcore.plr.fTrainingFactors(iT);
      string[] sTr = new string[3];
      int[] iMulti = new int[3];
      if (fTr[0] > 0) { // Type: Kondition
        iMulti[0] = (int)Math.Round(Math.Abs(1f - fTr[0]) * 30);
        iMulti[1] = (int)Math.Round(Math.Abs(fTr[1]) * 2);
        iMulti[2] = (int)Math.Round(Math.Abs(fTr[2]) * 6);
      } else {
        iMulti[0] = (int)Math.Round(Math.Abs(fTr[0]) * 2);
        iMulti[1] = (int)Math.Round(Math.Abs(fTr[1]) / 3f);
        iMulti[2] = (int)Math.Round(Math.Abs(fTr[2]) * 5);
      }

      string[] sStyle = new string[3] { "color: green", "color: green", "color: green" };
      for (byte j = 0; j < sTr.Length; j++) {
        char cPM = '+';
        if (fTr[j] < 0f) {
          cPM = '-';
          sStyle[j] = "font-weight:bold; color: red";
        }

        sTr[j] = new string(cPM, iMulti[j]);

        if (string.IsNullOrEmpty(sTr[j])) {
          sTr[j] = "o";
          sStyle[j] = "color: black";
        }
      }
      string[] sTrInd = new string[13];
      if (iT == 3) { // Speed
        sTrInd[0] = "++"; // Speed
      } else if (iT == 4) { // Duel
        sTrInd[2] = "++"; // Duel off.
        sTrInd[3] = "++"; // Duel def.
      } else if (iT == 5) { // 5 vs. 2
        sTrInd[4] = "++"; // Low pass
        sTrInd[1] = "++"; // Technic
      } else if (iT == 6) { // Shoots
        sTrInd[6] = "++"; // Shoots
        sTrInd[10] = "++"; // Reaction
        sTrInd[11] = "++"; // Jump
      } else if (iT == 7) { // Flanken/Abschluss
        sTrInd[5] = "+"; // High pass
        sTrInd[7] = "+"; // Header
        sTrInd[10] = "+"; // Reaction
        sTrInd[11] = "+"; // Jump
        sTrInd[12] = "+"; // Catch
      } else if (iT == 8) { // Standards
        sTrInd[7] = "+"; // Header
        sTrInd[8] = "+"; // Free-kick
        sTrInd[9] = "+"; // Penalty
        sTrInd[10] = "+"; // Reaction
        sTrInd[11] = "+"; // Jump
        sTrInd[12] = "+"; // Catch
      } else if (iT == 9) { // Trainings game
        sTrInd[1] = "+"; // Technic
        sTrInd[2] = "+"; // Duel off.
        sTrInd[3] = "+"; // Duel def.
        sTrInd[4] = "+"; // Low pass
        sTrInd[5] = "+"; // High pass
      }

      <tr style="border: 1px solid black">
        <td align="center">@MvcApplication.ckcore.sTraining[iT]</td>
        <td align="center" style="@sStyle[0]">@sTr[0]</td>
        <td align="center" style="@sStyle[1]">@sTr[1]</td>
        <td align="center" style="@sStyle[2]">@sTr[2]</td>
        <td align="center" style="color: green">@sTrInd[0]</td>
        <td align="center" style="color: green">@sTrInd[1]</td>
        <td align="center" style="color: green">@sTrInd[2]</td>
        <td align="center" style="color: green">@sTrInd[3]</td>
        <td align="center" style="color: green">@sTrInd[4]</td>
        <td align="center" style="color: green">@sTrInd[5]</td>
        <td align="center" style="color: green">@sTrInd[6]</td>
        <td align="center" style="color: green">@sTrInd[7]</td>
        <td align="center" style="color: green">@sTrInd[8]</td>
        <td align="center" style="color: green">@sTrInd[9]</td>
        <td align="center" style="color: green">@sTrInd[10]</td>
        <td align="center" style="color: green">@sTrInd[11]</td>
        <td align="center" style="color: green">@sTrInd[12]</td>
      </tr>
    }
  }
</table>

<div id="h4CFM" class="ckLink"></div>
<h4>Kondition/Frische/Moral</h4>
Der Konditionsgewinn hängt vom Alter des Spielers ab. Junge Spieler bauen leichter Kondition auf, ältere schwerer. Ein besserer Konditionstrainer/Masseur sowie Trainingslager und Doping können das Training beeinflussen.
<p>In der folgenden Graphik können diese Faktoren am Beispiel eines Spielers ausprobiert werden.</p>
<div style="position: relative; width: 100%; margin-top: 10px; margin-bottom: 10px">
  <div style="position: relative; margin-bottom: 6px; float: left">
    <label>Training:</label>
    @Html.DropDownListFor(m => m.sTraining, new SelectList(Model.ddlTraining, "Value", "Text", 2), new { @class = "form-control", @onchange = "plotPlayerTraining()", id = "selectPlayerTrainingType", style = "width: 20%; min-width: 120px" })
    <label>Konditionstrainer:</label>
    @Html.DropDownListFor(m => m.sPlayerTrainingCoachCondi, new SelectList(Model.ddlPlayerTrainingCoachCondi, "Value", "Text", 5), new { @class = "form-control", @onchange = "plotPlayerTraining()", id = "ddlPlayerTrainingCoachCondi", @style = "width: 120px" })
    <label>Masseur:</label>
    @Html.DropDownListFor(m => m.sPlayerTrainingCoachPhysio, new SelectList(Model.ddlPlayerTrainingCoachPhysio, "Value", "Text", 5), new { @class = "form-control", @onchange = "plotPlayerTraining()", id = "ddlPlayerTrainingCoachPhysio", @style = "width: 120px" })
    <label>Trainingslager:</label>
    @Html.DropDownListFor(m => m.sPlayerTrainingCamp, new SelectList(Model.ddlPlayerTrainingCamp, "Value", "Text", -1), new { @class = "form-control", @onchange = "plotPlayerTraining()", id = "ddlPlayerTrainingCamp", @style = "width: 120px" })
    <label>Doping:</label>
    @Html.DropDownListFor(m => m.sPlayerTrainingDoping, new SelectList(Model.ddlPlayerTrainingDoping, "Value", "Text", -1), new { @class = "form-control", @onchange = "plotPlayerTraining()", id = "ddlPlayerTrainingDoping", @style = "width: 120px" })
    <label>Alter Spieler:</label>
    <input class="form-control" style="width: 120px" id="inputAge" onchange="plotPlayerTraining()" type="number" value="25">
  </div>
  <div id="divChartPlayerTraining" style="position: relative; height: 380px; width: 80%; min-width: 320px; float: left"></div>
</div>

<div style="float: left">
  <div id="h3Captains" class="ckLink"></div>
  <h3>Kapitäne</h3>
  Nach Ernennung eines Spielers zum Kapitän gewinnt er 15% Moral (Vize-Kapitän: 5%). Wird durch die Ernennung ein anderer Spieler als Kapitän abgelöst, verliert dieser 20% Moral (Vize-Kapitän: 8%).
  Zu Beginn eines jeden Spiels erhält der Kaptiän zusätzlich einen Moralbonus von 2%. Bei einem Gegentor wird der Einfluß der Führungspersönlichkeit des Kapitäns (FP) um 10% erhöht.

  <h2>Spieler</h2>
  <h3>Konstitution</h3>
  <ul>
    <li>
      <u>Kondition</u><div id="uPlayerCondi" class="ckLinkLarge"></div>
      Je besser die Kondition des Spielers, desto geringer fällt der Frischeverlust in Spiel und Training aus.<br />
      Der Konditionsbereich liegt zwischen 10 < Kondition < 100 (durch Spielerdoping kann die maximale Kondition erhöht werden).
    </li>
    <li>
      <u>Frische</u><div id="uPlayerFresh" class="ckLinkLarge"></div>
      Je größer die Frische des Spielers, desto mehr Strecke kann er zurücklegen.<br />
      Der Frischebereich liegt zwischen 10 < Frische < 100.
    </li>
  </ul>

  <h3>Soft-skills</h3>
  <ul>
    <li>
      <u>Moral</u><br />
      Die Moral wirkt sich auf die Fähigkeiten des Spielers aus.<br />
      Der Moralbereich liegt zwischen 10 < Moral < inf. Ist ein Spieler hoch motiviert (Moral > 100) ist es schwerer die Motivation zu steigern als wenn er schwach motiviert ist. Mit der Zeit nähert sich die Motivation dem Normwert von 100 an.
    </li>
    <li>
      <u>Erfahrung</u><br /><div id="uPlayerSkillsExperience" class="ckLinkLarge"></div>
      Je höher die Erfahrung des Spielers, desto größer ist die Wahrscheinlichkeit, dass er sich in seinen Fähigkeiten verbessert.<br />
      Die Erfahrung steigt mit jeder gespielten Spielminute und sinkt im Lauf der Zeit kontinuierlich ab. Junge Spieler gewinnen schneller/verlieren langsamer Erfahrung als ältere.<br />
      Der Erfahrungbereich liegt zwischen 10 < Erfahrung < 100.
    </li>
    <li>
      <u>Talent</u><br /><div id="uPlayerSkillsTalent" class="ckLinkLarge"></div>
      Das Talent ist für jeden Spieler konstant. Je größer das Talent des Spielers, desto größer ist die Wahrscheinlichkeit, dass er sich in seinen Fähigkeiten verbessert.<br />
      Das Talent liegt üblicherweise zwischen 1 und 10. In Ausnahmefällen ist jedoch auch ein Talent größer 10 möglich.
    </li>
    <li>
      <u>Tagesform</u><br />
      Die Tagesform wirkt sich auf die Fähigkeiten des Spielers aus und ändert sich jeden Tag.<br />
    </li>
  </ul>

  <div id="h3PlayerSkills" class="ckLink"></div>
  <h3>Fähigkeiten</h3>
  Die Fähigkeiten des Spielers werden beeinflußt durch seine Frische, seine Moral, seine Tagesform und seine Position (wenn nicht auf Hauptposition eingesetzt).
  <ul>
    <li>
      <u>Schnelligkeit</u><br />
      Der Wert der Schnelligkeit eines Spielers gibt die maximale Anzahl von Schritten pro Spielzug an. Der Wert wird im Spiel reduziert durch die aktuelle Frische des Spielers, die Taktikeinstellung <a href="#uTacticPower">Einsatz</a> sowie das Führen des Balles abhängig von der <a href="#uPlayerSkillsTechnic">Technik</a> des Spielers.
    </li>
    <li>
      <u>Technik</u><div id="uPlayerSkillsTechnic" class="ckLinkLarge"></div>
      Der Wert der Technik eines Spielers beeinflusst die Fähigkeit Pässe und Flanken anzunehmen, d.h. je höher die Technik eines Spielers desto geringer ist das Risiko, dass der Ball bei der Annahme eines Passes/einer Flanke verspringt.
      Zudem verringert eine höhere Technik den Malus auf die Schnelligkeit eines Spielers, wenn dieser den Ball führt.
    </li>
    <li>
      <u>Dribbling</u><br />
      Je höher der Dribbling Wert, desto größer ist die Wahrscheinlichkeit einen offensiven Zweikampf zu gewinnen.
    </li>
    <li>
      <u>Zweikampf</u><br />
      Je höher der Zweikampf Wert, desto größer ist die Wahrscheinlichkeit einen defensiven Zweikampf zu gewinnen.
    </li>
    <li>
      <u>Passstärke</u><br />
      Die Fähigkeit Passstärke beeinflusst die mögliche Passweite und die (maximale) Dauer des Passes.
    </li>
    <li>
      <u>Passgenauigkeit</u><br />
      Eine höhere Passgenauigkeit verringert das Risiko, dass der Ball bei einem Pass an einem anderen als dem Zielort ankommt.
    </li>
    <li>
      <u>Flankenstärke</u><br />
      Die Fähigkeit Flankenstärke beeinflusst die mögliche Flankenweite und die (maximale) Dauer der Flanke.
    </li>
    <li>
      <u>Flankengenauigkeit</u><br />
      Eine höhere Flankengenauigkeit verringert das Risiko, dass der Ball bei einer Flanke an einem anderen als dem Zielort ankommt.
    </li>
    <li>
      <u>Schusskraft</u><br />
      Eine höhere Schusskraft erhöht die Chance eines Torerfolgs, sofern der Ball auf das Tor kommt (s. Schussgenauigkeit).
    </li>
    <li>
      <u>Schussgenauigkeit</u><br />
      Eine höhere Schussgenauigkeit erhöht die Chance, dass bei einem Schuss der Ball aufs Tor kommt sowie die Chance eines Torerfolgs
    </li>
    <li>
      <u>Kopfball</u><br />
    </li>
    <li>
      <u>Freistoß</u><br />
    </li>
    <li>
      <u>Elfmeter</u><br />
    </li>
    <li>
      <u>Reaktion</u><br />
    </li>
    <li>
      <u>Sprungkraft</u><br />
    </li>
    <li>
      <u>Ballsicherheit</u><br />
    </li>
    <li>
      <u>Beidfüßigkeit</u><br />
    </li>
  </ul>

  <h4>Verbessern der Spielerfertigkeiten</h4>
  Die Fähigkeiten der Spieler können durch Training verbessert werden. Die Wahrscheinlichkeit, dass sich ein Spieler in einer Fähigkeit verbessert ist von folgenden Faktoren abhängig:
  <ul>
    <li>
      <u>Dem bereits erreichten Level der Fähigkeit</u><br />
      Je höher eine Fähigkeit bereits ist, desto schwierigen ist es, den Spieler in dieser weiter zu verbessern.
    </li>
    <li>
      <u>Dem Alter des Spielers</u><br />
      Jüngere Spieler verbessern sich eher als alte.
    </li>
    <li>
      <u>Dem <a href="#uPlayerSkillsTalent">Talent</a> des Spielers</u><br />
    </li>
    <li>
      <u>Der aktuellen <a href="#uPlayerSkillsExperience">Erfahrung</a> des Spielers</u><br />
    </li>
    <li>
      <u>Der aktuellen Stärke der Mitspieler</u><br />
      Ist die Durchschnittsstärke der Mannschaft höher als die Stärke des einzelnen Spielers, erhöht sich die Wahrscheinlichkeit, dass dieser seine Fähigkeiten verbessert. Im Gegensatz dazu haben es gute Spieler schwerer, sich in einer schlechten Mannschaft zu verbessern.
    </li>
    <li>
      <u>Trainer</u><br />
      Je besser der <a href="#h3Staff">Co-Trainer/Jugendtrainer</a> ist, desto eher verbessern sich deine Spieler.
    </li>
    <li>
      <u>Trainingslager</u><br />
      Ein Trainingslager kann ebenfalls die Wahrscheinlichkeit erhöhen, dass sich ein Spieler in dieser Zeit verbessert.
    </li>
  </ul>

  <h3>Character</h3>
  <ul>
    <li>
      <u>Führungspersönlichkeit (FP)</u><br />
      Je höher der mittlere Wert der Führungspersönlichkeit einer Mannschaft ist, desto geringer wirken sich Gegentore negativ auf die Moral der Mannschaft aus.
    </li>
  </ul>

  <h3>Vertrag</h3>
  Soll ein Spieler am Transfermarkt erworben oder ein auslaufender Vertrag eines eigenen Spielers verlängert werden (über die Schaltfläche "Vertrag verlängern" in der Spieleransicht), muss ein neuer Vertrag ausgehandelt werden.
  <ul>
    <li>
      Zunächst sollte die gewünschte Vertragslaufzeit eingestellt werden (a). Hierdurch kann sich das geforderte Gehalt des Spielers ändern. Junge Spieler verlangen ein höheres Gehalt für lange Vertragslaufzeiten während es bei älteren Spielern umgekehrt ist.
    </li>
    <li>
      Über das Festlegen einer fixen Ablöse kann das geforderte Gehalt reduziert werden (b). Allerdings kann der Spieler dann ohne Zustimmung des Managers den Verein für diese Ablöse verlassen!
    </li>
    <li>
      Nun kann ein eigenes Angebot für das Jahresgehalt sowie Spiel- und Torprämie angegeben und über die Schaltfläche "verhandelt" dem Spieler übermittelt werden (c). Sofern der angebotene Vertrag nicht zu weit von den Vorstellungen des Spielers entfernt ist, wird dieser sich mit seinem Angebot annähern.<br />
      Dieser Schritt kann wiederholt werden, jedoch sinkt jeden Mal die Verhandlungsbereitschaft des Spielers. Fällt diese unter 0% bricht der Spieler die Verhandlungen ab und ist an einem neuen Vertrag nicht mehr interessiert.
    </li>
    <li>
      Ist der Manager mit dem Vertragsforderungen des Spielers zufrieden, kann er diesem über die Schaltfläche "Bestätigen" zustimmen (d).
    </li>
  </ul>
  <img src="~/Content/Images/user_manual/Nego2.png" width="380"/>

  <h2>Verein</h2>

  <div id="h3Finance" class="ckLink"></div>
  <h3>Finanzen</h3>
  Zu Beginn einer Saison kannst du eine Finanzplanung aufstellen. Somit bekommst du einen Überblick, wieviel Geld dir während der Saison zur Verfügung steht um neue Spieler zu kaufen oder das Stadion auszubauen. Ebenso können hier die Stadioneintrittspreise festgelegt werden.
  <div id="h4SecretMoney" class="ckLink"></div>
  <h4>Schwarzgeld</h4>
  Ein bestimmter Prozentsatz der Zuschauereinnahmen kann in deine schwarze Kasse umgeleitet werden. Mit dem Schwarzgeld kannst du anschließend deine Spieler dopen (s. <a href="#h4CFM">K/F/M</a>), den Schiedsrichter des nächsten Spiels <a href="#h2PreviewGame">bestechen</a> oder bei einem <a href="#h3Transfer">Transfer</a> ein Handgeld bezahlen.

  <div id="h3Sponsors" class="ckLink"></div>
  <h3>Sponsoren</h3>
  Spondoren sind eine wichtige Einnahmequelle. Es gibt zwei verschiedene Arten von Sponsoren: ein Hauptsponsor und Bandenwerbung. Der Hauptsponsor bieten dir einen einmaligen Sockelbetrag und erfolgsabhängige Leistungen an, während Bandenwerbungen bei jedem Heimspiel Geld generieren.<br />
  Zu Beginn des Spiels hast du nur ein Angebot eines Hauptsponsors. Mit fortschreitender Spieldauer wirst du aber weitere Angebote bekommen, die (abhängig von deinem Tabellenplatz) durchaus lukrativer sein können. Es lohnt sich also, hier hin und wieder mal vorbei zu schauen.<br />
  Um ein Sponsorenangebot anzunehmen, muss es in der jeweiligen Liste ausgewählt und die Schaltfläche "Sponsor wählen" gedrückt werden.

  <div id="h3Staff" class="ckLink"></div>
  <h3>Personal</h3>
  <ul>
    <li>
      <u>Co-Trainer</u><br />
      Je besser der Co-Trainer, desto wahrscheinlicher entwickeln sich die <a href="#h3PlayerSkills">Fähigkeiten</a> der Spieler.
    </li>
    <li>
      <u>Konditionstrainer</u><br />
      Je besser der Konditionstrainer, desto effektiver ist das Konditionstraining (s. auch <a href="#h4CFM">Kondition/Frische/Moral</a>).
    </li>
    <li>
      <u>Masseur</u><br />
      Je besser der Masseur, desto schneller regenerieren die Spieler (s. auch <a href="#h4CFM">Kondition/Frische/Moral</a>).
    </li>
    <li>
      <u>Mentaltrainer</u><br />
      Je besser der Mentaltrainer, desto geringer wirken sich Niederlagen auf die Moral aus.
    </li>
    <li>
      <u>Teamarzt</u><br />
      Je besser der Teamarzt, desto kürzer sind die Verletzungszeiten deiner Spieler.
    </li>
    <li>
      <u>Jugendtrainer</u><br />
      Je besser der Jugendtrainer, desto wahrscheinlicher entwickeln sich die <a href="#h3PlayerSkills">Fähigkeiten</a> der Jugendspieler.
    </li>
    <li>
      <u>Jugendscout</u><br />
      Je besser der Jugendscout, desto wahrscheinlicher schließt sich ein neuer Jugendspieler deinem Verein an.
    </li>
    <li>
      <u id="uKibitzer">Spielbeobachter</u><br />
      Je besser der Spielbeobachter, desto mehr Informationen erhältst du über deinen nächsten Gegner.
    </li>
  </ul>

  <h3>Stadion</h3>
  <h4>Ausbaukosten</h4>
  Die Kosten für den Ausbau der Stadionplätze ist abhängig von der Anzahl der neu zu bauenden Plätze und der bereits vorhandenen Plätze.<br />
  Je mehr Plätze gebaut werden und je mehr Plätze bereits vorhanden sind, desto teurer sind die Kosten pro Platz.

  <div id="chartContainerStadiumCost" style="position: relative; height: 300px; width: 100%"></div>

  <div style="position: relative">
    <h4>Oberring</h4>
    Wird ein Oberring gebaut, stehen 14 neue Stadionblöcke zur Verfügung.<br />
    Die Baukosten der Blöcke des Oberrings erhöhen sich um 50%. Untere Blöcke können nur noch bis zur Kapazität (abhängig vom Blocktyp) des größen Blocks des Unterings ausgebaut werden.
  </div>

  <div id="h4StadiumExtras" class="ckLink"></div>
  <h4>Stadionausstattung</h4>
  @{
    string sSnackbar = (400f / CornerkickManager.Stadium.iFeatureSpecReqSnackbar).ToString("0.0");
    string sToilets = (400f / CornerkickManager.Stadium.iFeatureSpecReqToilets).ToString("0.0");
    string sCounter = (400f / CornerkickManager.Stadium.iFeatureSpecReqTicketcounter).ToString("0.0");
    string sCarpark = (400f / CornerkickManager.Stadium.iFeatureSpecReqCarpark).ToString("0.0");
  }
  Folgende Stadionausstattungen stehen zur Verfügung, welche die (potentiellen) Zuschauerzahlen um bis zu 25% reduzieren, wenn sie nicht genügend vorhanden sind. Die Zahlen in Klammern geben an, welche Anzahl der jeweiligen Ausstattungen für 10.000 Stehplatz-, 8.000 Sitzplatz- und 400 VIP Zuschauer (mindestens) vorhanden sein muss, um eine Zuschauerreduktion zu vermeiden.
  <ul>
    <li>Imbissbuden (@sSnackbar)</li>
    <li>Toiletten (@sToilets)</li>
    <li>Ticketschalter (@sCounter)</li>
    <li>Parkplätze (@sCarpark)</li>
  </ul>
  Mit anderen Worten: @sCarpark Parkplätze genügen für 10.000 Stehplatz-, 8.000 Sitzplatz- und 400 VIP Zuschauer. Sind keine vorhanden reduziert sich die Anzahl der potentiellen Zuschauer um 25%.

  <h3>Vereinsgelände</h3>
  Auf dem Vereinsgelände können verschiedene Gebäudetypen (aus-)gebaut werden:
  <ul>
    <li>
      <u>Trainingsgelände</u><br />
      Jedes zusätzliche Level des Trainingsgeländes erhöht die Wahrscheinlichkeit der Weiterentwicklung der <a href="#h3PlayerSkills">Spielerfähigkeiten</a> deiner Profispieler.
    </li>
    <li>
      <u>Fittnessraum</u><br />
      Jedes zusätzliche Level der Fittnesseinrichtung erhöht den Konditionsgewinn pro Trainingseinheit.
    </li>
    <li>
      <u>Wellnessraum</u><br />
      Jedes zusätzliche Level der Wellnesseinrichtung erhöht den Frischegewinn pro Trainingseinheit.
    </li>
    <li>
      <u>Jugendinternat</u><br />
      Jedes zusätzliche Level des Jugendinternats erhöht die Wahrscheinlichkeit der Weiterentwicklung der <a href="#h3PlayerSkills">Spielerfähigkeiten</a> deiner Jugendspieler.
    </li>
    <li>
      <u>Vereinsheim</u><br />
      Jedes zusätzliche Level des Vereinsheims erhöht das Zuschaueraufkommen um 5%.
    </li>
    <li>
      <u>Vereinsmuseum</u><br />
      Der Zuschauerbonus für gewonnene Titel (+5% je Titel) wird mit dem aktuellen Level des Vereinsmuseums multipliziert.
    </li>
    <li>
      <u>Parkplätze</u><br />
      siehe <a href="#h4StadiumExtras">Stadionausstattung</a>
    </li>
    <li>
      <u>Ticketschalter</u><br />
      siehe <a href="#h4StadiumExtras">Stadionausstattung</a>
    </li>
  </ul>
  Um ein Gebäude bauen zu können, muss jedoch zunächst ein Grundstück erworben werden. Die Kosten für jedes neue Grundstück erhöhen sich um 50% zum vorherigen.
</div>

<div id="h2PreviewGame" class="ckLink"></div>
<h2>Spielvorschau</h2>
Die Spielvorschau lässt sich vom Hauptmenü über den link unter "Nächstes Spiel" öffnen. Dort sind alle Details zum nächsten Spiel zusammengefasst.<br />
Zudem kann hier der Schiedsrichter des nächsten Spiels mit <a href="#h4SecretMoney">Schwarzgeld</a> bestochen werden. Abhängig von der Summe die Sie ihm bezahlen (und der Summe die Ihr Gegner im bezahlt), wird er bis zu maximal 20% Fehlentscheidungen (bei einer Bestechungssumme von 100.000€) zu Ihren Gunsten treffen.

<h2>Büro</h2>
<div id="h3Transfer" class="ckLink"></div>
<h3>Transfermarkt</h3>
<h3>Live-Spiel</h3>
